if SOC_XWAY

menu "MIPS Machine"

config LANTIQ_MACH_EASY50712
	bool "Easy50712 - Danube"
	default y

config LANTIQ_MACH_ARV45XX
	bool "ARV45XX"
	default y

config LANTIQ_MACH_NETGEAR
	bool "Netgear"
	default y

config LANTIQ_MACH_GIGASX76X
	bool "GIGASX76X"
	default y

config LANTIQ_MACH_WBMR
	bool "WBMR-HP-G300H"
	default y

endmenu

endif

if SOC_AMAZON_SE

menu "MIPS Machine"

config LANTIQ_MACH_EASY50601
	bool "Easy50601 - Amazon SE"
	default y

endmenu

endif

if SOC_VR9

menu "MIPS Machine"

config LANTIQ_MACH_FRITZ3370
	bool "Fritz!Box 3370"
	default y

endmenu

endif
