#!/bin/sh

CONFIGFILE=/etc/aiccu.conf
TMPCONF=/etc/aiccu.conf.$$.dpkg-tmp
TMPFILE=/etc/aiccu.temp.$$.dpkg-tmp
BINARY=/usr/sbin/aiccu

# Note: the two temp files are placed in /etc thus should be symlink-attack safe

if [ ! -x $BINARY ]; then
	# Can't configure yet as we don't have our binary yet
	exit 0;
fi

# Make sure that files we create are not readable by anyone but us (root)
umask 077

. /usr/share/debconf/confmodule

if [ -e $CONFIGFILE ]; then
	USERNAME=$(grep ^username $CONFIGFILE | awk '{print $2}')
	PASSWORD=$(grep ^password $CONFIGFILE | awk '{print $2}')
	PROTO=$(grep ^protocol $CONFIGFILE | awk '{print $2}')
	SERVER=$(grep ^server $CONFIGFILE | awk '{print $2}')
	TUNNEL=$(grep ^tunnel_id $CONFIGFILE | awk '{print $2}')

	if [ "$USERNAME" != "" ]; then
		db_set aiccu/username "$USERNAME"
	fi

	if [ "$PASSWORD" != "" ]; then
		db_set aiccu/password "$PASSWORD"
	fi

	if [ "$PROTO" != "" -a "$SERVER" != "" ]; then
		db_set aiccu/brokername "$PROTO://$SERVER"
	fi

	if [ "$TUNNEL" != "" ]; then
		db_set aiccu/tunnelname "$TUNNEL"
	fi
fi


db_reset aiccu/badauth

#
# State What
#   1	Get Tunnel Brokername
#   2	Get User/pass
#   3	Get Tunnel ID
#   4	Exit

STATE=1
while [ $STATE -ge 1 -a $STATE -le 3 ]; do

	case "$STATE" in
	1)
		# Fetch the list of tunnel brokers
		BROKERS=$($BINARY brokers | sort >$TMPFILE)

		if [ "$?" != "0" ]; then
			# No TunnelBrokers found
			db_input high aiccu/nobrokers || true
			echo "No brokers"
		else
			# Found Tunnel brokers, present them to the user
			BROKERS=$(cat $TMPFILE | cut -f1 -d'|' | awk '{print $0","}')
			BROKERS=$(echo -n $BROKERS | sed 'N;s/\n//g' | sed 's/,$//g')
			db_subst aiccu/brokername brokers "$BROKERS"
			db_fset aiccu/brokername seen false
			db_input high aiccu/brokername || true
			db_go || true
		fi

		# Remove temporary file
		rm $TMPFILE
		;;

	2)
		# Request User / Pass
		db_input high aiccu/username || true
		db_input high aiccu/password || true
		db_go || true
		;;

	3)
		# Reset our temp config file
		echo "# Temporary AICCU config written by debconf" > $TMPCONF
		#echo "verbose true" >> $TMPCONF

		# Take the Protocol and server from the Brokername
		db_get aiccu/brokername
		URL=$($BINARY brokers | grep "$RET")
		PROTO=$(echo $URL | cut -f2 -d'|' | cut -f1 -d:)
		SERVER=$(echo $URL | cut -f2 -d'|' | cut -f3 -d/)

		echo "protocol $PROTO" >> $TMPCONF
		echo "server $SERVER" >> $TMPCONF

		db_get aiccu/username
		USERNAME="$RET"

		db_get aiccu/password
		PASSWORD="$RET"

		# Try to get the tunnels using the provided user/pass
		if [ "$USERNAME" != "" -a "$PASSWORD" != "" ]; then
			echo "username $USERNAME" >> $TMPCONF
			echo "password $PASSWORD" >> $TMPCONF

			TUNNELS=$($BINARY tunnels $TMPCONF >$TMPFILE)

			if [ "$?" != "0" ]; then
				db_input high aiccu/badauth || true
			else
				db_set aiccu/badauth "false"

				TUNNELS=$(cat $TMPFILE | cut -f1 -d' ' | awk '{print $0","}')
				TUNNELS=$(echo -n $TUNNELS | sed 'N;s/\n//g' | sed 's/,$//g')

				if [ "$TUNNELS" = "" ]; then
					db_input high aiccu/notunnels || true
				else
					db_subst aiccu/tunnelname tunnels "$TUNNELS"
					db_input high aiccu/tunnelname || true
					db_go || true
				fi
			fi

			# Remove temporary file
			rm $TMPFILE
		else
			db_set aiccu/badauth "false"
		fi

		# Remove the temporary as we don't need it anymore
		rm $TMPCONF
		;;
	esac

	db_go

	case "$STATE" in
	1)
		STATE=2
		;;
	2)
		STATE=3
		;;
	3)
		db_get aiccu/badauth

		# When badly authenticated do it all over
		if [ "$RET" = "true" ]; then
			STATE=1
			db_reset aiccu/brokername
			db_reset aiccu/username
			db_reset aiccu/password
			db_reset aiccu/tunnelname
		else
			STATE=4
		fi
		db_reset aiccu/badauth
		;;
	esac
done

