diff -urN SDK_3_1_0_0/RT288x_SDK/source/linux-2.6.21.x/arch/mips/Kconfig SDK_3_2_0_0/RT288x_SDK/source/linux-2.6.21.x//arch/mips/Kconfig
--- SDK_3_1_0_0/RT288x_SDK/source/linux-2.6.21.x/arch/mips/Kconfig	2008-08-06 05:28:24.000000000 +0200
+++ SDK_3_2_0_0/RT288x_SDK/source/linux-2.6.21.x//arch/mips/Kconfig	2008-10-24 08:20:15.000000000 +0200
@@ -17,6 +17,8 @@
 	bool
 config RALINK_RT2880_SHUTTLE
 	bool
+config RALINK_RT3052_MP2
+	bool
 choice
 	prompt "System type"
 
@@ -34,6 +36,20 @@
         help
          Ralink evaluation board based on RT2880
 
+config RALINK_RT2883
+        bool "Ralink RT2883 board"
+	select DMA_NONCOHERENT
+	select IRQ_CPU
+	select HW_HAS_PCI
+	select SWAP_IO_SPACE
+	select SYS_HAS_CPU_MIPS32_R1
+	select SYS_SUPPORTS_LITTLE_ENDIAN
+	select BOOT_ELF32
+	select SYS_SUPPORTS_32BIT_KERNEL
+	select RALINK_RT2883_MP
+        help
+         Ralink evaluation board based on RT2883
+
  config RALINK_RT3052
         bool "Ralink RT3052 board"
 	select DMA_NONCOHERENT
@@ -43,6 +59,7 @@
 	select SYS_SUPPORTS_LITTLE_ENDIAN
 	select BOOT_ELF32
 	select SYS_SUPPORTS_32BIT_KERNEL
+	select RALINK_RT3052_MP2
         help
          Ralink evaluation board based on RT3052
 
