# SPDX-License-Identifier: GPL-2.0
# Generic register map support.  There are no user servicable options here,
# this is an API intended to be used by other kernel subsystems.  These
# subsystems should select the appropriate symbols.

config REGMAP
	select IRQ_DOMAIN if REGMAP_IRQ
	select MDIO_BUS if REGMAP_MDIO
	tristate

config REGCACHE_COMPRESSED
	select LZO_COMPRESS
	select LZO_DECOMPRESS
	bool

config REGMAP_AC97
	select REGMAP
	tristate

config REGMAP_I2C
	select REGMAP
	tristate
	depends on I2C

config REGMAP_SLIMBUS
	select REGMAP
	tristate
	depends on SLIMBUS

config REGMAP_SPI
	select REGMAP
	tristate
	depends on SPI

config REGMAP_SPMI
	select REGMAP
	tristate
	depends on SPMI

config REGMAP_W1
	select REGMAP
	tristate
	depends on W1

config REGMAP_MDIO
	select REGMAP
	tristate

config REGMAP_MMIO
	select REGMAP
	tristate

config REGMAP_IRQ
	select REGMAP
	bool

config REGMAP_SOUNDWIRE
	select REGMAP
	tristate
	depends on SOUNDWIRE

config REGMAP_SOUNDWIRE_MBQ
	select REGMAP
	tristate
	depends on SOUNDWIRE

config REGMAP_SCCB
	select REGMAP
	tristate
	depends on I2C

config REGMAP_I3C
	select REGMAP
	tristate
	depends on I3C

config REGMAP_SPI_AVMM
	select REGMAP
	tristate
	depends on SPI
