config IXP400_ETH
	tristate "Intel IXP400 Ethernet Device support"
	depends on NET_ETHERNET && IXP400_LIB
	default m
	help
	  If you select M here, the Intel IXP400 Ethernet driver will be
	  compiled as part of the build.

	  To enable this option you must enable 'IXP400 Access Library' in the
	  'System Type' section.

	  In order for the driver to build correctly you must set up some
	  environment variables before building the kernel. See the README
	  files that accompany the IXP400 software or Linux Ethernet Driver
	  distribution for details.

	  Note that this driver is Intel proprietary code and must be obtained
	  from Intel Corp. See the README files that accompany the IXP400
	  software or Linux Ethernet Driver distribution for details.

	  The driver can be compiled only as a module, as linking it
	  statically into the kernel would violate the GPL. The module will be
	  called ixp400_eth.o

	  Select M if you have the IXP400 ethernet driver source code and wish
	  to include it in your build.

choice
	prompt "Intel IXP400 Ethernet Device Driver NPE support"
	depends IXP400_ETH
	default IXP400_ETH_ALL
	help
	  If you select 'All NPEs' option here, the Intel IXP400 Ethernet driver
	  will be compiled to configure all Ethernet NPEs and map "ixp0" device
	  to Ethernet NPE B and "ixp1" device to Ethernet NPE C
	  
	  If you select 'NPEB-only' option here, the Intel IXP400 Ethernet driver
	  will be compiled to map "ixp0" device to Ethernet NPE B.

	  If you select 'NPEC-only' option here, the Intel IXP400 Ethernet driver
	  will be compiled to map "ixp0" device to Ethernet NPE C.

	  See the README files that accompany the IXP400
	  software or Linux Ethernet Driver distribution for details.
		
config IXP400_ETH_ALL
	bool "All-NPEs"

config IXP400_ETH_NPEB_ONLY
	bool "NPEB-only"
	
config IXP400_ETH_NPEC_ONLY
	bool "NPEC-only"

endchoice

config IXP400_ETH_SKB_RECYCLE
	bool "Intel IXP400 Ethernet Device Driver Fast Skb Recycling support"
	depends IXP400_ETH
	default n
	help
	  If you select Y here, the Intel IXP400 Ethernet driver will be
	  compiled to internally recycle skbufs.

	  IMPORTANT: This option, if enabled, may NOT work with some
	  patched kernels.

	  If unsure select N here.

	  See the README files that accompany the IXP400
	  software or Linux Ethernet Driver distribution for details.
	
config IXP400_ETH_QDISC_ENABLED	
	bool "Intel IXP400 Ethernet Device Driver Fast QDisc support"
	depends IXP400_ETH
	default n
	help
	  If you select Y here, the Intel IXP400 Ethernet driver will be
	  compiled to internally use its own queueing discipline (qdisc).

	  IMPORTANT: This option may NOT work with some debug tools or
	  some kernel features.

	  If unsure select N here.

	  See the README files that accompany the IXP400
	  software or Linux Ethernet Driver distribution for details.

config IXP400_NAPI
	bool "IXP400 Ethernet Device Driver NAPI support"
	depends IXP400_ETH
	default n
	help
	  If you select Y here, the Intel IXP400 Ethernet driver will be
	  compiled to use the Linux kernel's NAPI polling interface.

	  See the README files that accompany the IXP400
	  software or Linux Ethernet Driver distribution for details.
