# frottle.conf v0.2
# Defaults shown commented out
#
# By default, frottle expects to find this file as /etc/frottle.conf
#
# This file _will_ need editing for frottle to work.
#

# Act as a master
#mastermode 0

# Act as a client
#clientmode 0


# Run as a daemon
# (If you use this, use 'killall -TERM frottle' to stop frottle)
#daemon 0

# Verbose messages
#verbose 0

# UDP port to use for control messages
#masterport 999



#### Client only settings ####

# Masters IP
#masterip

# Max packets in each of the queues
#queuesize 100

# High priority tcp/udp ports (max. 10)
#hiports 22,53

# Wireless interface, for gathering stats from wireless tools
#winterface eth1

# Optional stats file path/name (html format)
#statsfile



#### Maser only settings ####

# Act as a client to ourselves
# This gives the master much more bandwidth than 'clientmode 1'
# (which is also valid to do at the master)
#selfclient 0

# The time the master waits for clients to respond that
# they have completed their poll sequence (in mS).
#timeout 100

# Poll parameters (too complex to explain here, see 'man frottle')
#pollparams 60000,10,6000,7,5000,5,4000

# Info file path/name (html format)
#infofile /tmp/frottle.html
