#!/bin/sh
cat<<EOF
<% do_pagehead(); %>>
		<title><% nvram_get("router_name"); %> - Phonebook</title>
		<script type="text/javascript"><!--

document.title = "<% nvram_get("router_name"); %>" + sipath.phone_titl;

function navarr(){}
navset=new navarr();
navres=new navarr();

function set(idx){
  if(!!navset[idx]){
    document.images[idx].src=navset[idx].src;
  }
}

function res(idx){
  if(!!navres[idx]){
    document.images[idx].src=navres[idx];
  }
}

function ini() {
  if (!!document.images){
    for(var idx=0; idx<document.images.length; idx++){
      var src=document.images[idx].src;
      var pos=src.indexOf('_white.gif');
      if (0<pos) {
        navres[idx]=src;
        src=src.substring(0, src.indexOf('_white.gif'))+'_red.gif';
        navset[idx]=new Image(document.images[idx].width, document.images[idx].height);
        navset[idx].src=src;
        document.images[idx].onmouseover=new Function("if(!!window.set)set("+idx+");");
        document.images[idx].onmouseout=new Function("if(!!window.res)res("+idx+");");
      }
      else if (!document.images[idx].mozbug && !!src.search &&
        0<=src.search(new RegExp('progress[0-9]+\\.gif$')))
      {
        document.images[idx].mozbug=1;
        document.images[idx].src='';
        document.images[idx].src=src;
      }
    }
  }
}
		//--></script>
	</head>
	
	<body onload="if(null!=window.ini)window.ini()">
	</script></head>
	
	<body class="gui">
		<div id="wrapper">
			<div id="content">
				<div id="header">
					<div id="logo"><h1><% show_control(); %></h1></div>
				<% do_menu("Sipath.asp","cgi-bin-mf-phonebook.html"); %>
				</div>


		<script type="text/javascript"><!--
function help(e) {
  if (!e) e = event;
  // (virt)KeyVal is Konqueror, charCode is Moz/Firefox, else MSIE, Netscape, Opera
  if (26 == e.virtKeyVal || !e.keyVal && !e.charCode && 112 == (e.which || e.keyCode)) {
    var o = null;
    if (e.preventDefault) {
      if (e.cancelable) e.preventDefault();
      o = e.target;
    }
    else {
      e.cancelBubble = true;
      o = e.srcElement;
    }
    while(o && '' == o.title) o = o.parentNode;
    if (o) alert(o.title);
  }
}
if (document.all) {
  document.onkeydown = help;
  document.onhelp = function(){return false;}
}
else {
  document.onkeypress = help;
}
//--></script>

EOF

if [ "$REQUEST_METHOD" = "POST" ]; then
  read QUERY_STRING
fi
if [ -n "$QUERY_STRING" ]; then
  eval $(echo "$QUERY_STRING"|awk -F'&' '{for(i=1;i<=NF;i++){print $i}}')
fi


if [ -n "$post_savedb" ]; then

cat<<EOF
<div id="main">
<div id="contents">
<h2>Phonebook: Save Database</h2>
  <form action="cgi-bin-mf-phonebook.html" method="post"><table border="1"
  cellpadding="0" cellspacing="0" class="form"><tbody><tr><td>
EOF

if [ $(nvram get sip_domain) ];
    then export SIP_DOMAIN=$(nvram get sip_domain);
    else export SIP_DOMAIN=$(ifconfig $(nvram get lan_ifname)|awk 'sub("inet addr:","") {print $1}');
fi;
serctl stop ser|awk 'sub("", "<br>") {print}'; sleep 3s;
echo "<br>cp /var/dbtext/ser/aliases /tmp/ser/ <br>";
cp /var/dbtext/ser/aliases /tmp/ser/;
echo "cp /var/dbtext/ser/location /tmp/ser/ <br>";
cp /var/dbtext/ser/location /tmp/ser/;
echo "cp /var/dbtext/ser/subscriber /tmp/ser/ <br>";
cp /var/dbtext/ser/subscriber /tmp/ser/;
echo "cp /var/dbtext/ser/version /tmp/ser/ <br>";
cp /var/dbtext/ser/version /tmp/ser/;
serctl start ser|awk 'sub("", "<br>") {print}'; sleep 3s;
#route -n|awk '
#function td(s) {
#  printf("<TD ALIGN="left" STYLE=\"padding:0 2 0 2;font-size:9px;\">%s</TD>", s);
#}
#function ip(s) {
##  if(s!~/\.0$/) {
##    td(sprintf("<A HREF=\"http://%s/\">%s</A>", s, s));
##  }
##  else {
#    td(s);
##  }
#
#}
#BEGIN {
#  print "<TABLE BORDER=\"0\" CELLPADDING=\"3\" CELLSPACING=\"1\">";
#}
#/^[0-9]/ {
#  printf "<TR>";
#  ip($1);
#  ip($2);
#  for(i=3;i<=NF;i++) td($i);
#  printf "</TR>\n";
#}
#/^Destination/ {
#  printf "<TR>";
#  for(i=1;i<=NF;i++) printf("<TH ALIGN=\"left\" STYLE=\"padding:0 2 0 2;\">%s</TH>", $i);
#  printf "</TR>\n";
#}
#END {
#  print "</TABLE>";
#}'


cat<<EOF
<div id="main">
<div id="contents">

</td></tr><tr><td></td></tr><tr><td><input
  name="post_contacts"
  title="Contacts"
  type="submit" value="Contacts" />
  <input
  name="post_details"
  title="Details"
  type="submit" value="Details" />
  <input
  name="post_flushdb"
  title="Flush Database"
  type="submit" value="Flush Database" />
  <input
  name="post_savedb"
  title="Save Database"
  type="submit" value="Save Again" /></td></tr></tbody></table></form>
EOF

elif [ -n "$post_flushdb" ]; then

cat<<EOF
<div id="main">
<div id="contents">

<h2>Phonebook: Flush Database</h2>
  <form action="cgi-bin-mf-phonebook.html" method="post"><table border="1"
  cellpadding="0" cellspacing="0" class="form"><tbody><tr><td>
EOF

if [ $(nvram get sip_domain) ];
    then export SIP_DOMAIN=$(nvram get sip_domain);
    else export SIP_DOMAIN=$(ifconfig $(nvram get lan_ifname)|awk 'sub("inet addr:","") {print $1}');
fi;
serctl stop ser|awk 'sub("", "<br>") {print}'; sleep 3s;
echo "<br>Emptying /var/dbtext/ser/aliases <br>";
echo "username(str) domain(str,null) contact(str,null) expires(int,null) q(double,null) callid(str,null) cseq(int,null) last_modified(str,null) replicate(int,null) state(int,null) flags(int) user_agent(str) received(str,null)" > /var/dbtext/ser/aliases;
echo "<br>Emptying  /var/dbtext/ser/location <br>";
echo "username(str) domain(str,null) contact(str,null) expires(int,null) q(double,null) callid(str,null) cseq(int,null) last_modified(str,null) replicate(int,null) state(int,null) flags(int) user_agent(str) received(str,null)" > /var/dbtext/ser/location;
echo "<br>Emptying /var/dbtext/ser/subscriber <br>";
echo "sername(str) domain(str) password(str) first_name(str) last_name(str) phone(str) email_address(str) datetime_created(int) datetime_modified(int) confirmation(str) flag(str) sendnotification(str) greeting(str) ha1(str) ha1b(str) perms(str) allow_find(str) timezone(str,null) rpid(str,null) uuid(str,null)" > /var/dbtext/ser/subscriber;
echo "<br>Emptying /var/dbtext/ser/version <br>";
echo "table_name(str) table_version(int)
subscriber:3
location:6
aliases:6" > /var/dbtext/ser/version;
serctl start ser|awk 'sub("", "<br>") {print}'; sleep 3s;
echo "Done <br>";

cat<<EOF
</td></tr><tr><td></td></tr><tr><td><input
  name="post_contacts"
  title="Contacts"
  type="submit" value="Contacts" />
  <input
  name="post_details"
  title="Details"
  type="submit" value="Details" />
  <input
  name="post_flushdb"
  title="Flush Database"
  type="submit" value="Flush Again" />
  <input
  name="post_savedb"
  title="Save Database"
  type="submit" value="Save Database" /></td></tr></tbody></table></form>
EOF

elif [ -n "$post_details" ]; then

#if [ -n "$post_details" ]; then
#else

cat<<EOF
<div id="main">
<div id="contents">

<h2>Phonebook: Details</h2>
  <form action="cgi-bin-mf-phonebook.html" method="post"><table border="1" cellpadding="0"
  cellspacing="0" class="form" width="548"><tbody><tr><td>SER Userlist:</td>
  <td>Contact Details$(if [ $(nvram get sip_domain) ];
    then export SIP_DOMAIN=$(nvram get sip_domain);
    else export SIP_DOMAIN=$(ifconfig $(nvram get lan_ifname)|awk 'sub("inet addr:","") {print $1}'); fi;
  serctl ul show| grep "^domain    :\|^aor       :\|^Contact\|^Expires\|^Call-ID\|^User-Agent\|^State" | \
  sed -e "s/^\(domain \)/======================================\n\1/" | awk 'sub("", "<br>") {print}';)</td></tr>
  <tr><td><input name="post_rmaor" title="Remove AOR" type="submit" value="Remove" /></td><td>$(if [ $(nvram get sip_domain) ];
    then export SIP_DOMAIN=$(nvram get sip_domain);
    else export SIP_DOMAIN=$(ifconfig $(nvram get lan_ifname)|awk 'sub("inet addr:","") {print $1}'); fi;
  serctl ul show | grep 'aor   :' | awk 'sub("","") {print $3}' | cut -f2 -d"'" | awk '
  function td(s) {
  printf("1 %s 2", s);
  }
  function ip(s) {
  #  if(s!~/\.0$/) {
  #    td(sprintf("<A HREF=\"http://%s/\">%s</A>", s, s));
  #  }
  #  else {
     td(s);
     #  }
    }
    BEGIN {
    print "<SELECT NAME=\"AOR\"><OPTION VALUE=\"\">Select for removal<\/OPTION>";
    }
    /^[0-9]/ {
    printf "<OPTION VALUE=\"";
    for(i=1;i<=NF;i++)  {
     printf("%s", $i);
     printf "\">";
     printf("%s", $i);
     printf "<\/OPTION>";
    }
    printf "";
   }
   /^[a-z]/ {
    printf "<OPTION VALUE=\"";
    for(i=1;i<=NF;i++)  {
     printf("%s", $i);
     printf "\">";
     printf("%s", $i);
     printf "<\/OPTION>";
    }
    printf "";
   }
   /^sip:/ {
    printf "<OPTION VALUE=\"";
    for(i=1;i<=NF;i++) {
     printf("%s", $i);
     printf "\">";
     printf("%s", $i);
     printf "<\/OPTION>";
    }
   printf "";
  }
  END {
 print "";
 }')</td></tr>
 <tr><td></td><td></td></tr>
 <tr><td></td><td></td></tr>
 <tr><td>Alias:</td><td>$(if [ $(nvram get sip_domain) ];
    then export SIP_DOMAIN=$(nvram get sip_domain);
    else export SIP_DOMAIN=$(ifconfig $(nvram get lan_ifname)|awk 'sub("inet addr:","") {print $1}'); fi;
  serctl ul show | grep 'Contact   :' | awk 'sub("","") {print $3}' | cut -f2 -d"'" | awk '
  function td(s) {
  printf("1 %s 2", s);
  }
  function ip(s) {
  #  if(s!~/\.0$/) {
  #    td(sprintf("<A HREF=\"http://%s/\">%s</A>", s, s));
  #  }
  #  else {
     td(s);
     #  }
    }
    BEGIN {
    print "<SELECT NAME=\"URI\"><OPTION VALUE=\"\">Choose URI for Alias<\/OPTION>";
    }
    /^[0-9]/ {
    printf "ta";
    ip($1);
    ip($2);
    for(i=3;i<=NF;i++) td($i);
    printf "da\n";
   }
   /^sip:/ {
    printf "<OPTION VALUE=\"";
    for(i=1;i<=NF;i++) {
     printf("%s", $i);
     printf "\">";
     printf("%s", $i);
     printf "<\/OPTION>";
    }
   printf "";
  }
  END {
 print "";
 }')</td></tr>
 <!--<tr><td></td><td></td></tr>-->
 <TR TITLE="Enter alias here"><TD></TD><TD><INPUT NAME="newalias" SIZE="32" TYPE="TEXT" VALUE="aka">
 <input name="post_newalias" title="Add Alias" type="submit" value="Add" />
 <input name="post_rmalias" title="Remove Alias" type="submit" value="Remove" /></TD>
 </TR>

  <tr><td colspan="2"><input
  name="post_contacts"
  title="Contacts"
  type="submit" value="Contacts" />
  <input
  name="post_details"
  title="Details"
  type="submit" value="Reload" />
  <input
  name="post_flushdb"
  title="Flush Database"
  type="submit" value="Flush Database" />
  <input
  name="post_savedb"
  title="Save Database"
  type="submit" value="Save Database" /></td></tr></tbody></table></form>
EOF


#if [ $(nvram get sip_domain) ];
#  | grep "^aor       :\|^User-Agent: 'SIP Express Router FIFO'" | \
#    then export SIP_DOMAIN=$(nvram get sip_domain);
#    else export SIP_DOMAIN=$(ifconfig $(nvram get lan_ifname)|awk 'sub("inet addr:","") {print $1}'); fi;
#serctl restart ser|awk 'sub("", "<br>") {print}'; sleep 3s;


elif [ -n "$post_newalias" ]; then

cat<<EOF
<div id="main">
<div id="contents">

<h2>Phonebook: Alias addition</h2>
<form action="cgi-bin-mf-phonebook.html" method="post"><table border="1" cellpadding="0"
cellspacing="0" class="form" width="548"><tbody><tr><td>
EOF

#test -z "$(nvram get ff_lan_proto)" && lan_proto=noconfig;
 if [ $(nvram get sip_domain) ];
 then export SIP_DOMAIN=$(nvram get sip_domain);
 else export SIP_DOMAIN=$(ifconfig $(nvram get lan_ifname)|awk 'sub("inet addr:","") {print $1}'); fi;
# echo "$URI <br>";
 echo "serctl alias add $newalias $(echo "$URI" | sed -n -f html.sed) <br>";
 serctl alias add $newalias $(echo "$URI" | sed -n -f html.sed;);
 echo "<br>";

cat<<EOF
  </td></tr><tr><td colspan="7"><input name="post_contacts"
  title="Contacts"
  type="submit" value="Contacts" />
  <input
  name="post_details"
  title="Details"
  type="submit" value="Details" />
  <input
  name="post_flushdb"
  title="Flush Database"
  type="submit" value="Flush Database" />
  <input
  name="post_savedb"
  title="Save Database"
  type="submit" value="Save Database" /></td></tr></tbody></table></form>
EOF

elif [ -n "$post_rmalias" ]; then

cat<<EOF
<div id="main">
<div id="contents">

<h2>Phonebook: Alias removal</h2>
<form action="cgi-bin-mf-phonebook.html" method="post"><table border="1" cellpadding="0"
cellspacing="0" class="form" width="548"><tbody><tr><td>
EOF

#test -z "$(nvram get ff_lan_proto)" && lan_proto=noconfig;
 if [ $(nvram get sip_domain) ];
 then export SIP_DOMAIN=$(nvram get sip_domain);
 else export SIP_DOMAIN=$(ifconfig $(nvram get lan_ifname)|awk 'sub("inet addr:","") {print $1}'); fi;
# echo "$URI <br>";
 echo "serctl alias rm $newalias <br>";
 serctl alias rm $newalias;
 echo "<br>";

cat<<EOF
  </td></tr><tr><td colspan="7"><input name="post_contacts"
  title="Contacts"
  type="submit" value="Contacts" />
  <input
  name="post_details"
  title="Details"
  type="submit" value="Details" />
  <input
  name="post_flushdb"
  title="Flush Database"
  type="submit" value="Flush Database" />
  <input
  name="post_savedb"
  title="Save Database"
  type="submit" value="Save Database" /></td></tr></tbody></table></form>
EOF

elif [ -n "$post_rmaor" ]; then

cat<<EOF
<div id="main">
<div id="contents">

<h2>Phonebook: URI removal</h2>
<form action="cgi-bin-mf-phonebook.html" method="post"><table border="1" cellpadding="0"
cellspacing="0" class="form" width="548"><tbody><tr><td>
EOF

#test -z "$(nvram get ff_lan_proto)" && lan_proto=noconfig;
 if [ $(nvram get sip_domain) ];
 then export SIP_DOMAIN=$(nvram get sip_domain);
 else export SIP_DOMAIN=$(ifconfig $(nvram get lan_ifname)|awk 'sub("inet addr:","") {print $1}'); fi;
# echo "$URI <br>";
 echo "serctl ul rm $AOR <br>";
 serctl ul rm $AOR;
 echo "<br>";

cat<<EOF
  </td></tr><tr><td colspan="7"><input name="post_contacts"
  title="Contacts"
  type="submit" value="Contacts" />
  <input
  name="post_details"
  title="Details"
  type="submit" value="Details" />
  <input
  name="post_flushdb"
  title="Flush Database"
  type="submit" value="Flush Database" />
  <input
  name="post_savedb"
  title="Save Database"
  type="submit" value="Save Database" /></td></tr></tbody></table></form>
EOF


elif [ -n "$post_sendmsg" ]; then

cat<<EOF
<div id="main">
<div id="contents">

<h2>Phonebook: SIP Messaging</h2>
<form action="cgi-bin-mf-phonebook.html" method="post"><table border="1" cellpadding="0"
cellspacing="0" class="form" width="548"><tbody><tr><td>
EOF


##test -z "$(nvram get ff_lan_proto)" && lan_proto=noconfig;
# if [ $(nvram get sip_domain) ];
# then export SIP_DOMAIN=$(nvram get sip_domain);
# else export SIP_DOMAIN=$(ifconfig $(nvram get lan_ifname)|awk 'sub("inet addr:","") {print $1}'); fi;
## echo "$URI <br>";
# echo "serctl ul rm $AOR <br>";
# serctl ul rm $AOR;
# echo "<br>";

#  echo ("cat > /tmp/ser_fifo <<EOF
echo "Sending message...<br>";
echo ":t_uac_dlg:ser_fifo_replies
MESSAGE
$(echo "$URI" | sed -n -f html.sed;)
.
From: sip:mf@$(nvram get sip_domain)
To: $(echo "$URI" | sed -n -f html.sed;)
foo: bar_special_header
x: y
p_header: p_value
Contact: <sip:devnull@$(nvram get sip_domain):9>
Content-Type: text/plain; charset=UTF-8
.
$(echo "$sendmsg" | sed -n -f html.sed)
.
EOF" > /tmp/msg;
#  cat /tmp/msg;
  mkfifo -m 666 /tmp/ser_fifo_replies;
  cat /tmp/msg > /tmp/ser_fifo;
  echo "<br>";
  cat /tmp/ser_fifo_replies | awk 'sub("", "<br>") {print}';
  echo "<br>";
  rm /tmp/ser_fifo_replies;
  #if [ $(nvram get sip_domain) ];
  #then export SIP_DOMAIN=$(nvram get sip_domain);
  #else export SIP_DOMAIN=$(ifconfig $(nvram get lan_ifname)|awk 'sub("inet addr:","") {print $1}'); fi;
  #serctl restart | awk 'sub("", "<br>") {print}';

cat<<EOF
  </td></tr><tr><td colspan="7"><input name="post_contacts"
  title="Contacts"
  type="submit" value="Contacts" />
  <input
  name="post_details"
  title="Details"
  type="submit" value="Details" />
  <input
  name="post_flushdb"
  title="Flush Database"
  type="submit" value="Flush Database" />
  <input
  name="post_savedb"
  title="Save Database"
  type="submit" value="Save Database" /></td></tr></tbody></table></form>
EOF


#elif [ -n "$post_contacts" ]; then
#cat<<EOF
#<meta http-equiv="refresh" content="0; URL=http://$(nvram get lan_ipaddr)/mf.html">
#EOF


else

cat<<EOF
<div id="main">
<div id="contents">

<h2>Phonebook: Contacts</h2>
  <form action="cgi-bin-mf-phonebook.html" method="post"><table border="1" cellpadding="0"
  cellspacing="0" class="form" width="548"><tbody><tr><td>Active URIs</td><td>
  Phone URI / Alias $(if [ $(nvram get sip_domain) ];
    then export SIP_DOMAIN=$(nvram get sip_domain);
    else export SIP_DOMAIN=$(ifconfig $(nvram get lan_ifname)|awk 'sub("inet addr:","") {print $1}'); fi;
  serctl ul show | grep 'aor   :' | awk 'sub("","") {print $3}' | \
  sed -e "s/^\('\)/======================================\n\1/" | awk 'sub("", "<br>") {print}';)
  <br>======================================<br>
  <tr><td>Messaging:</td><td>$(if [ $(nvram get sip_domain) ];
    then export SIP_DOMAIN=$(nvram get sip_domain);
    else export SIP_DOMAIN=$(ifconfig $(nvram get lan_ifname)|awk 'sub("inet addr:","") {print $1}'); fi;
  serctl ul show | grep 'Contact   :' | awk 'sub("","") {print $3}' | cut -f2 -d"'" | awk '
  function td(s) {
  printf("1 %s 2", s);
  }
  function ip(s) {
  #  if(s!~/\.0$/) {
  #    td(sprintf("<A HREF=\"http://%s/\">%s</A>", s, s));
  #  }
  #  else {
     td(s);
     #  }
    }
    BEGIN {
    print "<SELECT NAME=\"URI\"><OPTION VALUE=\"\">Choose recipient<\/OPTION>";
    }
    /^[0-9]/ {
    printf "ta";
    ip($1);
    ip($2);
    for(i=3;i<=NF;i++) td($i);
    printf "da\n";
   }
   /^sip:/ {
    printf "<OPTION VALUE=\"";
    for(i=1;i<=NF;i++) {
     printf("%s", $i);
     printf "\">";
     printf("%s", $i);
     printf "<\/OPTION>";
    }
   printf "";
  }
  END {
 print "";
 }')</td></tr>
 <!--<tr><td></td><td></td></tr>-->
 <TR TITLE="Enter Message here"><TD></TD><TD><INPUT NAME="sendmsg" SIZE="32" TYPE="TEXT" VALUE="">
 <!--<input name="post_sendmsg" title="Send" type="submit" value="Send" />--></TD>
 </td></tr>

EOF

cat<<EOF
</td></tr><tr><td colspan="7"><input name="post_sendmsg"
  title="Send Message"
  type="submit" value="Send" />
  <input
  name="post_details"
  title="Details"
  type="submit" value="Details" />
  <input
  name="post_flushdb"
  title="Flush Database"
  type="submit" value="Flush Database" />
  <input
  name="post_savedb"
  title="Save Database"
  type="submit" value="Save Database" /></td></tr></tbody></table></form>
EOF

fi

cat<<EOF
	    </div>
	    </div>
				<div id="helpContainer">
					<div id="help">
						<div id="logo">
						<h2>Help</h2>
						</div>
					<br />
					<!--<a href="javascript:openHelpWindow('HManagement.asp')"><% tran("share.more"); %></a>-->
					</div>
				</div>
				<div id="floatKiller"></div>
				<% do_statusinfo(); %>
			</div>
		</div>
	</body>
</html>
EOF
