@import url(../common.css);
#menuSub,
#menuMainList li span, 
#help h2 {
background:#c00;
color:#fff;
border-color:#e33 #800 #800 #e33;
}
#menuSubList li a {
background:#d55;
color:#fcc;
border-color:#e77 #c44 #c44 #e77;
}
#menuSubList li a:hover {
background:#e77;
color:#fff;
border-color:#f99 #d55 #d55 #f99;
}
fieldset legend {
color:#c00;
}
#help a {
color:#fcc;
}
#help a:hover {
color:#fff;
}
.meter .bar {
background-color: #d55;
}
.meter .text {
color:#fff;
}
.progressbar {
background-color: #fff;
border-color: #999;
font-size:.09em;
border-width:.09em;
}
.progressbarblock {
background-color: #d55;
font-size:.09em;
}
input.button {
background: #d55;
color: #fcc;
}
input.button:hover {
background: #e77;
color: #fff;
}