body {
	background-color: #e2e2e2;
	font-family: sans-serif;
	font-size: 10pt;
}
div.rightmenu {
	float: right;
	margin-top: 20px;
	margin-right: 10px;
	text-align: center;
	width: 150px;
}
div.expando {
	width: 150px;
	text-align: center;
	margin-bottom: 5px;
	position: relative;
	z-index: 150;
}
div.slidingheader {
	border: 1px solid black;
	background-image: url(slidingheader.gif);
	background-repeat: repeat-x;
	background-position: 0 0;
	width: 100%;
	background-color: white;
	text-align: center;
	font-weight: bold;
	padding: 1px 0px 1px 0px;
	cursor: pointer;
}
div.slidingbody, div.slidingbodyshow {
	border-top: none;
	background-color: white;
	width: 100%;
	overflow: hidden;
	clip: auto;
	text-align: left;
	padding-left: 3px;
	padding-right: 3px;
}
div.slidingbody {
	height: 1px;
}
div.slidingbodyshow center {
	font-weight: bold;
	font-size: 10pt;
	margin-top: 5px;
	margin-bottom: 5px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
div.controls {
	position: absolute;
	bottom: 10px;
	left: 10px;
	z-index: 1;
}
div.mainarea {
	position: absolute;
	width: 98%;
	height: 98%;
	bottom: 2px;
	top: 2px;
	left: 2px;
	right: 2px;
	overflow: hidden;
}
div.poweredby {
	position: absolute;
	bottom: 5px;
	right: 5px;
	font-size: 8pt;
	font-style: italic;
	text-align: right;
	z-index: 149;
}
div.div3d {
	position: absolute;
	font-style: italic;
	font-size: 8pt;
	text-align: center;
}
div.gridpoint {
	background-color: black;
	width: 3px;
	height: 3px;
	position: absolute;
	font-size: 0px;
}
.glow {
	position: absolute;
	cursor: pointer;
}
.sizeimage {
	position: relative;
	cursor: pointer;
}
img.logo {
	position: absolute;
	z-index: 0;
	top: 30%;
	left: 30%;
}
select {
	text-align: center;
}
iframe.wiviz {
	display: none;
}
span.title3d {
	background-color: #e2e2e2;
}
a.action {
	color: black;
	display: block;
	margin-bottom: 3px;
	text-align: center;
}
a.actionunimplemented {
	display: none;
}
span.actionlist {
	text-align: center;
	display: none;
}
div#debugger {
	position: absolute;
	z-index: 200;
}
img {
	border: none;
}
