body {
  font-family: Tahoma, Arial, sans-serif;
  font-size: 14px;
}
select.hop {
  width: 5rem;
  border-radius: 4px;
  height: 1.5rem;
  position: absolute;
  right: 0;
}
#detail_info {
  width: 185px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}
.sidemenu {
  position: relative;
  float: left;
  top: 70px;
  left: 2px;
  width: 200px;
}
.slidingbody {
  overflow: hidden;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 0 6px 0 6px;
}
.slidingbodyshow {
  overflow: hidden;
  border-radius: 4px;
  padding: 6px;
}
.expander {
  position: relative;
  z-index: 150;
}
.align-top {
  top: 0;
}
input[type='checkbox'] {
  accent-color: var(--it-c, #30519c);
}
.button {
  background: var(--ac-0, #30519c);
  border: 1px solid var(--ac-0, #30519c);
  color: var(--tx-c, #fff);
  width: 180px;
  height: 1rem;
  padding: .2em .6em;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
}
.button:hover {
  background: var(--ac-2, #6384cf);
  border: 1px solid var(--ac-2, #6384cf);
  color: var(--tx-c, #fff);
}
.button:focus, select:focus,
.button:focus-visible, select:focus-visible {
  border: 1px solid var(--ac-2, #6384cf);
  box-shadow: 0 0 5px 1px var(--ac-2, #6384cf);
  outline: 0;
}
.setting {
  position: relative;
  margin-bottom: .353em;
  line-height: 1.7;
  white-space: nowrap
}
.bold {
  font-weight: bold;
}
.center {
  text-align: center;
}
center {
  font-weight: bold;
  margin-top: 6px;
  margin-bottom: 6px;
  padding: 3px;
}
h2 {
  background-color: #777674;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  margin-top: 6px;
  margin-bottom: 6px;
  padding: 3px;
  text-align: center;
  border-radius: 4px;
}
.controls {
  position: absolute;
  bottom: 18px;
  left: 5px;
  z-index: 1;
}
.controls a {
  height: 45px;
  width: 45px;
  margin-right: -5px;
  display: inline-block;
}
.controls > a > img {
  transition: all .15s cubic-bezier(0.3, 0, 0.5, 1);
}
.controls > a > img {
  height: 45px;
  width: 45px;
}
.controls > a > img:hover {
  filter: brightness(1.2);
}
.controls > a:focus-visible {
  outline: 2px dashed var(--ac-0, #30519c);
  outline-offset: -2px;
  border-radius: 6px;
}
.mainarea {
  position: absolute;
  width: 79%;
  height: 98%;
  bottom: 2px;
  top: 2px;
  left: 206px;
  right: 2px;
  overflow: hidden;
}
.poweredby {
  position: absolute;
  bottom: 5px;
  right: 10px;
  font-size: 8pt;
  font-style: italic;
  text-align: right;
  z-index: 149;
}
.div3d {
  position: absolute;
  font-style: italic;
  font-size: 8pt;
  text-align: center;
}
.gridpoint {
  width: 4px;
  height: 4px;
  position: absolute;
  border-radius: 1px;
}
.glow {
  position: absolute;
  margin-left: 3px;
  opacity: .8;
  cursor: pointer;
  z-index: 1;
}
.logo {
  position: absolute;
  top: 5px;
  left: 10px;
  z-index: 0;
}
.hide-me {
  display: none;
}
.sizeimage {
  cursor: help;
}
iframe.wiviz, a.actionunimplemented {
  display: none;
}
a.action {
  display: block;
  margin-bottom: 3px;
  text-align: center;
}
.actionlist {
  text-align: center;
  display: none;
}
