body {
  font-family: Tahoma, Arial, sans-serif;
  font-size: 14px;
  letter-spacing: -.01em;
}
select {
  border-radius: 4px;
  height: 1.7em;
}
#detail_info {
  width: 185px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}
div.rightmenu {
  float: right;
  right: 20px;
  top: 5px;
  position: relative;
  width: 177px;
}
div.expando {
  position: relative;
  z-index: 150;
}
div.button {
  background: #30519c;
  border: 1px solid #30519c;
  color: #fff;
  width: 180px;
  padding: .2em .6em;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
}
div.button:hover {
  background: #6384cf;
  border: 1px solid #6384cf;
  color: #fff;
}
div.slidingbody {
  width: 197px;
  overflow: hidden;
}
div.slidingbodyshow {
  text-align: left;
  width: 100%;
  padding: 10px;
}
div.slidingbodyshow center {
  font-weight: bold;
  margin-top: 6px;
  margin-bottom: 6px;
  padding: 3px;
}
div.controls {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 1;
}
div.mainarea {
  position: absolute;
  width: 98%;
  height: 98%;
  bottom: 2px;
  top: 2px;
  left: 2px;
  right: 2px;
  overflow: hidden;
}
div.poweredby {
  position: absolute;
  bottom: 5px;
  right: 10px;
  font-size: 8pt;
  font-style: italic;
  text-align: right;
  z-index: 149;
}
div.div3d {
  position: absolute;
  font-style: italic;
  font-size: 8pt;
  text-align: center;
}
div.gridpoint {
  width: 4px;
  height: 4px;
  position: absolute;
  border-radius: 1px;
}
.glow {
  position: absolute;
  cursor: pointer;
  filter: opacity(1) !important;
}
img.logo {
  position: absolute;
  z-index: 0;
  top: 30%;
  left: 30%;
}
.sizeimage {
  cursor: help;
}
iframe.wiviz {
  display: none;
}
a.action {
  display: block;
  margin-bottom: 3px;
  text-align: center;
}
a.actionunimplemented {
  display: none;
}
span.actionlist {
  text-align: center;
  display: none;
}
div#debugger {
  position: absolute;
  z-index: 200;
}
img {
  border: none;
}
@media (prefers-color-scheme: light) {
  a[href] {
    color: #30519c;
  }
  select {
    background-color: #fff;
    border: 1px solid #ccc;
    color: #000;
  }
  .popup_bg, span.title3d {
    background-color: #f6f6f6;
    color: #000;
  }
  a.action {
    color: #000;
  }
  div.slidingbodyshow center {
    border-top: 1px solid #454545;
    border-bottom: 1px solid #454545;
  }
  div.gridpoint {
    background-color: #111;
  }
  div.slidingbody, div.slidingbodyshow {
    background-color: #f6f6f6;
  }
  .logo {
    filter: contrast(1.6) opacity(.7);
    mix-blend-mode: lighten;
    border-radius: 4px;
  }
  [src*='up']:hover,
  [src*='down']:hover,
  [src*='zoom']:hover,
  [src*='reset']:hover,
  [src*='up']:focus-within,
  [src*='down']:focus-within,
  [src*='zoom']:focus-within,
  [src*='reset']:focus-within {
    filter: invert(1);
    mix-blend-mode: darken;
  }
}
@media (prefers-color-scheme: dark) {
  a[href] {
    color: #6384cf;
  }
  select {
    background-color: #333;
    border: 1px solid #454545;
    color: #e0e0e0;
  }
  .popup_bg, span.title3d {
    background-color: #1a1a1a;
    color: #fff;
  }
  a.action {
    color: #fff;
  }
  div.slidingbodyshow center {
    border-top: 1px solid #454545;
    border-bottom: 1px solid #454545;
  }
  div.gridpoint {
    background-color: #eee;
  }
  div.slidingbody, div.slidingbodyshow {
    background-color: #1a1a1a;
    border: 1px solid #454545;
  }
  .logo {
    filter: invert(.95) hue-rotate(180deg) contrast(1.2);
    mix-blend-mode: lighten;
  }
  [src*='up']:hover,
  [src*='down']:hover,
  [src*='zoom']:hover,
  [src*='reset']:hover,
  [src*='up']:focus-within,
  [src*='down']:focus-within,
  [src*='zoom']:focus-within,
  [src*='reset']:focus-within {
    filter: invert(0.95) contrast(1.2);
    mix-blend-mode: lighten;
  }
}
