body {
  font-family: Tahoma, Arial, sans-serif;
  font-size: 14px;
  letter-spacing: -.01em;
}
select {
  border-radius: 4px;
}
#detail_info {
  width: 185px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}
.rightmenu {
  float: right;
  right: 20px;
  top: 5px;
  position: relative;
  width: 177px;
}
.expando {
  position: relative;
  z-index: 150;
}
input[type] {
  accent-color: var(--it-c);
}
.button {
  background: var(--ac-0);
  border: 1px solid var(--ac-0);
  color: var(--tx-c);
  width: 180px;
  padding: .2em .6em;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
}
.button:hover {
  background: var(--ac-2);
  border: 1px solid var(--ac-2);
  color: var(--tx-c);
}
.button:focus, select:focus,
.button:focus-visible, select:focus-visible {
  border: 1px solid var(--ac-2);
  box-shadow: 0 0 5px 1px var(--ac-2);
  outline: 0;
}
.slidingbody {
  width: 197px;
  overflow: hidden;
}
.slidingbodyshow {
  text-align: left;
  width: 100%;
  padding: 10px;
}
.slidingbodyshow center {
  font-weight: bold;
  margin-top: 6px;
  margin-bottom: 6px;
  padding: 3px;
}
.controls {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 1;
}
.controls a {
  height: 50px;
  width: 50px;
  display: inline-block;
}
.controls > a > img, .button {
  transition: all .15s cubic-bezier(0.3, 0, 0.5, 1);
}
.controls > a:focus-visible {
  outline: 2px solid var(--ac-0);
  border-radius: 4px;
}
.mainarea {
  position: absolute;
  width: 98%;
  height: 98%;
  bottom: 2px;
  top: 2px;
  left: 2px;
  right: 2px;
  overflow: hidden;
}
.poweredby {
  position: absolute;
  bottom: 5px;
  right: 10px;
  font-size: 8pt;
  font-style: italic;
  text-align: right;
  z-index: 149;
}
.div3d {
  position: absolute;
  font-style: italic;
  font-size: 8pt;
  text-align: center;
}
.gridpoint {
  width: 4px;
  height: 4px;
  position: absolute;
  border-radius: 1px;
}
.glow {
  position: absolute;
  cursor: pointer;
}
.logo {
  position: absolute;
  z-index: 0;
  top: 30%;
  left: 30%;
}
.sizeimage {
  cursor: help;
}
iframe.wiviz {
  display: none;
}
a.action {
  display: block;
  margin-bottom: 3px;
  text-align: center;
}
a.actionunimplemented {
  display: none;
}
.actionlist {
  text-align: center;
  display: none;
}
#debugger {
  position: absolute;
  z-index: 200;
}
img {
  border: none;
}
@media (prefers-color-scheme: light) {
  a[href] {
    color: var(--ac-0);
  }
  select {
    background-color: #fff;
    border: 1px solid #ccc;
    color: #000;
  }
  .popup_bg, .title3d {
    background-color: #f6f6f6;
    color: #000;
  }
  a.action {
    color: #000;
  }
  .slidingbodyshow center {
    border-top: 1px solid #454545;
    border-bottom: 1px solid #454545;
  }
  .gridpoint {
    background-color: #111;
  }
  .slidingbody, .slidingbodyshow {
    background-color: #f6f6f6;
  }
  .controls > a > img:hover {
    filter: invert(1);
    mix-blend-mode: darken;
  }
}
@media (prefers-color-scheme: dark) {
  a[href] {
    color: var(--ac-2);;
  }
  select {
    background-color: #333;
    border: 1px solid #454545;
    color: #e0e0e0;
  }
  .popup_bg, .title3d {
    background-color: #1a1a1a;
    color: var(--tx-c);
  }
  a.action {
    color: var(--tx-c);
  }
  .slidingbodyshow center {
    border-top: 1px solid #454545;
    border-bottom: 1px solid #454545;
  }
  .gridpoint {
    background-color: #eee;
  }
  .slidingbody, .slidingbodyshow {
    background-color: #1a1a1a;
    border: 1px solid #454545;
  }
  .logo {
    filter: invert(.95) hue-rotate(180deg) contrast(1.2);
    mix-blend-mode: lighten;
  }
  .sizeimage {
    filter: invert(.9) hue-rotate(180deg) brightness(.5)
  }
  .sizeimage[src*='ssid.svg'] {
    filter: invert(.5) hue-rotate(180deg) contrast(2);
  }
  .controls > a > img:hover {
    filter: invert(0.95) contrast(1.2);
    mix-blend-mode: lighten;
  }
}
