a[href] {
  color: var(--ac-2, #6384cf);
}
select {
  background-color: #333;
  border: 1px solid #454545;
  color: #e0e0e0;
}
.popup_bg, .title3d {
  background-color: #1a1a1a;
  color: #fff
}
a.action {
  color: #fff;
}
.gridpoint {
  background-color: #eee;
}
.slidingbody, .slidingbodyshow {
  background-color: #222;
  border: 1px solid #333;
}
.sizeimage {
  filter: invert(.9) hue-rotate(180deg) brightness(.5)
}
.sizeimage[src*='ssid.svg'] {
  filter: invert(.5) hue-rotate(180deg) contrast(2);
}
