Package: wpa_supplicant_s1g
Version: 1.16.4-2
Depends: libc, kmod-morse, libnl200, libopenssl3, libubus20230605
Source: feeds/morse/essentials/wpa_supplicant_s1g
SourceName: wpa_supplicant_s1g
License: BSD-3-Clause
Section: net
Require-User: network=101:network=101
SourceDateEpoch: 1760011748
Maintainer: Morse Micro <info@morsemicro.com>
Architecture: mipsel_24kc
Installed-Size: 971707
Description:  Morse Micro HaLow wpa_supplicant
