#
# SPI adapter(s) configuration
#

menu "SPI Hardware Bus support"
	depends on SPI	
	
config SPI_IXP4XX
	tristate "IXP4xx GPIO-Based SPI Interface"
	depends on SPI && ARCH_IXP4XX
	select SPI_ALGOBIT
	help
	  Say Y here if you have an Intel IXP4xx(420,421,422,425) based
	  system and are using GPIO lines for an SPI bus.
	  
	  This support is also available as a module. If so, the module
	  will be called spi-ixp4xx.
										  
endmenu
