#
# UniK OLSR daemon config file
#
# Lines starting with a # are discarded
#

# Debug level(0-9)
# If set to 0 the daemon runs in the background

DebugLevel	1

# IP version to use (4 or 6)

IpVersion	4

# HNA IPv4 routes
# syntax: netaddr netmask
# Example Internet gateway:
# 0.0.0.0 0.0.0.0

Hna4
{
    0.0.0.0   0.0.0.0
    15.15.0.0 255.255.255.0
    15.16.0.0 255.255.255.0
}

# HNA IPv6 routes
# syntax: netaddr prefix
# Example Internet gateway:
Hna6
{
     ::              0
    fecb:ab:ed:: 48
    fecb:ff:dd::dd:d 48
    fec0:2200:106:: 48
    fec0:2200:106:0:0:0:0:0 48
}


# Should olsrd keep on running even if there are
# no interfaces available? This is a good idea
# for a PCMCIA/USB hotswap environment.
# "yes" OR "no"

AllowNoInt	yes

# TOS(type of service) value for
# the IP header of control traffic.
# If not set it will default to 16

#TosValue	16

# The fixed willingness to use(0-7)
# If not set willingness will be calculated
# dynammically based on battery/power status

#Willingness    	4

# Allow processes like the GUI front-end
# to connect to the daemon.

IpcConnect
{
     # Determines how many simultaneously
     # IPC connections that will be allowed
     # Setting this to 0 disables IPC

     MaxConnections  1

     # By default only 127.0.0.1 is allowed
     # to connect. Here allowed hosts can
     # be added

     Host            127.0.0.1
     Host            10.0.0.5

     # Specify entire net-ranges that are 
     # allowed to connect

     Net             192.168.1.0 255.255.255.0     
}

# Wether to use hysteresis or not
# Hysteresis adds more robustness to the
# link sensing but delays neighbor registration.
# Used by default. 'yes' or 'no'

UseHysteresis	yes

# Hysteresis parameters
# Do not alter these unless you know 
# what you are doing!
# Set to auto by default. Allowed
# values are floating point values
# in the interval 0,1
# THR_LOW must always be lower than
# THR_HIGH!!

#HystScaling	0.50
#HystThrHigh	0.80
#HystThrLow	0.30


# Polling rate in seconds(float). 
# Default value 0.05 sec

Pollrate	0.05


# TC redundancy
# Specifies how much neighbor info should
# be sent in TC messages
# Possible values are:
# 0 - only send MPR selectors
# 1 - send MPR selectors and MPRs
# 2 - send all neighbors
#
# defaults to 0

TcRedundancy	0

#
# NatThreshold 
#
# (currently this is only in the freifunk firmware)
# If the NAT-Endpoint (the preferred 0/0 HNA 
# emitting node) is to be changed, the ETX value of the current 0/0 is 
# compared to the new one. If the ETX difference is too small, the default 
# route isn't changed. 
#NatThreshold  0.9

#
# MPR coverage
# Specifies how many MPRs a node should
# try select to reach every 2 hop neighbor
#
# Can be set to any integer >0
#
# defaults to 1

MprCoverage	1


# Olsrd plugins to load
# This must be the absolute path to the file
# or the loader will use the following scheme:
# - Try the paths in the LD_LIBRARY_PATH 
#   environment variable.
# - The list of libraries cached in /etc/ld.so.cache
# - /lib, followed by /usr/lib
LoadPlugin "olsrd_secure.so.0.3"
{
    PlParam     "key1"   "value1"
    # Might be possible to set options here in
    # future versions
}

LoadPlugin "olsrd_dyn_gw.so.0.1"
{
    PlParam     "key4"   "value3"
    # Might be possible to set options here in
    # future versions
}

# olsrd_dyn_gw.so.0.1
# olsrd_power.so.0.1




# Interfaces and their rules
# Omitted options will be set to the
# default values.
Interface "eth0"
{

    # IPv4 broadcast address to use. The
    # one usefull example would be 255.255.255.255
    # If not defined the broadcastaddress
    # every card is configured with is used

    Ip4Broadcast	255.255.255.255

    # IPv6 address scope to use.
    # Must be 'site-local' or 'global'

    # Ip6AddrType		site-local

    # IPv6 multicast address to use when
    # using site-local addresses.
    # If not defined, ff05::15 is used

    Ip6MulticastSite	ff05::11

    # IPv6 multicast address to use when
    # using global addresses
    # If not defined, ff0e::1 is used

    # Ip6MulticastGlobal	ff0e::1


    # Emission intervals.
    # If not defined, RFC proposed values will
    # be used in most cases.

    # Hello interval in seconds(float)
    # HelloInterval    2.0

    # HELLO validity time
    # HelloValidityTime	6.0

    # TC interval in seconds(float)
    TcInterval        5.0

    # TC validity time
    # TcValidityTime	15.0

    # MID interval in seconds(float)
    # MidInterval	5.0

    # MID validity time
    # MidValidityTime	15.0

    # HNA interval in seconds(float)
    # HnaInterval	5.0

    # HNA validity time
    # HnaValidityTime 	15.0
}

Interface "eth1"
{
    # IPv4 broadcast address to use. The
    # one usefull example would be 255.255.255.255
    # If not defined the broadcastaddress
    # every card is configured with is used

    # Ip4Broadcast	255.255.255.255

    # IPv6 address scope to use.
    # Must be 'site-local' or 'global'

    Ip6AddrType		site-local

    # IPv6 multicast address to use when
    # using site-local addresses.
    # If not defined, ff05::15 is used

    Ip6MulticastSite	ff05::15

    # IPv6 multicast address to use when
    # using global addresses
    # If not defined, ff0e::1 is used

    Ip6MulticastGlobal	ff0e::1


    # Emission intervals.
    # If not defined, RFC proposed values will
    # be used in most cases.

    # Hello interval in seconds(float)
    HelloInterval    1.0

    # HELLO validity time
    HelloValidityTime	3.0

    # TC interval in seconds(float)
    TcInterval        4.0

    # TC validity time
    TcValidityTime	14.0

    # MID interval in seconds(float)
    MidInterval	5.0

    # MID validity time
    MidValidityTime	15.0

    # HNA interval in seconds(float)
    HnaInterval	5.0

    # HNA validity time
    HnaValidityTime 	15.0

}
