#
# SPI devices configuration
#

menu "SPI chip support"
	depends on SPI

config SPI_KS8995M
	tristate "Kendin KS8995M Switch Controller"
	help
	  If you say yes here if you want to build the Kendin KS8995M Switch
	  controller device. 
	  
	  This driver can also be built as a module.  If so, the module
	  will be called spi_foo.	

endmenu
