# http://www.privoxy.org/.htaccess
#
# Initial version written by Jon Foster
#
# Intercepts requests for these servers:
#    http://ijbswa.sourceforge.net/
#    http://www.privoxy.org/
#    http://privoxy.org/
#
# And redirects all requests to the canonical web server:
#    http://www.privoxy.org/
#
# Requests for: http://config.privoxy.org/.*
# are redirected to: http://www.privoxy.org/config/
#
# Uses Apache's mod_rewrite
# See http://httpd.apache.org/docs/mod/mod_rewrite.html
#

# Enable mod_rewrite
RewriteEngine on

# Note that the parentheses seem to be mandatory
# even if we aren't interested in what they match.
RewriteCond %{HTTP_HOST}   ^config\.privoxy\.org [NC]
RewriteRule ^(.*)$         http://www.privoxy.org/config/ [R,L]

RewriteCond %{HTTP_HOST}   !^www\.privoxy\.org\.?$ [NC]
RewriteCond %{HTTP_HOST}   !^$
RewriteRule ^(.*)$         http://www\.privoxy.org/$1 [R,L]

