Source: mstpd
Section: net
Priority: optional
Maintainer: Vitalii Demianets <vitalii@orsoc.se>
Build-Depends: debhelper (>=9), dh-autoreconf
Standards-Version: 3.9.8
Homepage: https://github.com/mstpd/mstpd
Vcs-Git: https://github.com/mstpd/mstpd.git
Vcs-Browser: https://github.com/mstpd/mstpd

Package: mstpd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python (>= 2.7)
Description: STP/RSTP/PVST+/MSTP Spanning Tree Protocol Daemon
 This package provides a user-space daemon which replaces the STP handling that
 is built into the Linux kernel Ethernet bridge and adds support for RSTP and
 PVST+.
 .
 This daemon also supports participating in MSTP.  However, due to the way the
 Linux kernel implements its FIBs, it is not currently possible to map MSTP
 topologies onto Linux bridges.  Therefore, mstpd will not actually block ports
 on Linux bridges when MSTP is used.
