@import url(../common.css);
#menuSub,
#menuMainList li span, 
#help h2 {
background:#090;
color:#fff;
border-color:#3b3 #060 #060 #3b3;
}
#menuSubList li a {
background:#3b3;
color:#cfc;
border-color:#4c4 #1a1 #1a1 #4c4;
}
#menuSubList li a:hover {
background:#6c6;
color:#fff;
border-color:#8d8 #5b5 #5b5 #8d8;
}
fieldset legend {
color:#090;
}
#help a {
color:#cfc;
}
#help a:hover {
color:#fff;
}
.meter .bar {
background-color: #3b3;
}
.meter .text {
color:#fff;
}
.progressbar {
background-color: #fff;
border-color: #999;
font-size:.09em;
border-width:.09em;
}
.progressbarblock {
background-color: #3b3;
font-size:.09em;
}
input.button {
background: #3b3;
color: #cfc;
}
input.button:hover {
background: #6c6;
color: #fff;
}