@import url(../common.css);
/*! Green */
#menuSub, #menuMainList li span, #help h2 {
  background: #090;
  color: #fff;
  border-color: #3b3;
}
#menuSubList li a {
  background: #3b3;
  color: #cfc;
  border-color: #4c4;
}
#menuSubList li a:hover {
  background: #6c6;
  color: #fff;
  border-color: #8d8;
}
fieldset legend, .syslog_legend {
  color: #090;
}
#help a, #help a:hover {
  color: #fff;
}
.meter .bar {
  background-color: #3b3;
}
.meter .text {
  color: #000;
}
.progressbarblock {
  background-color: #3b3;
}
input.button, input.button[disabled]:hover {
  background: #3b3;
  border: 1px solid #3b3;
  color: #000;
}
input.button:hover {
  background: #6c6;
  border: 1px solid #6c6;
  color: #000;
}
input:focus-visible, textarea:focus-visible {
  box-shadow: 0 0 5px 1px #6c6;
  outline: 2px solid #6c6;
}
