# Ignored files in libatomic_ops Git repo.

Makefile

/pkgconfig/atomic_ops.pc
/pkgconfig/atomic_ops-uninstalled.pc
/autom4te.cache/
/config.cache
/config.log
/config.status
/libatomic_ops-*

*.a
*.exe
*.gcda
*.gcno
*.la
*.lib
*.lo
*.o
*.obj

/src/.deps/
/src/.libs/
/src/config.h
/src/config.h.in~
/src/stamp-h1

/tests/.deps/
/tests/core
/tests/list_atomic.i
/tests/test_atomic
/tests/test_atomic_pthreads
/tests/test_malloc
/tests/test_stack

/libtool
/ltmain.sh
/m4/*.m4
