*~
*.o
*.lo
*.la
*.bz2

ChangeLog
INSTALL
Makefile
Makefile.in
README
aclocal.m4
autom4te.cache
compile
config.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
install-sh
libtool
ltmain.sh
m4
missing
stamp-h1
depcomp
gtk-doc.make

data/pkg-config/qmi-glib.pc

libqmi-glib/.libs
libqmi-glib/.deps
libqmi-glib/Makefile
libqmi-glib/Makefile.in
libqmi-glib/libqmi-glib.la

libqmi-glib/generated/.libs
libqmi-glib/generated/.deps
libqmi-glib/generated/*.c
libqmi-glib/generated/*.h
libqmi-glib/generated/*.sections

libqmi-glib/test/.libs
libqmi-glib/test/.deps
libqmi-glib/test/Makefile
libqmi-glib/test/Makefile.in
libqmi-glib/test/test-utils
libqmi-glib/test/test-message

cli/.deps
cli/.libs
cli/qmicli
cli/test/.libs
cli/test/.deps
cli/test/Makefile
cli/test/Makefile.in
cli/test/test-helpers

build-aux/qmi-codegen/*.pyc

docs/reference/libqmi-glib/version.xml
docs/reference/libqmi-glib/libqmi-glib.args
docs/reference/libqmi-glib/libqmi-glib.hierarchy
docs/reference/libqmi-glib/libqmi-glib.interfaces
docs/reference/libqmi-glib/libqmi-glib.prerequisites
docs/reference/libqmi-glib/libqmi-glib.signals
docs/reference/libqmi-glib/libqmi-glib.types
docs/reference/libqmi-glib/*.mstamp
docs/reference/libqmi-glib/*.stamp
docs/reference/libqmi-glib/*.txt
docs/reference/libqmi-glib/*.bak
docs/reference/libqmi-glib/html
docs/reference/libqmi-glib/tmpl
docs/reference/libqmi-glib/xml
docs/reference/libqmi-glib/.libs
