aclocal.m4
compile
configure
config.guess
config.log
config.cache
config.status
config.sub
config.h.in
config.h
libtool
ltmain.sh
Makefile
Makefile.in
stamp-h
stamp-h.in
autom4te*.cache
install
depcomp
install-sh
missing
mkinstalldirs
INSTALL
m4/libtool.m4
m4/lt*.m4
