# This is not a real Debian control file
# It's project metadata for the shipper tool

Package: gpsd

Description: monitoring daemon for GPSes, AIS radios, and other navigation aids
 gpsd is a userland daemon acting as a translator between GPS and
 AIS receivers and their clients. gpsd listens on port 2947 for clients
 requesting position/time/velocity information.  The receivers are
 expected to generate position information in a well-known format -- as
 NMEA-0183 sentences, SiRF binary, Rockwell binary, Garmin binary
 format, or other vendor binary protocols.  gpsd takes this
 information from the GPS and translates it into JSON objects in a uniform 
 and well-documented format that easier for clients to understand.  The 
 distribution includes sample clients, application interface libraries, 
 and test/profiling tools.

XBS-Destinations: ~, savannah, freecode

XBS-Web-Directory: www

XBS-IRC-Channel: irc://chat.freenode.net/#gpsd

XBS-Project-Tag-List: Communications, Scientific/Engineering, Geographical


