[Unit]
Description=FRRouting
Documentation=https://frrouting.readthedocs.io/en/latest/setup.html
Wants=network.target
After=network-pre.target systemd-sysctl.service
Before=network.target
OnFailure=heartbeat-failed@%n

[Service]
Nice=-5
Type=forking
NotifyAccess=all
StartLimitInterval=3m
StartLimitBurst=3
TimeoutSec=2m
WatchdogSec=60s
RestartSec=5
Restart=on-abnormal
LimitNOFILE=1024
PIDFile=/var/run/watchfrr.pid
ExecStart=/usr/local/sbin/frrinit.sh start
ExecStop=/usr/local/sbin/frrinit.sh stop
ExecReload=/usr/local/sbin/frrinit.sh reload

[Install]
WantedBy=multi-user.target
