<% do_hpagehead("doctype_only"); %>
<html>
	<head>
		<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=iso-8859-1" />
		<link type="text/css" rel="stylesheet" href="help.css">

		<title>About DD-WRT</title>
		<style type="text/css">
* {
font-family:Tahoma, Arial, Helvetica, sans-serif;
font-size:1em;
text-align:center;
line-height:1.7em;
}
body {
margin:.906em;
font-size:69%;
}
a {
text-decoration:none;
}
a:hover {
text-decoration:underline;
}
		</style>
	</head>
	<body>
		<div id="content">
		<p><img src="/<% ifdef("MICRO", "style"); %><% ifndef("MICRO", "images"); %>/logo.png" alt="DD-WRT logo" /><br /><b><% get_firmware_version(); %><br />(<em>SVN revision</em> <% get_firmware_svnrev(); %>)</b></p>
		<p>There are several different distributions of the DD-WRT firmware. The <b>mini</b> contains all the features of the standard distribution, 
		with the exception of chillispot, nocat, rflow, kaid, CIFS client, SNMP, IPv6, and MMC/SD card support. The <b>standard</b> (std) distribution includes all features, 
		with the exception of VOIP. The <b>standard-nokaid</b> (std-nokaid) distribution includes all features of standard, with kaid removed to free some flash space. 
		The <b>VOIP</b> distribution includes all features, with kaid removed to make room for Milkfish. 
		The <b>VPN</b> edition includes OpenVPN but does not include IPv6, CIFS client, or kaid. 
		The <b>micro</b> edition is a stripped down version designed for the WRT54G v5 and other 2MB router models.</p>
		
		<p><b>Special thanks to our translators:</b>
		<div>German : <i>Sebastian Gottschall (BrainSlayer)</i></div>
		<div>Slovenian : <i>Ale&#154; Majdi&#269; (Eko)</i></div>
		<div>French : <i>Sylvain Bothorel (Botho)</i></div>
		<div>Chinese : <i>JnJn, bbyel, a9988cd</i></div>
		<div>Spanish : <i>SuperWebon</i></div>
		<div>Swedish : <i>Joensson Joergen</i></div>
		<div>Polish : <i>stegano</i></div>
		<div>Portuguese : <i>aledr</i></div>
		<div>Dutch : <i>Fabian, Blackraven</i></div>
		<div>Italian : <i>CoffeEbuyer, Piega</i></div>
		<div>Japanese : <i>d-yama (Buffalo Inc.)</i></div>
		<div>Hungarian : <i>Jedlik Team</i></div>
		<div>Russian : <i>Yuri Krasilnikov</i></div>
		
		</p>
		
		<p><a href="http://www.dd-wrt.com" target="_new">DD-WRT Homepage</a> - <a href="http://www.dd-wrt.com/phpBB2/" target="_new">Forum</a> - <a href="http://www.dd-wrt.com/wiki/" target="_new">Wiki</a> - <a href="http://www.dd-wrt.com/bugtracker" target="_new">Bugtracker</a> - <a href="http://svn.dd-wrt.com:8000/dd-wrt" target="_new">Trac</a><br /><br />
		<% ifdef("MICRO", "<!--"); %>
		<img src="images/valid-xhtml10.png" alt="Valid XHTML 1.0 Strict" />
		<% ifdef("MICRO", "-->"); %>
		<% ifndef("MICRO", "<!--"); %>
		<img src="http://www.w3.org/Icons/valid-xhtml10.png" alt="Valid XHTML 1.0 Strict" height="31" width="88" />
		<% ifndef("MICRO", "-->"); %>
		</p>
		</div>
	</body>
</html>
