<% do_hpagehead("doctype_only"); %>
	<body class="about-bg">
		<div id="content">
			<p><img src="images/dd-logo.png" alt="DD-WRT logo" /><br /><b><% get_firmware_version(); %><br /></b></p>
			<h1>About DD-WRT's distributions</h1>
			<table class="table-props t-border">
				<thead>
					<tr>
						<th class="t-border thc">The Mini</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Includes the same features of the standard distribution, with the exception of chillispot, nocat, rflow<!--, kaid-->, CIFS client, SNMP, IPv6, and MMC/SD card support.</td>
					</tr>
				<thead>
					<tr>
						<th class="t-border thc">The Standard</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>The (std) includes all features, with the exception of VOIP.</td>
					</tr>
				</tbody>
				<thead>
					<tr>
						<th class="t-border thc">The Standard Nokaid</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>The (std-nokaid) includes the same features of the standard distribution,<!-- <i>without kaid</i>--> to free some flash space.</td>
					</tr>
				</tbody>
				<thead>
					<tr>
						<th class="t-border thc">The VOIP</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>This includes all features<!--, except without<i>kaid</i>-->.</td>
					</tr>
				</tbody>
				<thead>
					<tr>
						<th class="t-border thc">The VPN</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>It includes OpenVPN but <i>does not</i> include IPv6, CIFS client<!--, or kaid-->.</td>
					</tr>
				</tbody>
				<thead>
					<tr>
						<th class="t-border thc">The Micro</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>This is a stripped down version designed for the WRT54G v5 and other 2MB router models.</td>
					</tr>
				</tbody>
			</table>
			<p><b>CREDITS</b></p>
				<div id="container">
					<div id="credits">
						Episode III - Revenge of the Antithesis<br><br>
						<b><% get_firmware_version(); %></b><br><br>
						<b>Director:</b><br>
						Sebastian Gottschall (BrainSlayer)<br><br>
						<b>Producers:</b><br>
						egc, the-joker<br><br>
						<b>Interpreters:</b><br>
						<b>Chinese :</b> <i>JnJn, bbyel, a9988cd</i><br>
						<b>Croatian :</b> <i>Silvio Pe&#154;a</i><br>
						<b>Czech :</b> <i>Tom&#225;&#353; Mark</i><br>
						<b>English :</b> <i>Sebastian Gottschall (BrainSlayer), the-joker</i><br>
						<b>French :</b> <i>Sylvain Bothorel (Botho)</i><br>
						<b>Dutch :</b> <i>Fabian, Blackraven, Michael Zoon (Dutchman01)</i><br>
						<b>German :</b> <i>Sebastian Gottschall (BrainSlayer), Sash, sparksofinsanity</i><br>
						<b>Hungarian :</b> <i>Jedlik Team</i><br>
						<b>Italian :</b> <i>CoffeEbuyer, Piega</i><br>
						<b>Japanese :</b> <i>d-yama (Buffalo Inc.)</i><br>
						<b>Polish :</b> <i>stegano</i><br>
						<b>Portuguese - Brazil: <i>aledr</i><br>
						<b>Romanian :</b> <i>Daniel Al&#259;mi&#355;&#259;</i><br>
						<b>Russian :</b> <i>Yuri Krasilnikov</i><br>
						<b>Slovenian :</b> <i>Ale&#154; Majdi&#269; (Eko)</i><br>
						<b>Spanish :</b> <i>SuperWebon</i><br>
						<b>Swedish :</b> <i>Joensson Joergen, Shervin Babavand</i>
					</div>
				</div>
			<p><a href="https://github.com/style-it-themes/dd-wrt-inspired-themes" target="_new"><b>DD-WRT Inspired Themes</b></a> &copy; 2021 Style-it-themes: the-j0k3r</p>
			<p><a href="https://www.dd-wrt.com" target="_new">DD-WRT Homepage</a> - <a href="https://forum.dd-wrt.com/phpBB2/" target="_new">Forum</a> - <a href="https://forum.dd-wrt.com/wiki/index.php/Main_Page" target="_new">Wiki</a> - <a href="https://svn.dd-wrt.com/" target="_new">Bugtracker</a><br /><br />
				<% ifdef("MICRO", "<!--"); %>
				<img src="images/valid-xhtml10.png" alt="Valid XHTML 1.0 Strict" />
				<% ifdef("MICRO", "-->"); %>
				<% ifndef("MICRO", "<!--"); %>
				<img src="http://www.w3.org/Icons/valid-xhtml10.png" alt="Valid XHTML 1.0 Strict" height="31" width="88" />
				<% ifndef("MICRO", "-->"); %>
			</p>
		</div>
	</body>
</html>
