* {
  font-family: Tahoma, Arial, sans-serif;
  font-size: 1em;
}
body {
  margin: .906em;
  font-size: 75%;
}
h2 {
  padding: 4px 12px;
  line-height: 1.42857;
  letter-spacing: .123rem;
  margin: 0 0 .906em 0;
  border-radius: 4px;
  background: #777674;
  color: #fff;
}
input {
  padding: 4px;
  line-height: 1.42857;
  border-radius: 4px;
  width: 6em;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: all .15s ease-in-out 0s;
}
input:focus, input:focus-visible {
  box-shadow: 0 0 5px 1px var(--ac-2, #6384cf);
  border: 1px solid var(--ac-2, #6384cf);
  outline: 0;
}
#header {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
#content {
  width: 880px;
  margin: 0 auto;
  padding: .906em;
}
.container {
  box-sizing: border-box;
  width: 870px;
  height: 450px;
  padding: 20px 35px 15px 15px;
  margin: 15px auto 20px auto;
  background: #eee;
  border-radius: 4px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}
.placeholder {
  width: 100%;
  height: 100%;
  font-size: 12px;
  line-height: 1.2em;
}
.legend table {
  border-spacing: 5px;
}
.label {
  position: relative;
  left: 1rem;
}
