<!DOCTYPe html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Live Spectral Scan</title>
		<link href="/spectral_common.css" rel="stylesheet" type="text/css">
		<script type="text/javascript">
		//<![CDATA[
		if (!['brainslayer', 'kromo', 'wikar', 'xirian'].includes("<% nvg("router_style"); %>")) {
			document.write('<link type="text/css" rel="stylesheet" href="/style/<% nvg("router_style"); %>/colorscheme.css" />');
			if (<% nvem("router_style_dark", "1", "0", "1"); %>) {
				document.write('<link type="text/css" rel="stylesheet" href="/spectral_light.css" />');
			} else {
					document.write('<link type="text/css" rel="stylesheet" href="/spectral_dark.css" />');
			}
		} else {
			document.write('<link type="text/css" rel="stylesheet" href="/spectral_light.css" />');
		}
		//]]>
		</script>
		<script language="javascript" type="text/javascript" src="/jquery.js"></script>
		<script language="javascript" type="text/javascript" src="/jquery.flot.js"></script>
		<script language="javascript" type="text/javascript" src="/jquery.flot.navigate.js"></script>
		<script type="text/javascript">
			window.setTimeout(
				function () {
					var options = {
						legend: { show: true }, 
						grid: { color: "#fff" , backgroundColor: { colors: ["#000", "#000"] } },
						lines: { show: false },
						points: { show: true, fill: false, radius: 0.5 }, 
						series: { shadowSize: 0 },
						xaxis: {
							tickSize: 5,
							tickDecimals: 0,
							color: "#000",
							autoscaleMargin: 0.05,
							axisLabel: "Frequency",
							axisLabelUseCanvas: true,
							axisLabelFontSizePixels: 12,
							axisLabelFontFamily: "Tahoma, Arial, sans-serif",
							axisLabelPadding: 6
						},
						yaxis: {
							min: -150, 
							max: 0,
							color: "#000",
							axisLabel: "RSSI",
							axisLabelUseCanvas: true,
							axisLabelFontSizePixels: 12,
							axisLabelFontFamily: "Tahoma, Arial, sans-serif",
							axisLabelPadding: 6,
							zoomRange: false
						},
						zoom: {	interactive: true },
						pan: { interactive: true },
						colors: [ "rgba(255,0,0,0.9)","rgba(0,0,255,0.9)", "rgba(0,0,225,0.4)", "rgba(0,0,200,0.4)", "rgba(0,0,175,0.4)", "rgba(0,0,150,0.4)", "rgba(0,0,125,0.4)", "rgba(0,0,100,0.4)", "rgba(0,0,75,0.4)", "rgba(0,0,50,0.4)", "rgba(0,0,50,0.4)", "rgba(0,0,00,0.4)" ]
					};
					var data = [];
					var placeholder = $("#placeholder");

					graph = $.plot(placeholder, data, options);

					function fetchData() {
						function onDataReceived(series) {
							var i;
							for (i=0;i<data.length;i++) {
								if ( data[i].color < 5 ) {
									data[i].color = +data[i].color + 1;
								}
							}
							for (i=0;i<series.samples.length;i++) {
								var label ;
								data.push({ 'label': label, 'color': 0, 'data': series.samples[i].data });
							}
							data = data.slice(-60);
							graph.setData(data);
							graph.setupGrid();
							graph.draw();
						}

						$.ajax({
							url: "/spectral_scan.json",
							method: 'GET',
							dataType: 'json',
							success: onDataReceived
						});

						setTimeout(fetchData, updateInterval);
					};

					var updateInterval = 6000;
					$("#updateInterval").val(updateInterval).change(function () {
						var v = $(this).val();
						if (v && !isNaN(+v)) {
							updateInterval = +v;
							if (updateInterval < 100)
									updateInterval = 100;
							if (updateInterval > 10000)
									updateInterval = 10000;
							$(this).val("" + updateInterval);
						}
					});

					fetchData();
				}, 1000
			);
		</script>
	</head>
	<body class="spectral">
		<div id="header" class="spectral">
			<h2>Spectral Scan</h2>
		</div>
		<div id="content">
			<div class="container">
				<div id="placeholder" class="placeholder"></div>
			</div>
			<div class="label">
				<label for="updateInterval">Time between updates:</label>&nbsp;
				<input id="updateInterval" type="text" value="">&nbsp;milliseconds
			</div>
		</div>
 	</body>
</html>
