body {
 background: #fafafa;
 color: #000;
}
input {
  background-color: #fff;
  border: 1px solid #ccc;
  color: #000;
}
.container {
  border: 1px solid #ccc;
}
a {
  color: var(--ac-1, #496fc7);
}
a:hover {
  color: var(--ac-0, #30519c);
}
