#menuSub #menuSubList
{
	background-color: #3366cc;
	color: white;
	border: solid 1px #3366cc;
}

#menuMain ul#menuSubList li a,#menuMain ul#menuSubList li span 
{
	color: white;
	background-color: #3366cc;
}

fieldset
{
	border-color: #3366cc;
}

#menuMain #menuMainList li.current span
{
	background-color: #3366cc;
	color: white;
}

#menuMain #menuMainList li a
{
	background-color: #eeeeee;
}
