/* Properties */
/*
html,body,#wrapper {
	height:					100%;
	margin:					0px;
	padding:				0px;
}
th {
	padding-left:			3px;
	padding-right:			3px;
}
*/

/*
input,select {
	 margin:				2px;
	 margin-left:			0.3em;
	 margin-right:			0.3em;
}
*/

/*
#wrapper {
	margin-left: 2px;
	margin-right: 2px;
}

#content {
	padding-top:			0em;
	padding-bottom:			0em;
}
*/

/*
div.message {
	margin:					0px;
	padding:				0px;
	height:					100%;
	width:					100%;
}

div.popup {
	margin:					3em;
}
*/

/*
div.message form {
	display:				inline;
	margin:					0px;
	padding:				0px;
}
*/

/*
div.message div {
	text-align:				center;
	vertical-align:			middle;
}
*/

/*
div.message div {
	position:				absolute;
	top:					50%;
	left:					50%;
	width:					700px;
	height:					400px;
	margin-left:			-350px;
	margin-top:				-200px;
}

div.message div form {
	position:				absolute;
	top:					50%;
	left:					50%;
	width:					400px;
	height:					100px;
	margin-left:			-200px;
	margin-top:				-40px;
}*/

#header #logo {
	padding-bottom: 30px;
	background: url(logo.gif) no-repeat white left top;
	height: 61px;
}

fieldset {
	padding:			5px;
}

/*
#main {
	margin:					0px;
	margin-right:			190px;
	margin-bottom:			1em;
}
*/

/*
#header {
	top:					0px;
	margin:					0px;
	padding:				0px;
}
*/

#main #contents {
	position: absolute;
	left: 201px;
	top: 165px;
	border: solid 2px #3366cc;
	padding: 5px;
	width: 100%;
	min-height: 100%;
}

/*
#help {
	margin-top:				220px;
	padding:				7px;
}
*/

#header #logo h1 {
	position: absolute;
	top: 140px;
	left: 201px;
	width: 100%;
}

#statusInfo  {
	position:				absolute;
	top:					10px;
	left:					60%;
	width: 40%;
	border: solid 1px gray;
}

#help #logo
{
	position: absolute;
	text-align: center;
	width: 180px;
	left: 0px;
	top: -20px;
	color: white;
}

#help #logo h2
{
	font-size: 14px;
	font-weight: bold;
}

#helpContainer {
	position:				absolute;
	top:					278px;
	left: 6px;
	width:					185px;
	border: solid 2px #3366cc;
	border-top: solid 24px #3366cc;
}

#main #contents form .submitFooter {
	position: absolute;
	left: -197px;
	top: -1px;
	width: 185px;
	height: 100px;
	border: solid 2px #3366cc;
	border-top: solid 24px #3366cc;
	padding-top: 2px;
	padding-left: 4px;
}

#main #contents form .submitFooter h2 {
	position: absolute;
	top: -20px;
	width: 172px;
	margin-bottom: 2px;
	text-align:				center;
	color: white;
	font-size: 14px;
	font-weight: bold;
}

#main #contents form .submitFooter input {
	width: 172px;
	margin-bottom: 2px;
	text-align:				center;
}

/* Tabs */
/*
#main {
	clear:				both;
	padding-top:		1.7em;
}
*/

#menuMain {
	position:			absolute;
	top: 100px;
	left: 0px;
	height:	5px;
	width: 100%
}

#menuMain ul#menuMainList {
	margin:				0;
	padding:			0px;
	position:			absolute; /*top: 84px;*/
	bottom:				-1px;
	width: 100%;
}

#menuMain ul#menuMainList li  {
	display:			inline;
	list-style:			none;
	padding-left: 10px;
}

#menuMain ul#menuMainList a,#menuMain ul#menuMainList span,#menuMain ul#menuMainList a.current {
	padding:			4px 10px;
	margin:				1px 8px 0 0;
	display:			block;
	float:				left;
	text-align:			center;
	font-family:		AvantGarde, tahoma, verdana, sans-serif;
	font-size:			85%;
}

#menuMain ul#menuMainList span,#menuMain ul#menuMainList a.current,#menuMain ul#menuMainList a.current:hover {
	margin-top:			0;
	padding-bottom:		6px;
}

.label
{
	width: 16em;
	float: left;
}

input
{
	padding-right: 0px;
	padding-left: 0px;
}

.setting
{
	clear: both;
	padding-top: 5px;
}

.term
{
	font-weight: 900;
}

/*
#menuMain ul#menuMainList a:hover {
	margin-top:			0;
	padding-bottom:		5px;
}

*/

#menuMain ul#menuSubList {
	position:			absolute;
	margin:				0;
	padding:			0px;
	bottom:				-1.3em;
	left:				0px;
	width: 100%;
}

#menuMain ul#menuSubList li a,#menuMain ul#menuSubList li span {
	padding:			0 10px;
	margin:				0;
	display:			block;
	float:				left;
	text-align:			auto;
}

#menuMain ul#menuSubList li a {
	border-left: solid 1px white;
}

#menuMain ul#menuSubList li span {
	border-left: solid 1px white;
}

/*
#menuMain ul#menuSubList li a:hover {
	padding:			0 10px;
}
*/
