#statusInfo .info
{
	font-size: 12px;
}

#menuSub #menuSubList
{
	text-align: center;
}

#menuSub #menuSubList li span
{
	font-weight: bold;
}

#helpContainer
{
	font-size: 12px;
}

#header #logo h1
{
	font-size: 20px;
}

html
{
	font-family: Arial; 
}

fieldset
{
	display: block;
}

#helpContainer
{
	text-align: left;
}

legend
{
	font-weight: bold;
}
