/* Colors */
body {
	background-color:		*#CCC;
}

table.table {
	border-color:			#333;
	background-color:		transparent;
}

table.table th {
	border-color:			#999;
	background-color:		transparent;
}

#left {
	background-color:		#888888;
}

/* hintergrund */
body.gui {
	background-color:		white;
}

/* help hintergrund */
#help {
	background-color:		#FFF3B3;
	border-color:			#111;
}

/* status info */
#statusInfo  {
	/*background:			URL(../../images/dd-wrt.gif) bottom right no-repeat;*/
	/*background-color: #cfcfcf;*/
	border-color:			#000;
}

/* input elemente */
input[type!="radio"] {
	background-color:		white;
	border-color:			#003399;
}

input[type="radio"] {
	background-color:		white;
	border-color:			#003399;
}

select {
	background-color:		white;
	border-color:			#003399;
}

div.message div {
	background-color:		#DDDDEE;
	border-color:			#EAEAEA;
}

div.message div {
	background:				url(images/message_bg.png);
}

#footer {
	background-image:		url(images/footer.png);
}

	
/* Text */
body {
	color:					#02478d;
}

td,th {
	color:					#02478d;
}

input,select {
	color:					#02478d;
}

/* More link im Hilfe fenster*/
a:link {
	color:					#02478d;
}

a:visited {
	color:					#167DAF;
}

a:hover {
	color:					#167DAF;
}

a:active {
	color: 					#167DAF;
}

.section {
	color:					#9CCCFF;
	border-color:			#EAEAEA;
}
.info {
	color:					#669;
}
div.warning {
	color:					#cc0000;
}

/* Tabs */
#main {
	border-color:			#666;
	background:				#FFF3B3;
}

/* tabellen hintergrund */
#contents {
	background:				#ff7f50;
}

#menuMain ul#menuMainList a,#menuMain ul#menuMainList span,#menuMain ul#menuMainList a.current {
	color:	 				#333;
}

#menuMain ul#menuMainList span,#menuMain ul#menuMainList a.current,#menuMain ul#menuMainList a.current:hover {
	background:				#FFF3B3;
	border-color:			#666;
}

#menuMain ul#menuMainList a {
	background:				#FFFAE1;
	border-color:			#AAA;
}

#menuMain ul#menuMainList a:hover {
	color:					#333399; /*#da461c;*/
	background-color:		#ca3f44;/*#54b0f8;*/
}

#menuMain ul#menuMainList a:active {
	/*font-weight: bolder;*/
}

#menuMain ul#menuSubList li a,#menuMain ul#menuSubList li span {
	border-right-color:		#AAA;
	background:				none;
}

#menuMain ul#menuSubList li a {
	color:					#333399;
}

#menuMain ul#menuSubList li a:hover {
	color:					#ca3f44;
	background:				transparent;
}

#menuMain ul#menuSubList li a:current {
	color:					#000;
	/*font-weight: bolder;*/
	background:				transparent;
}
