@import url(../common.css);
/*! Blue */
:root {
  --ac-0: #0a6cea;
  --ac-1: #378fff;
  --ac-2: #57a1ff;
  --ac-3: #669bff;
  --ac-4: #77a6ff;
  --ac-5: #99aeff;
  --tx-c: #fff;
  --lg-c: var(--ac-0);
  --it-c: var(--ac-0);
}
