@import url(../common.css);
/*! Blue */
::selection {
  background: #338cff;
  color: #000;
}
#menuSub, #menuMainList li span, #help h2 {
  background: #338cff;
  border-color: #669bff;
  color: #000;
}
#menuSubList li a {
  background: #4496ff;
  border-color: #77a6ff;
  color: #000;
}
#menuSubList li a:hover {
  background: #57a1ff;
  border-color: #99aeff;
  color: #000;
}
fieldset legend, .syslog_legend {
  color: #36f;
}
#help a, #help a:hover, .meter .text {
  color: #000;
}
.meter .bar {
  background-color: #338cff;
}
.progressbarblock {
  background-color: #338cff;
}
input[type] {
  accent-color: #338cff;
}
input.button, input.button[disabled]:hover {
  background: #338cff;
  border: 1px solid #338cff;
  color: #000;
}
input.button:hover {
  background: #57a1ff;
  border: 1px solid #99aeff;
  color: #000;
}
input.button:focus-visible {
  box-shadow: 0 0 5px 1px #5781ff;
}
input:focus-visible, textarea:focus-visible,
select:focus-within {
  box-shadow: 0 0 5px 1px #5781ff;
  border: 1px solid #5781ff;
  outline: 0;
}
input:focus, textarea:focus {
  border: 1px solid #5781ff;
  box-shadow: 0 0 5px 1px #5781ff;
}
