@import url(../common.css);
/*! Blue */
#menuSub, #menuMainList li span, #help h2 {
  background: #36f;
  color: #fff;
  border-color: #68f;
}
#menuSubList li a {
  background: #57f;
  color: #ddd;
  border-color: #78f;
}
#menuSubList li a:hover {
  background: #5781ff;
  color: #fff;
  border-color: #9af;
}
fieldset legend {
  color: #36f;
}
#help a, #help a:hover {
  color: #fff;
}
.meter .bar {
  background-color: #36f;
}
.meter .text {
  color: #fff;
}
.progressbarblock {
  background-color: #36f;
}
input.button, input.button[disabled]:hover {
  background: #36f;
  border: 1px solid #36f;
  color: #fff;
}
input.button:hover {
  background: #5781ff;
  border: 1px solid #5781ff;
  color: #fff;
}
input[name*='refresh'][style*='background'] {
  background: #36f !important;
}
input:focus-visible, textarea:focus-visible {
  box-shadow: 0 0 5px 1px #5781ff;
  outline: 2px solid #5781ff;
}
