@import url(../common.css);
#menuSub,
#menuMainList li span, 
#help h2 {
background:#36f;
color:#fff;
border-color:#68f #24d #24d #68f;
}
#menuSubList li a {
background:#57f;
color:#ccf;
border-color:#78f #35d #35c #78f;
}
#menuSubList li a:hover {
background:#78f;
color:#fff;
border-color:#9af #46e #46e #9af;
}
fieldset legend {
color:#36f;
}
#help a {
color:#ccf;
}
#help a:hover {
color:#fff;
}
.meter .bar {
background-color:#69f;
}
.meter .text {
color:#fff;
}
.progressbar {
background-color: #fff;
border-color: #999;
font-size:.09em;
border-width:.09em;
}
.progressbarblock {
background-color: #69f;
font-size:.09em;
}
input.button {
background: #69f;
color: #ccf;
}
input.button:hover {
background: #78f;
color: #fff;
}