@import url(../common.css);
/*! Blue */
::selection {
  background: #36f;
  color: #fff;
}
#menuSub, #menuMainList li span, #help h2 {
  background: #36f;
  color: #fff;
  border-color: #68f;
}
#menuSubList li a {
  background: #47f;
  color: #fff;
  border-color: #79f;
}
#menuSubList li a:hover {
  background: #5781ff;
  color: #fff;
  border-color: #9af;
}
fieldset legend, .syslog_legend {
  color: #36f;
}
#help a, #help a:hover {
  color: #fff;
}
.meter .bar {
  background-color: #36f;
}
.meter .text {
  color: #fff;
}
.progressbarblock {
  background-color: #36f;
}
input.button, input.button[disabled]:hover {
  background: #36f;
  border: 1px solid #36f;
  color: #fff;
}
input.button:hover {
  background: #5781ff;
  border: 1px solid #5781ff;
  color: #fff;
}
input.button:focus-visible {
  box-shadow: 0 0 5px 1px #5781ff;
}
input:focus-visible, textarea:focus-visible,
select:focus-within {
  box-shadow: 0 0 5px 1px #5781ff;
  border: 1px solid #5781ff;
  outline: 0;
}
input:focus, textarea:focus {
  border: 1px solid #5781ff;
  box-shadow: 0 0 5px 1px #5781ff;
}
