[Desktop Entry]
Encoding=UTF-8
Name=xgps
GenericName=GPS information
Comment=Display GPS information from a gpsd daemon
Exec=xgps
Icon=/usr/share/gpsd/gpsd-logo.png
Terminal=false
Type=Application
Categories=Application;Graphics;
