[Desktop Entry]
Encoding=UTF-8
Name=xgpsspeed
GenericName=GPS speedometer
Comment=Display GPS speed from a gpsd daemon
Exec=xgpsspeed
Icon=/usr/share/gpsd/gpsd-logo.png
Terminal=false
Type=Application
Categories=Application;Graphics;
