@import url(../common.css);
/*! Orange */
#menuSub, #menuMainList li span, #help h2 {
  background: #f26522;
  color: #fff;
  border-color: #ff8400;
}
#menuSubList li a {
  background: #ff8400;
  color: #fff;
  border-color: #feb311;
}
#menuSubList li a:hover {
  background: #ff9000;
  color: #fff;
  border-color: #ffa200;
}
fieldset legend, .syslog_legend {
  color: #f26522;
}
#help a {
  color: #fff;
}
#help a:hover {
  color: #fff;
}
.meter .bar {
  background-color: #f26522;
}
.meter .text {
  color: #000;
}
.progressbarblock {
  background-color: #f26522;
}
input.button, input.button[disabled]:hover {
  background: #ff8400;
  border: 1px solid #ff8400;
  color: #000;
}
input.button:hover {
  background: #ff9000;
  border: 1px solid #ff9000;
  color: #000;
}
input:focus-visible, textarea:focus-visible {
  box-shadow: 0 0 5px 1px #ff9000;
  outline: 2px solid #ff9000;
}
