config EXFAT_FS
	tristate "exFAT fs support"
	depends on BLOCK
	select NLS
	select NLS_UTF8
	select NLS_CODEPAGE_437
	select NLS_ISO8859_1
	help
	  If you want to use the exFAT file system, then you must say Y or M
	  here to inlucde exFAT support. exFAT supports winnt short-name rule.
	  (winnt: emulate the Windows NT rule for display/create.)

	  To compile this as a module, choose M here: the module will be called
	  exfat.

if EXFAT_FS
config EXFAT_DEFAULT_CODEPAGE
	int "Default codepage for exFAT"
	default 437
	help
	  This option should be set to the codepage of your exFAT filesystems.

config EXFAT_DEFAULT_IOCHARSET
	string "Default iocharset for exFAT"
	default "utf8"
	help
	  Set this to the default input/output character set you'd
	  like exFAT to use. It should probably match the character set
	  that most of your exFAT filesystems use, and can be overridden
	  with the "iocharset" mount option for exFAT filesystems.

config EXFAT_VIRTUAL_XATTR
	bool "Virtual xattr support for exFAT"
	default y
	help
	  To support virtual xattr.

config EXFAT_VIRTUAL_XATTR_SELINUX_LABEL
	string "Default string for SELinux label"
	default "u:object_r:exfat:s0"
	depends on EXFAT_VIRTUAL_XATTR
	help
	  Set this to the default string for SELinux label.
	  Support for "u:object_r:exfat:s0" was added in Android Pie,
	  if you're running Oreo or lower, use "u:object_r:vfat:s0" instead.

config EXFAT_DEBUG
	bool "enable debug features"

if EXFAT_DEBUG

config EXFAT_DBG_MSG
	bool "enable debug messages"

config EXFAT_DBG_BUGON
	bool "enable strict BUG_ON() for debugging"

config EXFAT_DBG_WARNON
	bool "enable strict WARN_ON() for debugging"

endif # if EXFAT_DEBUG

config EXFAT_UEVENT
	bool "enable uevent"

endif # if EXFAT_FS
