#
# SPI device configuration
#

menu "SPI support"

config SPI
	tristate "SPI support"
	---help---
	  SPI  is a simple serial bus protocol used in many micro controller.

	  If you want SPI support, you should say Y here and also to the
	  specific driver for your bus adapter(s) below.

	  This SPI support can also be built as a module.  If so, the module
	  will be called spi-core.

config SPI_DEBUG_CORE
	bool "SPI Core debugging messages"
	depends on SPI
	help
	  Say Y here if you want the SPI core to produce a bunch of debug
	  messages to the system log.  Select this if you are having a
	  problem with SPI support and want to see more of what is going on.

config SPI_DEBUG_ALGO
	bool "SPI Algorithm debugging messages"
	depends on SPI
	help
	  Say Y here if you want the SPI algorithm drivers to produce a bunch
	  of debug messages to the system log.  Select this if you are having
	  a problem with SPI support and want to see more of what is going
	  on.

config SPI_DEBUG_BUS
	bool "SPI Bus debugging messages"
	depends on SPI
	help
	  Say Y here if you want the SPI bus drivers to produce a bunch of
	  debug messages to the system log.  Select this if you are having
	  a problem with SPI support and want to see more of what is going
	  on.

config SPI_DEBUG_CHIP
	bool "SPI Chip debugging messages"
	depends on SPI
	help
	  Say Y here if you want the SPI chip drivers to produce a bunch of
	  debug messages to the system log.  Select this if you are having
	  a problem with SPI support and want to see more of what is going
	  on.
config SPI_CHARDEV
	tristate "SPI device interface"
	depends on SPI && DEVFS_FS
	help
	  Say Y here to use spi-* device files, usually found in the /dev
	  directory on your system.  They make it possible to have user-space
	  programs use the SPI bus.
	  This support is also available as a module.  If so, the module
	  will be called spi-dev.
								  
source drivers/spi/algos/Kconfig
source drivers/spi/busses/Kconfig
source drivers/spi/chips/Kconfig

endmenu
