@import url(../common.css);
/*! Cyan */
::selection {
  background: #099;
  color: #000;
}
#menuSub, #menuMainList li span, #help h2 {
  background: #099;
  border-color: #3bb;
  color: #000;
}
#menuSubList li a {
  background: #3bb;
  border-color: #4cc;
  color: #000;
}
#menuSubList li a:hover {
  background: #6cc;
  border-color: #8dd;
  color: #000;
}
fieldset legend, .syslog_legend {
  color: #099;
}
#help a, #help a:hover, .meter .text {
  color: #000;
}
.meter .bar, .progressbarblock {
  background-color: #099;
}
input[type] {
  accent-color: #099;
}
input.button, input.button[disabled]:hover {
  background: #3bb;
  border: 1px solid #3bb;
  color: #000;
}
input.button:hover {
  background: #6cc;
  border: 1px solid #6cc;
  color: #000;
}
input.button:focus-visible {
  box-shadow: 0 0 5px 1px #6cc;
}
input:focus, textarea:focus,
input:focus-visible, textarea:focus-visible,
select:focus-within {
  box-shadow: 0 0 5px 1px #6cc;
  border: 1px solid #6cc;
  outline: 0;
}
