@import url(../common.css);
/*! Cyan */
#menuSub, #menuMainList li span, #help h2 {
  background: #099;
  color: #fff;
  border-color: #3bb;
}
#menuSubList li a {
  background: #3bb;
  color: #cff;
  border-color: #4cc;
}
#menuSubList li a:hover {
  background: #6cc;
  color: #fff;
  border-color: #8dd;
}
fieldset legend {
  color: #099;
}
#help a {
  color: #cff;
}
#help a:hover {
  color: #fff;
}
.meter .bar {
  background-color: #3bb;
}
.meter .text {
  color: #fff;
}
.progressbar {
  background-color: #fff;
  border-color: #999;
}
.progressbarblock {
  background-color: #3bb;
}
input.button {
  background: #3bb;
  border: 1px solid #3bb;
  color: #000;
}
input.button:hover {
  background: #6cc;
  border: 1px solid #6cc;
  color: #000;
}
input.button[disabled]:hover {
  background: #3bb;
  border: 1px solid #3bb;
  color: #000;
}
input[name*='refresh'][style*='background'] {
  background: #3bb !important;
}
input:focus-visible, textarea:focus-visible {
  box-shadow: 0 0 5px 1px #6cc;
  outline: 2px solid #6cc;
}
