@import url(../common.css);
#menuSub,
#menuMainList li span, 
#help h2 {
background:#099;
color:#fff;
border-color:#3bb #066 #066 #3bb;
}
#menuSubList li a {
background:#3bb;
color:#cff;
border-color:#4cc #1aa #1aa #4cc;
}
#menuSubList li a:hover {
background:#6cc;
color:#fff;
border-color:#8dd #5bb #5bb #8dd;
}
fieldset legend {
color:#099;
}
#help a {
color:#cff;
}
#help a:hover {
color:#fff;
}
.meter .bar {
background-color: #3bb;
}
.meter .text {
color:#fff;
}
.progressbar {
background-color: #fff;
border-color: #999;
font-size:.09em;
border-width:.09em;
}
.progressbarblock {
background-color: #3bb;
font-size:.09em;
}
input.button {
background: #3bb;
color: #cff;
}
input.button:hover {
background: #6cc;
color: #fff;
}