#include "qcom-ipq8064-eax500.dtsi"

/ {
	model = "Linksys EA8500 WiFi Router";
	compatible = "linksys,ea8500", "qcom,ipq8064";

	memory@0 {
		reg = <0x42000000 0x1e000000>;
		device_type = "memory";
	};

	aliases {
		mdio-gpio0 = &mdio0;

	};

};

&sata_phy {
	status = "okay";
};

&sata {
	status = "okay";
};

&partitions {
	partition@5f80000 {
		label = "syscfg";
		reg = <0x5f80000 0x2080000>;
	};
};

&gmac1 {
	qcom,phy_mdio_addr = <4>;
	qcom,poll_required = <1>;
	qcom,rgmii_delay = <0>;
	qcom,emulation = <0>;
};

/* LAN */
&gmac2 {
	qcom,phy_mdio_addr = <0>;	/* none */
	qcom,poll_required = <0>;	/* no polling */
	qcom,rgmii_delay = <0>;
	qcom,emulation = <0>;
};
