#
# SPI algorithm device configuration
#

menu "SPI Algorithms"
	depends on SPI

config SPI_ALGOBIT
	tristate "SPI bit-banging interfaces"
	depends on SPI
	help
	  This allows you to use a range of SPI adapters called bit-banging
	  adapters.  Say Y if you own an SPI adapter belonging to this class
	  and then say Y to the specific driver for you adapter below.

	  This support is also available as a module.  If so, the module 
	  will be called spi-algo-bit.

endmenu
