*~
*.a
*.aps
*.d
*.diff
*.dll
*.lib
*.ncb
*.o
*.obj
*.opt
*.orig
*.out.*
*.plg
*.rej
*.sbr
*.so.*.*
*.swp
/.cproject
/.project
/.settings
/build-stamp
/builddata.txt
/configure-stamp
/debian/
/olsrd
/olsrd.exe
/olsr_switch
/olsr_switch.exe
/olsr-setup.exe
/src/cfgparser/olsrd_cfgparser
