.deps
*~
*.o
*.log
*.status
ID
GPATH
GRTAGS
GSYMS
GTAGS
Makefile
Makefile.in
aclocal.m4
autom4te.cache
aux/
compile
config.h
config.h.in
configure
depcomp
install-sh
mcsender
missing
smcrouted
smcroutectl
smcroute.service
stamp-h1
*.tar.*
.dirstamp
.gdb_history
