config IXP4XX_QMGR
	tristate "IXP4xx Queue Manager support"
	depends on ARCH_IXP4XX
	depends on NET_ETHERNET
	help
	  The IXP4XX Queue manager is a configurable hardware ringbuffer.
	  It is used by the NPEs to exchange data from and to the CPU.
	  You can either use this OR the Intel Access Library (IAL)

config IXP4XX_NPE
	tristate "IXP4xx NPE support"
	depends on ARCH_IXP4XX
	depends on NET_ETHERNET
	help
	  The IXP4XX NPE driver supports the 3 CPU co-processors called
	  "Network Processing Engines" (NPE). It adds support fo downloading
	  the Microcode (firmware) via Hotplug or  character-special-device.
	  More about this at: Documentation/networking/ixp4xx/README.
	  You can either use this OR the Intel Access Library (IAL)

config IXP4XX_FW_LOAD
	bool "Use Firmware hotplug for Microcode download"
	depends on IXP4XX_NPE
	select HOTPLUG
	select FW_LOADER
	help
	  The default hotplug script will load the Firmware from
	  /usr/lib/hotplug/firmware/NPE-[ABC]
	  see Documentation/firmware_class/hotplug-script

config IXP4XX_MAC
	tristate "IXP4xx MAC support"
	depends on IXP4XX_NPE
	depends on IXP4XX_QMGR
	depends on NET_ETHERNET
	select MII
	help
	  The IXP4XX MAC driver supports the MACs on the IXP4XX CPUs.
	  There are 2 on ixp425 and up to 5 on ixdp465.
	  You can either use this OR the Intel Access Library (IAL)

config IXP4XX_CRYPTO
	tristate "IXP4xx crypto support"
	depends on IXP4XX_NPE
	depends on IXP4XX_QMGR
	help
	  This driver is a generic NPE-crypto access layer.
	  You need additional code in OCF for example.
