:ingress;type filter hook ingress device lo priority 0
:egress;type filter hook egress device lo priority 0

*netdev;test-netdev;ingress,egress

ip protocol icmp icmp type echo-request;ok;icmp type echo-request
icmp type echo-request;ok
ip6 nexthdr icmpv6 icmpv6 type echo-request;ok;icmpv6 type echo-request
icmpv6 type echo-request;ok
