diff -urN SDK_3_1_0_0/RT288x_SDK/source/linux-2.6.21.x/drivers/net/raeth/Kconfig SDK_3_2_0_0/RT288x_SDK/source/linux-2.6.21.x//drivers/net/raeth/Kconfig
--- SDK_3_1_0_0/RT288x_SDK/source/linux-2.6.21.x/drivers/net/raeth/Kconfig	2008-08-06 05:27:47.000000000 +0200
+++ SDK_3_2_0_0/RT288x_SDK/source/linux-2.6.21.x//drivers/net/raeth/Kconfig	2008-10-24 08:20:14.000000000 +0200
@@ -48,10 +48,6 @@
 
 endchoice
 
-config  MAC_TO_GIGAPHY_MODE_ADDR
-        hex "Phy Address"
-	default 0x1F
-        depends on GIGAPHY
 
 config LAN_WAN_SUPPORT
         bool "LAN/WAN Partition"
@@ -85,7 +81,13 @@
 		bool "Ethernet_Phy"
 	config P5_RGMII_TO_MAC_MODE
 		bool "Giga_Switch"
+	config P5_MII_TO_MAC_MODE
+		bool "External_CPU(MII_RvMII)"
 	config P5_RMII_TO_MAC_MODE
-		bool "RMII_External_CPU"
+		bool "External_CPU(RvMII_MII)"
 endchoice
 
+config  MAC_TO_GIGAPHY_MODE_ADDR
+        hex "Phy Address"
+	default 0x1F
+        depends on GIGAPHY || P5_MAC_TO_PHY_MODE
