*.cmake
*.dSYM
*.exe
*.la
*.lo
*.log
*.o
*.scan
*.status
*.tar.*
*.trs
*~
.DS_Store
.deps
.done
.libs
INSTALL
Makefile
Makefile.in
aclocal.m4
android-toolchain
android-toolchain-armv7-a
autom4te.cache
build
compile
confdefs.h
config.*
configure
contrib/dnscrypt-update-resolvers.sh
depcomp
dnscrypt-proxy-android-armv7-a.zip
dnscrypt-proxy-android-armv7-a
dnscrypt-proxy-ios
dnscrypt-proxy.service
install-sh
libltdl
libtool
ltmain.sh
m4/argz.m4
m4/libtool.m4
m4/ltargz.m4
m4/ltdl.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
man/*.html
man/Makefile.in
missing
org.dnscrypt.osx.DNSCryptProxy.plist
probes.h
probes_dnscrypt_proxy.h
src/*.o
src/.deps
src/Makefile.in
src/hostip/hostip
src/include/Doxyfile
src/include/dnscrypt/version.h
src/include/html/
src/include/latex/
src/libevent-modified/include/event2/event-config.h
src/libevent-modified/libevent.pc
src/libevent-modified/libevent_openssl.pc
src/libevent-modified/libevent_pthreads.pc
src/libevent-modified/libevent_core.pc
src/libevent-modified/libevent_extra.pc
src/libevent-modified/m4/libtool.m4
src/libevent-modified/m4/ltoptions.m4
src/libevent-modified/m4/ltversion.m4
src/libevent-modified/sample/dns-example
src/libevent-modified/sample/event-test
src/libevent-modified/sample/hello-world
src/libevent-modified/sample/http-server
src/libevent-modified/sample/signal-test
src/libevent-modified/sample/time-test
src/libevent-modified/test/bench
src/libevent-modified/test/bench_cascade
src/libevent-modified/test/bench_http
src/libevent-modified/test/bench_httpclient
src/libevent-modified/test/regress
src/libevent-modified/test/rpcgen-attempted
src/libevent-modified/test/test-changelist
src/libevent-modified/test/test-eof
src/libevent-modified/test/test-init
src/libevent-modified/test/test-ratelim
src/libevent-modified/test/test-script.sh
src/libevent-modified/test/test-time
src/libevent-modified/test/test-weof
src/libevent/*.la
src/libevent/*.lo
src/libevent/*.pc
src/libevent/include/event2/event-config.h
src/libevent/m4/libtool.m4
src/libevent/m4/ltoptions.m4
src/libevent/m4/ltversion.m4
src/libevent/sample/dns-example
src/libevent/sample/event-test
src/libevent/sample/hello-world
src/libevent/sample/http-server
src/libevent/sample/le-proxy
src/libevent/sample/signal-test
src/libevent/sample/time-test
src/libevent/test/bench
src/libevent/test/bench_cascade
src/libevent/test/bench_http
src/libevent/test/bench_httpclient
src/libevent/test/regress
src/libevent/test/rpcgen-attempted
src/libevent/test/test-changelist
src/libevent/test/test-eof
src/libevent/test/test-init
src/libevent/test/test-ratelim
src/libevent/test/test-time
src/libevent/test/test-weof
src/libnacl/
src/libsodium/m4/argz.m4
src/libsodium/m4/libtool.m4
src/libsodium/m4/ltdl.m4
src/libsodium/m4/ltoptions.m4
src/libsodium/m4/ltsugar.m4
src/libsodium/m4/ltversion.m4
src/libsodium/m4/lt~obsolete.m4
src/libsodium/src/libsodium/include/sodium/version.h
src/plugins/.tmp
src/plugins/example-ldns-blocking/example-ldns-blocking.plist/
src/plugins/example-ldns-opendns-deviceid/example-ldns-opendns-deviceid.plist/
src/proxy/Makefile.in
src/proxy/dnscrypt-proxy
src/proxy/registry.txt
stamp-*
test-driver
testing
update-changelog.sh
