@import url(../common.css);
/*! Red */
::selection {
  background: #e90519;
  color: #000;
}
#menuSub, #menuMainList li span, #help h2 {
  background: #e90519;
  border-color: #ff4545;
  color: #000;
}
#menuSubList li a {
  background: #fb4949;
  border-color: #f66;
  color: #000;
}
#menuSubList li a:hover {
  background: #ff5b5b;
  border-color: #f77;
  color: #000;
}
fieldset legend, .syslog_legend {
  color: #c00;
}
#help a, #help a:hover, .meter .text {
  color: #000;
}
.meter .bar {
  background-color: #e90519;
}
.progressbarblock {
  background-color: #e90519;
}
input.button, input.button[disabled]:hover {
  background: #e90519;
  border: 1px solid #ff4545;
  color: #000;
}
input.button:hover {
  background: #ff5b5b;
  border-color: #ff9090;
  color: #000;
}
input.button:focus-visible {
  box-shadow: 0 0 5px 1px #ff5b5b;
}
input:focus-visible, textarea:focus-visible,
select:focus-within {
  box-shadow: 0 0 5px 1px #ff5b5b;
  border: 1px solid #ff5b5b;
  outline: 0;
}
input:focus, textarea:focus {
  border: 1px solid #ff5b5b;
  box-shadow: 0 0 5px 1px #ff5b5b;
}
