@import url(../common.css);
/*! Red */
::selection {
  background: #c00;
  color: #fff;
}
#menuSub, #menuMainList li span, #help h2 {
  background: #c00;
  color: #fff;
  border-color: #e33;
}
#menuSubList li a {
  background: #d55;
  color: #fff;
  border-color: #e77;
}
#menuSubList li a:hover {
  background: #e77;
  color: #fff;
  border-color: #f99;
}
fieldset legend, .syslog_legend {
  color: #c00;
}
#help a, #help a:hover {
  color: #fff;
}
.meter .bar {
  background-color: #c00;
}
.meter .text {
  color: #fff;
}
.progressbarblock {
  background-color: #c00;
}
input.button, input.button[disabled]:hover {
  background: #c00;
  border: 1px solid #c00;
  color: #fff;
}
input.button:hover {
  background: #d55;
  border: 1px solid #d55;
  color: #fff;
}
input.button:focus-visible {
  box-shadow: 0 0 5px 1px #e77;
}
input:focus-visible, textarea:focus-visible,
select:focus-within {
  box-shadow: 0 0 5px 1px #e77;
  border: 1px solid #e77;
  outline: 0;
}
input:focus, textarea:focus {
  border: 1px solid #e77;
  box-shadow: 0 0 5px 1px #e77;
}
