<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URL</key>
	<dict>
		<key>IVA</key>
		<dict>
			<key>URLPatterns</key>
			<array>
				<string>^(iva?:)?//(api.)?internetvideoarchive.com</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
