if LANTIQ

config LANTIQ_PCIE
	bool

config SOC_TYPE_XWAY
	bool
	select PINCTRL_XWAY
	default n

choice
	prompt "SoC Type"
	default SOC_XWAY

config SOC_AMAZON_SE
	bool "Amazon SE"
	select SOC_TYPE_XWAY

config SOC_XWAY
	bool "XWAY"
	select SOC_TYPE_XWAY
	select HW_HAS_PCI

config SOC_VR9
	bool "VR9"
	select SOC_TYPE_XWAY
	select HW_HAS_PCI
	select LANTIQ_PCIE

config SOC_FALCON
	bool "FALCON"
endchoice

config AR9
	bool "AR9 DSL Driver extensions"

source "arch/mips/lantiq/xway/Kconfig"
source "arch/mips/lantiq/falcon/Kconfig"

config XRX200_PHY_FW
	bool "XRX200 PHY firmware loader"
	depends on SOC_XWAY

endif
