Package: libpcap
Version: 1.0.0-1
Depends: 
Provides: 
Source: package/libpcap
Section: libs
Priority: optional
Maintainer: OpenWrt Developers Team <openwrt-devel@openwrt.org>
Architecture: mips
Installed-Size: 183704
Description:  This package contains a system-independent library for user-level network
 packet capture.
