Source: inadyn-mt
Section: net
Priority: optional
Maintainer: Bryan Hoover <bhoover@wecs.com>
Build-Depends: debhelper (>= 7), autotools-dev
Standards-Version: 3.8.3
Homepage: <http://sourceforge.net/projects/inadyn-mt>

Package: inadyn-mt
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}, libao-dev
Description: Dynamic DNS Client
 INADYN-MT is a dynamic DNS client. It maintains the IP address of
 a host name. It periodically checks wheather the IP address stored
 by the DSN server is the real current address of the machine that
 is running INADYN-MT.
 .
 Before using inadyn-mt for the first time you must use the DynDNS
 provider's web interface to create the entry for the hostname. You
 should then fill in /etc/inadyn.conf with the appropriate detail
