menu "Annapurna Labs Alpine Soc Device Tree"
	depends on ARCH_ALPINE

config AL_PCIE_RMN_1010
	bool "Annapurna Labs PCIe RMN 1010 fix"
	depends on AL_DMA
	help
		Use the DMA engine to access pcie memory instead of the CPU.

endmenu
