Package: libelf1
Version: 0.180-2
Depends: libc, zlib
Provides: libelf, libelf11
Source: package/libs/elfutils
SourceName: libelf
License: GPL-3.0-or-later
LicenseFiles: COPYING COPYING-GPLV2 COPYING-LGPLV3
Section: libs
SourceDateEpoch: 1616748490
ABIVersion: 1
CPE-ID: cpe:/a:elfutils_project:elfutils
Maintainer: Luiz Angelo Daros de Luca <luizluca@gmail.com>
Architecture: arm_cortex-a9
Installed-Size: 37574
Description:  ELF manipulation libraries (libelf)
