config RAETH
        tristate "Ralink GMAC"
        depends on RALINK_DEVICE
        ---help---
          This driver supports Ralink gigabit ethernet family of
          adapters.


config RAETH_NAPI
        bool "Use Rx Polling (NAPI)"
        depends on RAETH

choice
	prompt "Network BottomHalves"	
	depends on RAETH
	default RA_NETWORK_TASKLET_BH

	config RA_NETWORK_TASKLET_BH
	bool "Tasklet"

	config RA_NETWORK_WORKQUEUE_BH
	bool "Work Queue"

endchoice

config RAETH_SPECIAL_TAG
        bool "Ralink Special Tag (0x810x)"
        depends on RALINK_RT3052 || RALINK_RT3352 || RALINK_RT5350

config RAETH_JUMBOFRAME
        bool "Jumbo Frame up to 4K bytes"
        depends on RAETH && !(RALINK_RT3052 || RALINK_RT3352 || RALINK_RT5350)

config RAETH_QOS
        bool "QoS Feature"
        depends on RAETH && !RALINK_RT2880

config RAETH_GMAC2
        bool "GMAC2 Support"
        depends on RAETH && RALINK_RT2883


config  RAETH_ROUTER
        bool "IC+"
        depends on !RALINK_RT3052

config  RAETH_ICPLUS_PHY
        bool "ICPLUS 100PHY"
        depends on !RALINK_RT3052

config  RTL8366_SWITCH
        bool "RTL8366 Switch"
        depends on !RALINK_RT3052

config  RTL8366RB_SWITCH
        bool "RTL8366RB Switch"
        depends on RALINK_RT3052

config  AR690W
        bool "RTL config for AR690W"
        depends on RTL8366_SWITCH

config  RT15N
        bool "RTL config for Asus RT-15N"
        depends on RTL8366_SWITCH


config RAETH_CHECKSUM_OFFLOAD
        bool "TCP/UDP/IP checksum offload"
	default y
        depends on RAETH && !RALINK_RT2880

#config RAETH_QOS
#        bool "QoS Feature"
#        depends on RAETH && (RALINK_RT3052 || RALINK_RT3352 || RALINK_RT5350)

choice
        prompt "QoS Type"
        depends on RAETH_QOS
        default DSCP_QOS_DSCP

config  RAETH_QOS_DSCP_BASED
        bool "DSCP-based"
        depends on RAETH_QOS 

config  RAETH_QOS_PORT_BASED
        bool "Port-based"
        depends on RAETH_QOS

endchoice

choice
        prompt "GMAC is connected to"
        depends on RAETH
        default GE1_RGMII_FORCE_1000

config  GE1_MII_FORCE_100
        bool "MII_FORCE_100 (10/100M Switch)"
        depends on !RALINK_RT3052 && !RALINK_RT3352 && !RALINK_RT5350

config  GE1_MII_AN
        bool "MII_AN (100Phy)"
        depends on !RALINK_RT3052 && !RALINK_RT3352 && !RALINK_RT5350

config  GE1_RVMII_FORCE_100
        bool "RvMII_FORCE_100 (CPU)"
        depends on !RALINK_RT3052 && !RALINK_RT3352 && !RALINK_RT5350

config  GE1_RGMII_FORCE_1000
        bool "RGMII_FORCE_1000 (GigaSW, CPU)"
        depends on !RALINK_RT3052 && !RALINK_RT3352 && !RALINK_RT5350
	select RALINK_SPI

config  GE1_RGMII_AN
        bool "RGMII_AN (GigaPhy)"
        depends on !RALINK_RT3052 && !RALINK_RT3352 && !RALINK_RT5350

config  RT_3052_ESW
        bool "Ralink Embedded Switch(10/100Mbps)"
        depends on RALINK_RT3052 || RALINK_RT3352 || RALINK_RT5350


endchoice


config	RALINK_VISTA_BASIC
	bool 'Vista Basic Logo for IC+ 175C'
        depends on LAN_WAN_SUPPORT && !RALINK_RT3052 && !RALINK_RT3352 && !RALINK_RT5350

config	ESW_DOUBLE_VLAN_TAG
	bool
	default y if RT_3052_ESW

config RAETH_HAS_PORT5
        bool "Port 5 Support"
        depends on RAETH && (RALINK_RT3052 || RALINK_RT3352)
choice
        prompt "Target Mode"
        depends on RAETH_HAS_PORT5
	default P5_RGMII_TO_MAC_MODE

	config P5_MAC_TO_PHY_MODE
		bool "Giga_Phy (RGMII)"
	config P5_RGMII_TO_MAC_MODE
		bool "Giga_SW/iNIC (RGMII)"
	config P5_MII_TO_MAC_MODE
		bool "External_CPU (MII_RvMII)"
	config P5_RMII_TO_MAC_MODE
		bool "External_CPU (RvMII_MII)"
endchoice

config  MAC_TO_GIGAPHY_MODE_ADDR
        hex "Phy Address"
	default 0x0 if RT3052_FPGA || RT3352_FPGA
	default 0x1F if !RT3052_FPGA && !RT3352_FPGA
        depends on GE1_MII_AN || GE1_RGMII_AN || P5_MAC_TO_PHY_MODE

config RAETH_GMAC2
        bool "GMAC2 Support"
        depends on RAETH && RALINK_RT3883

choice
        prompt "GMAC2 is connected to"
        depends on RAETH_GMAC2
        default GE2_RGMII_AN

config  GE2_MII_FORCE_100
        bool "MII_FORCE_100 (10/100M Switch)"
        depends on !RALINK_RT3052 && !RALINK_RT3352 && !RALINK_RT5350

config  GE2_MII_AN
        bool "MII_AN (100Phy)"
        depends on !RALINK_RT3052 && !RALINK_RT3352 && !RALINK_RT5350

config  GE2_RVMII_FORCE_100
        bool "RvMII_FORCE_100 (CPU)"
        depends on !RALINK_RT3052 && !RALINK_RT3352 && !RALINK_RT5350

config  GE2_RGMII_FORCE_1000
        bool "RGMII_FORCE_1000 (GigaSW, CPU)"
        depends on !RALINK_RT3052 && !RALINK_RT3352 && !RALINK_RT5350
	select RALINK_SPI

config  GE2_RGMII_AN
        bool "RGMII_AN (GigaPhy)"
        depends on !RALINK_RT3052 && !RALINK_RT3352 && !RALINK_RT5350

endchoice

config  MAC_TO_GIGAPHY_MODE_ADDR2
        hex "Phy Address"
	default 0x1E
        depends on GE2_MII_AN || GE2_RGMII_AN 

config LAN_WAN_SUPPORT
        bool "LAN/WAN Partition"
        depends on RAETH_ROUTER || RT_3052_ESW

choice
        prompt "Switch Board Layout Type"
        depends on LAN_WAN_SUPPORT || P5_RGMII_TO_MAC_MODE ||  GE1_RGMII_FORCE_1000 || GE2_RGMII_FORCE_1000
	default WAN_AT_P0

	config  WAN_AT_P4
	        bool "LLLL/W"
		
	config  WAN_AT_P0
	        bool "W/LLLL"
endchoice

#force 100M
config RAETH_ROUTER
bool
default y if GE1_MII_FORCE_100 || GE2_MII_FORCE_100 || GE1_RVMII_FORCE_100 || GE2_RVMII_FORCE_100

#force 1000M
config MAC_TO_MAC_MODE
bool
default y if GE1_RGMII_FORCE_1000 || GE2_RGMII_FORCE_1000

#AN
config GIGAPHY
bool
default y if GE1_RGMII_AN || GE2_RGMII_AN

#AN
config 100PHY
bool
default y if GE1_MII_AN || GE2_MII_AN

config  RAETH_ROUTER
        bool "IC+"
        depends on !RALINK_RT3052

config  RAETH_ICPLUS_PHY
        bool "100PHY"
        depends on !RALINK_RT3052

config  RTL8366_SWITCH
        bool "100PHY"
        depends on !RALINK_RT3052

config  RTL8366RB_SWITCH
        bool "100PHY"
        depends on RALINK_RT3052

config  AR690W
        bool "RTL config for AR690W"
        depends on RTL8366_SWITCH

config  RT15N
        bool "RTL config for Asus RT-15N"
        depends on RTL8366_SWITCH

config RTL8367M
	tristate "Realtek RTL8367 Support"
	default y

config AR8316
        tristate "Atheros AR8316 Support"
        default n
