/* DARK MOD:
This CSS is addition / overrides to elegant/fresh.css
Colors also defined in theme style.css
*/
body a {
	color: #fff;
}
body a:visited {
	color: #eee;
}
body a:link {
	color: #999;
}
body a:hover {
	color: #fff;
}
body, body.gui, .popup {
	color: #999; /* default text color */
	background: #111111; /* same as header */
}
body div.message {
	background-color: #1a1a1a;
	border-radius: 6px;
	border: 1px solid #333;
}
body div.progressbar {
	background-color: #333;
	border-radius: 4px;
	border: 1px solid #333;
}
body input.button {
	border: 2px solid #444; /* wide buttons borders */
	/* color: #fff; text on all buttons, defined by color styles */
	box-shadow: none; /* no shadows on black */
}
body input.button[disabled] {
	cursor: default;
	color: #999; /* as main text color */
	background-color: #1a1a1a; /* as background */
	border-color: #111111; /* as foreground */
}
body #content {
	color: #999; /* main text color: help etc */
	background: #1a1a1a; /* content bg color */
	border: 1px solid #111111; /* safari need this */
}
body #content.infopage #main {
	background-color: #1a1a1a; /* background for info site */
	border: 1px solid #333; /* border around contents */
}
body fieldset {
	background-color: #222222; /* more gradients */
	background-color: #1a1a1a; /* more flat look */
	border: 1px solid #333; /* safari need this */
}
body fieldset legend {
	background-color: #1a1a1a;
	background-color: transparent; /* clear bg for labels */
}
body #help dd.definition {
	border-bottom: dotted .09em #333;
}
body hr {
	color: #333;
	background: #333;
}
body input {
	color: #e0e0e0;
	background-color: #333;
	border-color: #454545;
}
body input[disabled], body select[disabled] {
	color: #666;
	background-color: #1a1a1a;
	border-color: #111111;
}
/* 4 main buttons styles */
body input[name="save_button"]:hover{
	color: #eee; /* good for yellow style */
}
body input[name="apply_button"]:hover {
	background: none repeat scroll 0 0 #78D98D;
	color: #fff;
}
body input[name="reset_button"] {
	background: none repeat scroll 0 0 #454545;
	border-color: #333;
	color: #ccc;
}
body input[name="reset_button"]:hover {
	background: none repeat scroll 0 0 #FFA500;
	color: #fff;
}
body input[name="reboot_button"]:hover{
	background: none repeat scroll 0 0 #FF7C7C;
	color:#eee;
}
/* end main buttons styles */
textarea {
	color: #e0e0e0;
	background-color: #333;
	border: 1px solid #454545;
}
pre {
	border: 1px solid transparent;
	background-color:#333;
	border-radius: 4px;
}
select {
	color: #e0e0e0;
	background-color: #333;
	border: 1px solid #454545;
}
select[disabled] {
	color: #666;
	background-color: #1a1a1a;
	border-color: #111111;
}
table tr th {
	background-color: #333;
	border-color: #333;
}
table tr:hover {
	background: #1a1a1a;
}
.submitFooter {
	background-color: #222;
	border: 1px solid #333;
}
.meter {
	background-color: #666;
	border-color: #999;
}
.off {
	color: #666; /* Safari is evil */
	background-color: #1a1a1a;
	border-color: #111111; /* this applied to fieldsets borders also
	so need fix */
}
fieldset.off {
	border-color: #333;
}
.odd {
	background-color: #222;
}
/* END DARK MOD */
