@import url(/style/buttons_dark.css);
body, .popup, .popup_bg {
  background: #111;
  color: #ccc;
}
a {
  color: currentcolor;
}
a:hover, #statusInfo a:hover,
.link:hover {
  color: var(--ac-1);
}
.message {
  background-color: #1a1a1a;
  border: 1px solid #333;
}
.progressbar {
  background-color: #333;
  border: 1px solid #333;
}
#content {
  background: #1a1a1a;
  border: 1px solid #111;
  color: #ccc;
}
.infopage #main {
  background-color: #1a1a1a;
  border: 1px solid #333;
}
#menuSubList li span {
  background: #1a1a1a;
  color: #fff;
  border-color: #1a1a1a;
}
.dark_fs_bg {
  background: #111;
}
fieldset {
  background-color: #222;
  border: 1px solid #333;
}
fieldset fieldset {
  background-color: #202020;
}
legend {
  filter: brightness(1.8);
}
dd.definition {
  border-bottom: 1px dotted #ccc;
}
hr {
  background: #333;
  color: #333;
}
input {
  background-color: #333;
  border: 1px solid #454545;
  color: #e0e0e0;
}
/*! darken paypal logo */
[type='image'][src*='paypal'] {
  background: transparent;
  border-color: transparent;
  filter: invert(0.9) hue-rotate(180deg);
  mix-blend-mode: lighten;
}
[type='image'][src*='paypal']:hover,
[type='image'][src*='paypal']:focus,
[type='image'][src*='paypal']:focus-within,
[type='image'][src*='paypal']:focus-visible {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
  mix-blend-mode: exclusion;
}
textarea {
  background-color: #333;
  border: 1px solid #454545;
  color: #e0e0e0;
}
pre {
  background-color: #333;
  border: 1px solid transparent;
}
select {
  background-color: #333;
  border: 1px solid #454545;
  color: #e0e0e0;
}
.table_row_bg {
  background-color: #222;
}
.table_row_bg:hover {
  background-color: #282828;
}
.table_bg_br_clr_on {
  color: #000;
}
.table_bg_br_clr_off, .table_bg_br_clr_off:hover {
  background-color: #292929;
  border: 1px solid #777674;
  opacity: .5;
}
.submitFooter {
  background-color: #262626;
  border: 1px solid #333;
}
.meter {
  background-color: #777;
  border-color: #888;
}
.odd {
  background-color: transparent;
}
.warning {
  background: #351212;
  border-color: #b53030;
}
.setting .default {
  color: #999;
}
/*! modal popup */
.overlay_ddwrt {
  background-color: #1a1a1a !important;
}
.ddwrt_content {
  background: #222 !important;
  color: #fff !important;
}
#scorebarBorder {
  background: #222;
  border: 1px solid #222;
}
#tablePwdCheck tr th {
  color: #fff;
}
