body, .popup, .popup_bg {
  background: #f9f9f9;
  color: #000;
}
a {
  color: currentColor;
}
a:hover, :link:hover, .link:hover,
:link:focus-visible {
  color: var(--ac-0);
}
fieldset {
  background: #f5f5f5;
  border: 1px solid #ccc;
}
fieldset fieldset {
  background-color: #f9f9f9;
}
.dark_fs_bg {
  background: #f6f6f6;
}
legend {
  background: transparent;
}
dd.definition, hr {
  border-bottom: 1px dotted #333;
}
.table_row_bg {
  background-color: #e4e4e4;
}
.table_row_bg:hover {
  background-color: #e9e9e9;
}
.table_bg_br_clr_on {
  background-color: #31dd00;
  border: 1px solid #1c7b01;
}
.table_bg_br_clr_on:hover {
  background-color: #35ee00;
  border: 1px solid #1c7b01;
}
.table_bg_br_clr_off, .table_bg_br_clr_off:hover {
  background-color: #fff;
  border: 1px solid #777674;
  opacity: .5;
}
.submitFooter {
  background-color: #d9d9d9;
  border: 1px solid #ccc;
}
textarea {
  background-color: #fff;
  border: 1px solid #ccc;
  color: #000;
  caret-color: var(--v0-9, --ac-0);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset;
  transition: all .15s ease-in-out 0s;
}
input {
  background-color: #fff;
  border: 1px solid #ccc;
  color: #000;
  caret-color: var(--v0-9, --ac-0);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: all .15s ease-in-out 0s;
}
select {
  background-color: #fff;
  border: 1px solid #ccc;
  color: #000;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: all .15s ease-in-out 0s;
}
pre {
  background-color: #fff;
  border: 1px solid #ccc;
  color: #166f2a;
}
.progressbar {
  background-color: #fff;
  border: 1px solid #999;
}
#content {
  background: #fafafa;
  border: 1px solid #111;
}
#content.infopage, .odd {
  background-color: transparent;
}
.infopage #main {
  background-color: #fafafa;
  border-radius: 5px;
  border: 1px solid #111;
}
#menuSubList li span {
  background: #fafafa;
  color: #000;
  border-color: #fafafa;
}
.message {
  background: #fafafa;
  border: 1px solid #ccc;
}
.meter {
  background: #aaa;
  border: 1px solid #888;
}
.warning {
  background: #fcc;
  border: 2px dashed #f99;
  font-weight: 700;
}
.setting .default {
  color: #666;
}
#scorebarBorder {
  background: #f6f6f6;
  border: 1px solid #f6f6f6;
}
#tablePwdCheck tr th, #score {
  color: #000;
}
