h2, h3, .submitFooter {
  padding: 4px 12px;
  font-size: 12px;
  line-height: 1.42857;
  color: #fff;
  background-color: #777674;
  background-image: none;
  border-radius: 4px;
  border-style: none;
}
table tr th {
  background-color: #777674;
  border-color: #777674;
  border-radius: 3px;
  background-image: none;
}
table tr:hover {
  background-color: #f1f1f1;
}
table tr:not([bgcolor]):hover {
  background-color: #f9f9f9;
}
.submitFooter {
  background-color: #ccc;
}
.submitFooter .button {
  margin: .362em .362em;
}
#menuSub {
  border-radius: 4px 4px 0 0;
  border-width: 0;
  border-style: none;
}
li.current {
  margin-top: 2px;
}
#menuMainList li span, #menuSubList li span,
#menuMainList li a, #menuSubList li a {
  border-radius: 4px 4px 0 0;
  border-style: solid solid none;
  border-width: 1px;
  display: block;
  margin-left: .362em;
  text-decoration: none;
}
fieldset {
  border-radius: 4px;
  border-width: 1px;
}
fieldset legend {
  left: 0;
  padding-bottom: 4px;
  margin-bottom: 0;
}
textarea {
  padding: 4px;
  font-size: 12px;
  line-height: 1.42857;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset;
  transition: all .15s ease-in-out 0s;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
textarea:focus, textarea.focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}
input {
  padding: 4px;
  font-size: 12px;
  line-height: 1.42857;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset;
  transition: all .15s ease-in-out 0s;
}
input.button {
  box-shadow: 2px 2px 2px #808080;
  border-color: #ccc;
}
input[name='apply_button'] {
  background: none repeat scroll 0 0 #696969;
  border-color: #ccc;
  color: #fff;
}
input[name='apply_button']:hover {
  background: none repeat scroll 0 0 #777674;
  border-color: #ccc;
  color: #000;
}
input[name='reset_button'] {
  background: none repeat scroll 0 0 #fff;
  border-color: #ccc;
  color: #000;
}
input[name='reset_button']:hover {
  background: none repeat scroll 0 0 #ffa500;
  border-color: #ccc;
  color: #000;
}
input[name='reboot_button'] {
  background: none repeat scroll 0 0 #f00;
  border-color: #ccc;
  color: #fff;
}
input[name='reboot_button']:hover {
  background: none repeat scroll 0 0 #ff7c7c;
  border-color: #ccc;
  color: #000;
}
input:focus, input.focus {
  border: 1px solid #707070;
  box-shadow: 0 0 5px 1px #969696;
}
input.button[disabled] {
  cursor: default;
  opacity: .6;
  box-shadow: none;
}
input.num {
  vertical-align: middle;
}
input.num[name*='lease'][size='10'] {
  margin-right: 4px;
}
select {
  padding: 4px 4px;
  font-size: 12px;
  height: 1.6rem;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset;
  transition: border-color .15s ease-in-out 0s, box-shadow .15s ease-in-out 0s;
  vertical-align: middle;
}
button:hover, button:focus {
  color: #333;
  text-decoration: none;
}
button {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 12px;
  line-height: 1.42857;
  border-radius: 4px;
  -moz-user-select: none;
  user-select: none;
}
#content.infopage {
  background-color: transparent;
}
#content.infopage #main {
  background-color: #f9f9f9;
  border-radius: 5px;
  border: 1px solid #111;
}
#content {
  border-radius: 0 0 5px 5px;
  margin-bottom: 1em;
  border: 1px solid #111;
}
table[summary='ports forwarding table'] .num[size='15'] {
  max-width: 100px;
}
table[summary='ports forwarding table'] .num[size='5'] {
  max-width: 50px;
}
table[summary='ports forwarding table'] input[size='10'] {
  max-width: 79px;
}
form[name='wds'] select {
  margin-right: 6px;
}
#header {
  height: 9.24em;
}
.message {
  border-radius: 6px;
}
.meter {
  border-radius: 3px;
  border-width: 1px;
}
.progressbar {
  border-radius: 4px;
}
.warning {
  border-radius: 4px;
  border-width: 2px;
}
.odd {
  background-color: #f1f1f1;
  border-radius: 2px;
}