body, .popup {
  background: #f9f9f9;
  color: #000;
}
fieldset {
  background: #f6f6f6;
  border: 1px solid #ccc;
}
fieldset legend {
  background: transparent;
}
#help dd.definition {
  border-bottom: 1px dotted #333;
}
hr {
  background: #ccc;
  color: #ccc;
}
h2, h3 {
  background-color: #777674;
  border-style: none;
  color: #fff;
}
table tr th {
  background-color: #777674;
  border-color: #777674;
  color: #fff;
}
table tr:hover {
  background-color: #f1f1f1;
}
table tr:not([bgcolor]):hover {
  background-color: transparent;
}
.submitFooter {
  background-color: #ccc;
  border-color: #999;
  color: #000;
}
#menuSub {
  border-radius: 4px 4px 0 0;
  border-width: 0;
  border-style: none;
}
#menuMainList li span, #menuSubList li span,
#menuMainList li a, #menuSubList li a {
  border-radius: 4px 4px 0 0;
  border-style: solid solid none;
  border-width: 1px;
  display: block;
  margin-left: .362em;
  text-decoration: none;
}
textarea {
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset;
  transition: all .15s ease-in-out 0s;
}
textarea:focus, textarea.focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}
input {
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset;
  transition: all .15s ease-in-out 0s;
}
input[name='apply_button'] {
  background: none repeat scroll 0 0 #696969;
  border-color: #ccc;
  color: #fff;
}
input[name='apply_button']:hover {
  background: none repeat scroll 0 0 #777674;
  border-color: #ccc;
  color: #000;
}
input[name='reset_button'] {
  background: none repeat scroll 0 0 #fff;
  border-color: #ccc;
  color: #000;
}
input[name='reset_button']:hover {
  background: none repeat scroll 0 0 #ffa500;
  border-color: #ccc;
  color: #000;
}
input[name='reboot_button'] {
  background: none repeat scroll 0 0 #f00;
  border-color: #ccc;
  color: #fff;
}
input[name='reboot_button']:hover {
  background: none repeat scroll 0 0 #ff7c7c;
  border-color: #ccc;
  color: #000;
}
input:focus, input.focus {
  border: 1px solid #707070;
  box-shadow: 0 0 5px 1px #969696;
}
input.button, input.button:hover {
	box-shadow: 2px 2px 2px #808080;
	border-color: #ccc;
}
input.button[disabled]:hover {
  border-color: #ccc;
}
#ip_count:hover,
[title*="Search"]:hover,
[title*="Monitoring"]:hover {
	color: #00f;
}
select {
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset;
  transition: all .15s ease-in-out 0s;
}
button:hover, button:focus {
  color: #333;
}
button {
  background-image: none;
  border: 1px solid transparent;
}
.progressbar {
  background-color: #fff;
  border-color: #999;
}
#content {
  background: #f9f9f9;
}
#content.infopage {
  background-color: transparent;
}
#content.infopage #main {
  background-color: #f9f9f9;
  border-radius: 5px;
  border: 1px solid #111;
}
#content {
  border-radius: 0 0 5px 5px;
  margin-bottom: 1em;
  border: 1px solid #111;
}
#header {
  height: 9.24em;
}
.message {
  background: #ccc;
  border: 1px solid #ddd;
}
.meter {
  background: #aaa;
  border: 1px solid #888;
}
.odd {
  background-color: #f1f1f1;
}
.warning {
  background: #fcc;
  border: 2px dashed #f99;
  font-weight: bold;
}
pre {
  background-color: #fff;
  border: 1px solid transparent;
}
.setting .default {
  color: #666;
}
