body, .popup {
  background: #111;
  color: #ccc;
}
body a {
  color: #fff;
}
body a:visited {
  color: #eee;
}
body a:link {
  color: #fff;
}
body a:hover,
body a:link:hover,
#ip_count:hover,
[title*="Search"]:hover,
[title*="Monitoring"]:hover {
  color: #5cb3ff;
}
body div.message {
  background-color: #1a1a1a;
  border: 1px solid #333;
}
body div.progressbar {
  background-color: #333;
  border: 1px solid #333;
}
input.button, input.button:hover,
input.button[disabled]:hover {
  box-shadow: none;
  border: 1px solid transparent;
}
body #content {
  background: #1a1a1a;
  border: 1px solid #111;
  color: #ccc;
}
body #content.infopage #main {
  background-color: #1a1a1a;
  border: 1px solid #333;
}
#header .logo {
  filter: invert(.95) hue-rotate(180deg);
  mix-blend-mode: lighten;
}
body fieldset {
  background-color: #222;
  border: 1px solid #333;
}
body fieldset legend {
  background-color: transparent;
  filter: brightness(1.8);
}
body #help dd.definition {
  border-bottom: 1px dotted #ccc;
}
body hr {
  background: #333;
  color: #333;
}
body input {
  background-color: #333;
  border: 1px solid #454545;
  color: #e0e0e0;
}
body input[name='apply_button'] {
  background: none repeat scroll 0 0 #166f2a;
  border-color: #1a6d2d;
  color: #fff;
}
body input[name='apply_button']:hover {
  background: none repeat scroll 0 0 #199235;
  border-color: #199235;
  color: #fff;
}
body input[name='reset_button'] {
  background: none repeat scroll 0 0 #595959;
  border-color: #656565;
  color: #ccc;
}
body input[name='reset_button']:hover {
  background: none repeat scroll 0 0 #d6951e;
  border-color: #d0911d;
  color: #fff;
}
body input[name='reboot_button'] {
  background: none repeat scroll 0 0 #c11616;
  border-color: #c11616;
  color: #f8f8f8;
}
body input[name='reboot_button']:hover {
  background: none repeat scroll 0 0 #d82828;
  border-color: #d82828;
  color: #fff;
}
/*! darken paypal logo */
[type='image'][src*='paypal'] {
  background: transparent;
  border-color: transparent;
  filter: invert(0.9) hue-rotate(180deg);
  mix-blend-mode: lighten;
}
[type='image'][src*='paypal']:hover,
[type='image'][src*='paypal']:focus,
[type='image'][src*='paypal']:focus-within,
[type='image'][src*='paypal']:focus-visible {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
  mix-blend-mode: exclusion;
}
textarea {
  color: #e0e0e0;
  background-color: #333;
  border: 1px solid #454545;
}
pre {
  background-color: #333;
  border: 1px solid transparent;
}
select {
  color: #e0e0e0;
  background-color: #333;
  border: 1px solid #454545;
}
table tr th {
  background-color: #333;
  border-color: #333;
}
table tr[bgcolor='#CCCCCC'] {
  background-color: #222;
}
table tr[bgcolor='#CCCCCC']:hover {
  background-color: #1a1a1a;
}
table tr:hover {
  background: #1a1a1a;
}
table tr:not([bgcolor]):hover {
  background-color: #222;
}
[bgcolor='#FFFFFF'] {
  background-color: #292929;
}
[bordercolor='#000000'] {
  border-color: #333;
}
td[bgcolor='#C0C0C0'] {
  background-color: #383838;
}
td[bgcolor='#C0C0C0']:hover {
  background-color: #1a1a1a;
}
.submitFooter {
  background-color: #222;
  border: 1px solid #333;
}
.meter {
  background-color: #777;
  border-color: #888;
}
.odd {
  background-color: #212121;
}
.warning {
  background: #351212;
  border-color: #b53030;
}
.setting .default {
  color: #888;
}
