/*! about/help */
#header .logo,
#content [src*='dd-logo.png'] {
  filter: invert(.95) hue-rotate(180deg) !important;
  mix-blend-mode: lighten !important;
}
.about-bg, .help-bg, #header {
  background: #1a1a1a !important;
  color: #eee;
}
.help-bg a, .about-bg a {
  color: #0087ff !important;
}
/*! about */
.about-bg #content {
  border-color: transparent !important;
}
.about-bg #content .t-border {
  border-color: #333 !important;
}
.thc {
  background-color: #282828 !important;
}
/*! help */
#header .navig a {
  color: #eee !important;
}
#header .navig a:hover {
  color: #ddd !important;
}
.help-bg h2 {
  background-color: #777674 !important;
  color: #fff !important;
}
.help-bg #content {
  background: transparent !important;
  border: 1px solid transparent !important;
  color: #eee !important;
}
div.note {
  background: #380c55 !important;
  border-color: #8030b5 !important;
}
div.also, div#also {
  background: #222 !important;
  border: 1px solid #333 !important;
}