@import url(../common.css);
/*! Elegant */
#menuSub, #menuMainList li span, #help h2 {
  background: #30519c;
  color: #fff;
  border-color: #496fc7;
}
#menuSubList li a {
  background: #496fc7;
  color: #fff;
  border-color: #6384cf;
}
#menuSubList li a:hover {
  background: #6384cf;
  color: #fff;
  border-color: #849dd9;
}
fieldset legend, .syslog_legend {
  color: #30519c;
}
#help a, #help a:hover {
  color: #fff;
}
.meter .bar {
  background-color: #496fc7;
}
.meter .text {
  color: #fff;
}
.progressbarblock {
  background-color: #496fc7;
}
input.button, input.button[disabled]:hover {
  background: #30519c;
  border: 1px solid #30519c;
  color: #fff;
}
input.button:hover {
  background: #6384cf;
  border: 1px solid #6384cf;
  color: #fff;
}
input[name*='refresh'][style*='background'] {
  background: #30519c !important;
}
input:focus-visible, textarea:focus-visible {
  box-shadow: 0 0 5px 1px #6384cf;
  outline: 2px solid #6384cf;
}
