fieldset {
  border: 1px solid #333;
}
.syslog_bd {
  background: transparent;
  color: #aaa;
  font-size: 14px;
}
.syslog_bg {
  background: #111;
  padding: .3rem;
  margin: -.8rem -.7rem 0 -.7rem;
}
.syslog_bg tr:not([class]):hover {
  background: var(--bg-2, #222);
  color: #eee;
}
.syslog_legend {
  filter: brightness(1.8);
}
