html {
  font-family: Tahoma,Arial,sans-serif;
  font-size: 1em;
}
.syslog_bd {
  color: #111;
  margin: .906em;
  font-size: 75%;
}
.syslog_bg {
  background: #f6f6f6;
  padding: .1rem .3rem .3rem;
  margin: -.8rem -.7rem 0;
  border-color: #ccc;
}
.syslog_bg div:focus-visible {
  outline: 0;
}
fieldset {
  border: 1px solid #ccc;
  border: 1px solid #333;
  padding: .725em;
  border-radius: 4px;
}
.syslog_legend {
  background-color: transparent;
  font-weight: 700;
  padding: 0 .272em;
  color: var(--lg-c, #111);
}
.syslog_bg tr:not([class]):hover {
  background-color: #ccc;
  color: #000;
}
.syslog_bg_yellow {
  background-color: #eec900;
}
tr.syslog_bg_yellow:hover {
  background-color: #dbba02;
}
.syslog_bg_red {
  background-color: #f66;
}
tr.syslog_bg_red:hover {
  background-color: #fc5a5a;
}
.syslog_bg_green {
  background-color: #31dd00;
}
tr.syslog_bg_green:hover {
  background-color: #32e202;
}
.syslog_text_dark {
  color: #000;
}
table {
  margin: 0 auto;
  width: 100%;
  border-spacing: 1px;
}
