.syslog_bd {
  background: transparent;
  color: #aaa;
  font-size: 14px
}
.syslog_bg {
  background: #111;
  padding: .3rem;
  margin: -.8rem -.8rem 0 -.8rem;
}
.syslog_bg tr:not([class]):hover {
  background: #222;
  color: #eee;
}
.syslog_legend {
  background-color: transparent;
  filter: brightness(1.8);
}
