.syslog_bd {
  background: transparent;
  color: #111;
  font-size: 14px;
  overflow-x: hidden;
  margin-top: .906em;
  line-height: 1.4
}
.syslog_bg {
  background: #f6f6f6;
  padding: .3rem;
  padding-top: .1rem;
  margin: -.8rem -.7rem 0 -.7rem;
}
.syslog_bg div:focus-visible {
  outline: 0;
}
.syslog_legend {
  background-color: transparent;
  margin-left: .362em;
}
.syslog_bg tr:not([class]):hover {
  background-color: #ccc;
  color: #000;
}
.syslog_bg_yellow {
  background-color: #eec900;
}
tr.syslog_bg_yellow:hover {
  background-color: #dbba02;
}
.syslog_bg_red {
  background-color: #ff6666;
}
tr.syslog_bg_red:hover {
  background-color: #fc5a5a;
}
.syslog_bg_green {
  background-color: #31dd00;
}
tr.syslog_bg_green:hover {
  background-color: #32e202;
}
.syslog_text_dark {
  color: #000;
}
