.syslog_bd {
  background: transparent;
  color: #111;
  font-size: 14px
}
.syslog_bg {
  background: #f6f6f6;
  padding: .3rem;
  padding-top: .1rem;
  margin: -.8rem -.7rem 0 -.7rem;
}
.syslog_legend {
  margin: unset;
}
.syslog_bg tr:hover {
  background-color: #ccc;
  color: #000;
}
.syslog_bg_yellow {
  background-color: #eec900;
}
.syslog_bg_yellow:hover {
  background-color: #dbba02;
}
.syslog_bg_red {
  background-color: #ff6666;
}
.syslog_bg_red:hover {
  background-color: #fc5a5a;
}
.syslog_bg_green {
  background-color: #31dd00;
}
.syslog_bg_green:hover {
  background-color: #32e202;
}
.syslog_text_dark {
  color: #000;
}
