*.lo
*.o
*.so
*.swp
*.trs
.deps
.libs
.version
.dirstamp
ABOUT-NLS
aclocal.m4
autom4te.cache
compile
config.cache
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
configure
cov-int
depcomp
src/free
INSTALL
install-sh
src/kill
libtool
ltmain.sh
m4/
po-man/translated
po-man/man.stamp
po-man/??/*
po-man/??_??/*
Makefile
Makefile.in
missing
mkinstalldirs
src/hugetop
src/pgrep
src/pidof
src/pkill
src/pmap
src/pidwait
procps-ng-*.tar.xz
library/.depend
library/libproc2.la
library/libproc2.pc
library/Makefile
library/Makefile.in
src/ps/Makefile
src/ps/Makefile.in
src/ps/pscommand
src/pwdx
src/skill
src/slabtop
src/snice
stamp-h1
src/sysctl
test-driver
src/tload
src/top/Makefile
src/top/Makefile.in
src/top/top
src/uptime
src/vmstat
src/w
src/watch
src/tests/test_fileutils
src/tests/test_process
src/tests/test_shm
src/tests/test_strtod_nol
src/tests/test_strutils
*~
*.log
*.sum
*.exe
*.mo
