@import url(/style/buttons.css);
@import url(/style/common_legacy.css);
* {
 font-family: verdana, arial, helvetica, sans-serif;
 font-size: 1em;
}
html {
  width: 100%;
  margin: 0;
}
body {
  margin: .906em;
  font-size: 75%;
  overflow-x: hidden;
}
p {
  color: #000;
}
h1 {
  font-size: 24px;
}
h2, h3, th {
  background: #e9e9ed;
  border: 1px solid #8f8f9d;
  color: #2b226f;
}
h2, h3 {
  padding: 4px 12px;
  line-height: 1.42857;
  letter-spacing: .123rem;
  margin: 0 300px .906em 0;
  border-radius: 4px;
}
#mainno h2, [name='ipfilter'] h2,
body[onunload*="Filters.asp'"] h2,
.iplookup h2, [name='Join'] h2,
[name="macfilter"] h2 {
  margin-right: 0;
}
hr {
  background: #ccc;
  color: #ccc;
  border: none;
  width: 100%;
  height: .09em;
}
input.num[name*="lease"][size="10"] {
  margin-right: 4px;
  width: 52%
}
table {
  width: 100%;
}
table tr th {
  border-radius: 3px;
  font-weight: normal;
  padding: .09em .543em;
  text-align: left;
  line-height: normal;
  vertical-align: bottom;
}
select {
  min-width: 6.3rem;
}
select[name='time_zone'] {
  min-width: 17.2rem;
}
option, input.num {
  width: auto;
  min-width: 30px;
}
body, .gui {
  background-color: #fff;
}
#contentsInfo {
  position: relative;
  z-index: 0;
  padding: .906em;
}
#header {
  margin: -.906em;
  background: repeating-linear-gradient(55deg,
    #2b226f, #2b226f 1px,
    #483c9f  1px, #483c9f 3px);
}
#header #logo {
  color: #0f0;
  padding: 3px 0 0 16px;
  margin-top: -1.3em;
  background: repeating-linear-gradient(55deg,
    #2b226f, #2b226f 1px,
    #483c9f  1px, #483c9f 3px);
}
#menu {
  background: repeating-linear-gradient(55deg,
    #2b226f, #2b226f 1px,
    #483c9f  1px, #483c9f 3px);
  border-bottom: 1px solid #4336af;
  color: #fff;
  height: 2.5rem;
}
#menu ul {
  list-style-type: none;
}
#menu li {
  display: inline;
  padding: 0 5px 0 5px;
  color: #fff;
}
#menu li a {
  color: #fff;
  text-decoration: none;
}
#menuMain {
  position: relative;
  left: -4rem;
}
#menuMainList li:first-child {
  margin-left: 3em;
}
#menuSubList li:first-child {
  margin-left: -.5em;
}
#menuMainList .current, #menuSubList span strong,
#menu li a:hover {
  border-bottom: 4px solid #0f0;
  animation: wut .6s ease;
}
@keyframes wut {
  0% {
    padding-bottom: .362em;
  }
  50%, 100% {
    padding-bottom: 0;
  }
}
#menuSub {
  background-color: #000;
  width: 106%;
  margin: .8em 0 .6em 0;
  float: left;
  height: 22px;
  padding: 6px 0 0 3px;
}
#main {
  clear: both;
  padding: 5px;
}
#main fieldset {
  margin: 0 300px 0 0;
  color: #000;
  padding: 5px 8px 5px 4px;
}
[name="macfilter"] fieldset, [name="macfilter"] fieldset {
  width: 97%;
}
fieldset {
  background: #f9f9f9;
  border-radius: 4px;
}
fieldset legend {
  color: #2b226f;
  background-color: transparent;
  font-weight: 900;
}
.label {
  float: left;
  width: 22em;
}
.default {
  position: absolute;
  right: 41em;
  width: 24em;
}
.setting {
  padding: 0 0 5px 5px;
}
.setting input {
  margin: 2px 4px 4px 0;
}
#ip_count:hover, [title*='Search']:hover,
[title*='Chain']:hover, [title*='Monitoring']:hover {
  color: #483c9f;
}
input[type='checkbox'],
input[type='radio'] {
  accent-color: #483c9f;  
}
input.button {
  margin: 2px 4px 4px 0;
  padding: .06em .6em;
  cursor: pointer;
}
input.button[onclick*="delete"] {
  margin: -.1rem .3rem 0 .3rem;
}
.gui .submitFooter {
  margin: 0 300px 0 0;
}
[name="Info"] .submitFooter,
#contents[style="padding: .93em;"] .submitFooter {
  margin: 0;
}
.submitFooter {
  padding: 4px 12px;
  text-align: center;
  border-radius: 4px;
  background: repeating-linear-gradient(55deg,
    #2b226f, #2b226f 1px,
    #483c9f  1px, #483c9f 3px);
  border: 1px solid #2b226f;
  margin: 0;
}
.submitFooter .button {
  padding: 0 1rem;
  margin: .362em;
  height: 1.533rem;
}
.button[name="refresh_button"] {
  background-color: #e9e9ed;
  border-radius: 4px;
}
#statusInfo {
  position: absolute;
  top: 2em;
  right: 1em;
  width: 32.609em;
  text-align: right;
  color: #fff;
}
#statusInfo a {
  color: #fff;
  text-decoration: none;
}
#statusInfo a:hover {
  text-decoration: underline;
}
#helpContainer {
  top: 113px;
  right: 5px;
  position: absolute;
}
#help {
  width: 25em;
  padding: .906em 0;
}
#help dl {
  padding: 0;
  margin: 0;
}
#help dt.term {
  margin: 0 0 .362em 0;
  font-weight: bold;
}
#help dd.definition {
  padding-bottom: .908em;
  margin: 0 0 .908em 0;
  border-bottom: 1px dotted #000;
}
#help a {
  display: block;
  position: absolute;
  top: 1.378em;
  right: 1.3em;
  text-align: right;
  text-decoration: none;
  text-transform: lowercase;
}
#help h2 {
  margin-right: .4em
}
.warning {
  padding: .725em;
  border-radius: 4px;
  background: #fcc;
  border: 2px dashed #f99;
  font-weight: bold;
  margin: 0 300px 0 0;
  text-align: center;
}
.warning input {
  margin: 5px 0 5px 0;
  color: #2b226f;
}
.meter {
  float: right;
  position: relative;
  top: -.09em;
  height: 1.3em;
  width: 14.49em;
  background: #999;
  border: 1px solid aaa;
  border-radius: 2px;
}
.meter .bar {
  height: 1.3em;
  background: repeating-linear-gradient(55deg,
    #2b226f, #2b226f 1px,
    #483c9f  1px, #483c9f 3px);
  opacity: .8;
  border-radius: 2px;
}
.meter .text {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  line-height: 1.4;
  color: #fff;
}
td .meter {
  float: none !important;
  margin-top: 0 !important;
  width: 99% !important;
}
.progressbar {
  visibility: visible;
  position: relative;
  overflow: hidden;
  border-style: solid;
  background-color: #fff;
  border-color: #999;
  border-width: .09em;
  margin: 0 auto
}
.progressbarblock {
  background-color: #2b226f;
  position: absolute;
  font-size: .09em;
}
#tablePwdCheck tr th {
  background-color: transparent;
  border: 0;
  color: #000;
  text-align: left;
  vertical-align: middle;
}
#score {
  color: #000;
  font-size: 85%;
  position: absolute;
  text-align: center;
  width: 100px;
  z-index: 10;
}
#score, #rating, #standards {
  font-weight: bold;
}
#scorebarBorder {
  background: #fff;
  border: 1px solid #fff;
  border-radius: 2px;
  height: 15px;
  margin-bottom: 2px;
  width: 100px;
}
iframe[src*='/graph_if.svg'] {
  max-width: 700px;
}
iframe#syslog {
  left: 0;
  top: 1rem;
  position: relative;
}
input.button[onclick*="do_show"]:not([value*="Month"]) {
  margin: 1.2em 0 0 .362em;
  position: relative;
}
input.three_column {
  width: 160px;
  margin-left: 0;
  margin-right: 10px !important;
}
input.three_column_last {
  margin-right: 0;
}
input.four_column {
  width: 160px;
  margin-left: 0;
  margin-right: 10px !important;
}
input.four_column_last {
  margin-right: 0;
}
.message {
  background-color: #ddd;
  max-width: 72.464em;
  margin: 2em auto;
  padding: 1.812em .906em .906em;
  font-weight: bold;
  text-align: center;
  border-radius: 4px;
}
.message .submitFooter {
  padding: 8px 12px;
  margin: 0 auto;
  text-align: center;
  border-radius: 4px;
 }
textarea {
  padding: 4px;
  font-size: 12px;
  line-height: 1.42857;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  resize: vertical;
  border: 1px solid #8f8f9d;
}
.center {
  text-align: center;
}
[type='image'][src*='paypal'] {
  margin: .3rem 0 -1.5rem 0;
  padding: 0;
  border: 0
}
pre {
  overflow: auto;
  padding: .8em;
  margin-top: .2em;
  margin-left: .321em;
  margin-right: .2em;
  font-family: monospace;
  font-size: 12px;
  white-space: pre-wrap;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #8f8f9d;
}
#contentsInfo[style] div.col2l {
  float: left;
  width: 42.2em;
}
#contentsInfo[style] div.col2r {
  float: right;
  width: 42.2em;
}
#contentsInfo [name="Info"] div.col2l {
  float: left;
  width: 48.5%;
  margin: 0;
}
#contentsInfo [name="Info"] div.col2r {
  float: right;
  width: 48.5%;
  margin: 0;
}
#contentsInfo [name="Info"] h2 {
  margin: 5px 0 .906em 0;
}
#contentsInfo [name="Info"] fieldset {
  margin: 0 0 .906em 0;
}
.center a[href] {
  margin: 0 0 .906em 0;
  line-height: 2.2;
}
