body {
  background-color: #ccc;
  color: #115b80;
}
body.gui {
  background-color: #888;
}
table.table {
  border-color: #999;
}
table.table th {
  border-color: #999;
  background-color: #ddd;
}
#left {
  background-color: #888;
}
#help {
  background-color: #fffec1;
  border-color: #111;
}
#statusInfo {
  background: #ccccdd URL(../../images/dd-wrt.png) bottom right no-repeat;
  border-color: #000;
}
input[type!="radio"] {
  background-color: #eeeef3;
  border-color: #003399;
}
input[type="radio"] {
  background-color: #eeeef3;
  border-color: #003399;
}
select {
  background-color: #eeeef3;
  border-color: #003399;
}
div.message div {
  background-color: #ddddee;
  background: url(images/message_bg.png);
  border-color: #eaeaea;
}
#footer {
  background-image: url(images/footer.png);
}
td, th {
  color: #115B80;
}
input, select {
  color: #115B80;
}
a:link {
  color: #167daf;
}
a:visited {
  color: #167daf;
}
a:hover {
  color: #167daf;
}
a:active {
  color: #167daf;
}
.section {
  color: #9cccff;
  border-color: #eaeaea;
}
.info {
  color: #669;
}
div.warning {
  color: #EE3333;
}
#main {
  border-color: #666;
  background: #fff3b3;
}
#contents {
  background: #ddd;
}
#menuMain ul#menuMainList a, #menuMain ul#menuMainList span, #menuMain ul#menuMainList a.current {
  color: #333;
}
#menuMain ul#menuMainList span, #menuMain ul#menuMainList a.current, #menuMain ul#menuMainList a.current:hover {
  background: #fff3b3;
  border-color: #666;
}
#menuMain ul#menuMainList a {
  background: #fffae1;
  border-color: #aaa;
}
#menuMain ul#menuMainList a:hover {
  background-color: #fff7cd;
}
#menuMain ul#menuSubList li a, #menuMain ul#menuSubList li span {
  border-right-color: #aaa;
  background: none;
}
#menuMain ul#menuSubList li a {
  color: #333399;
}
#menuMain ul#menuSubList li a:hover {
  color: #333;
  background: transparent;
}
#menuMain ul#menuSubList li a:active {
  color: #000;
  background: transparent;
}
.meter .bar {
  background-color: #fff7cd;
}
.meter .text {
  color: #115B80;
}
.progressbar {
  background-color: #fff;
  border-color: #999;
  font-size: .09em;
  border-width: .09em;
}
.progressbarblock {
  background-color: #fff7cd;
  font-size: .09em;
}
.textblink {
  text-decoration: blink;
}
