body.gui, #header {
  background: #ccc;
}
#header #logo {
  filter: contrast(1.2) brightness(2);
  mix-blend-mode: exclusion;
}
#statusInfo {
  color: #0b3e57;
}
#statusInfo a {
  color: #0b3e57;
  text-decoration: none;
}
#statusInfo a:hover {
  color: #0b3e57;
  text-decoration: underline;
}
body, .popup, .popup_bg {
  background: #ddd;
  color: #115b80;
}
fieldset {
  background: #eee;
  border: 1px solid #aaa;
}
fieldset fieldset {
  background: #e9e9e9;
}
.dark_fs_bg {
  background: #f6f6f6;
}
fieldset legend {
  background: transparent;
}
dd.definition {
  border-bottom: 1px dotted #333;
}
hr {
  background: #aaa;
  color: #aaa;
}
h2, h3 {
  background-color: #fff3b3;
  border-color: #ccc28f;
  color: #115b80;
}
table tr th {
  background-color: #115b80;
  border-color: #1a89c0;
  color: #fff3b3;
}
.table_row_bg {
  background-color: #d1d1d1;
}
.table_row_bg:hover {
  background-color: #d9d9d9;
}
.table_bg_br_clr_on {
  background-color: #31dd00;
  border: 1px solid #1c7b01;
}
.table_bg_br_clr_on:hover {
  background-color: #32e202;
  border: 1px solid #1c7b01;
}
.table_bg_br_clr_off, .table_bg_br_clr_off:hover {
  background-color: #fff;
  border: 1px solid #777674;
  opacity: .5;
}
.submitFooter {
  background: repeating-linear-gradient(55deg,
    #fff3b3 , #fff3b3  2px,
    #ccc28f 2px, #ccc28f 3px);
  border: 1px solid #ccc28f;
}
textarea {
  background-color: #fff;
  border: 1px solid #aaa;
  color: #115b80;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset;
  transition: all .15s ease-in-out 0s;
}
input, select {
  background-color: #fff;
  border: 1px solid #aaa;
  color: #115b80;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset;
  transition: all .15s ease-in-out 0s;
}
#ip_count:hover, [title*='Search']:hover,
[title*='Chain']:hover, [title*='Monitoring']:hover,
a[title='Geotool']:hover {
  color: #1a89c0;
}
.progressbar {
  background-color: #ddd;
  border: 1px solid #aaa;
}
#content {
  background: #ddd;
  border: 1px solid #ccc;
}
#content.infopage {
  background-color: transparent;
}
.infopage #main {
  background-color: #fafafa;
  border-radius: 2px;
  border: 1px solid #aaa;
}
.message {
  background: #fafafa;
  border: 1px solid #aaa;
}
.meter {
  background: #ddd;
  border: 1px solid #aaa;
}
.odd {
  background-color: transparent;
}
.warning {
  background: #fcc;
  border: 2px dashed #f99;
  font-weight: bold;
}
pre {
  background-color: #fff;
  border: 1px solid transparent;
}
.setting .default {
  color: #666;
}
#scorebarBorder {
  background: #eee;
  border: 1px solid #eee;
}
#tablePwdCheck tr th {
  color: #115b80;
}
body .value_error {
  border: 1px solid #f66;
}
body .value_error:hover {
  border-color: #c00;
}
body .value_error:focus {
  border-color: #c00;
  box-shadow: 0 0 10px 0 #c00;
}
/*! these colors conform to WCAG Standards */
.status_red {
  background: #f66;
  color: #115b80;
  text-align: center;
  padding: 2px;
  border-radius: 2px;
}
.status_green {
  background: #35ee00;
  color: #000;
  padding: 2px;
  border-radius: 2px;
}
.status_yellow {
  background: #eec900;
  color: #115b80;
  padding: 2px;
  border-radius: 2px;
}
.status_orange {
  background: #fea543;
  color: #115b80;
  padding: 2px;
  border-radius: 2px;
}
.center a[href] {
  color: #115b80;
}
.logout {
	fill: #115b80;
	cursor: pointer;
}
.logout:hover {
  fill: #f66;
}
