/*! kromo */
* {
  font-family: Tahoma, Arial, sans-serif;
  font-size: 1em;
}
body {
  margin: .906em;
  font-size: 75%;
}
/*! Common to light and dark for now */
body.gui {
  text-align: center;
  margin: 0;
}
hr {
  border: none;
  width: 100%;
  height: .09em;
}
textarea {
  padding: 4px;
  font-size: 12px;
  line-height: 1.42857;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  resize: vertical;
}
.pre_label {
  margin-bottom: .453em;
}
pre {
  overflow: auto;
  padding: 1em;
  margin: 0;
  font-family: monospace;
  font-size: 12px;
  white-space: pre-wrap;
  border-radius: 2px;
}
form {
  margin: 0;
}
form[name='wds'] select {
  margin-right: .562em;
  margin-top: .1rem;
}
form[name='wds'] input[size='25'] {
  vertical-align: middle;
}
input {
  padding: 4px;
  font-size: 12px;
  line-height: 1.42857;
  border-radius: 2px;
}
input.num {
  padding-left: 2px;
  padding-right: 2px;
  text-align: center;
  vertical-align: middle;
}
select {
  padding: 4px;
  font-size: 12px;
  height: 1.6rem;
  min-width: 5.66rem;
  border-radius: 4px;
  vertical-align: middle;
}
select[name='time_zone'] {
  min-width: 15.3rem;
}
select[onchange*='blockedServices'] {
  margin-right: .362em;
  height: 1.7rem;
  width: 9.5rem;
}
select[onchange*='ServiceTable'] {
  width: inherit;
  height: inherit;
}
select[name*='bonding'], select[name*='schedule_'],
.num[name*='openvpncl_remoteport'],
.num[name='schedule_time'], .num[name='bonding_number'] {
  vertical-align: unset;
}
#score {
  color: #000;
  font-size: 85%;
  position: absolute;
  text-align: center;
  width: 100px;
  z-index: 10;
}
#score, #rating, #standards {
  font-weight: bold;
}
#scorebar {
  background-image: url(/images/gradient.svg);
  background-repeat: no-repeat;
  border-radius: 2px;
  position: absolute;
  width: 100px;
  z-index: 0;
}
#scorebarBorder {
  border-radius: 2px;
  height: 16px;
  margin-bottom: 2px;
  width: 100px;
}
#tablePwdCheck tr th {
  background-color: transparent;
  border: 0;
  text-align: right;
  vertical-align: middle;
}
#wrapper {
  position: relative;
  text-align: left;
  width: 89.464em;
  margin: 0 auto;
}
#header {
  width: 100%;
  height: 9.24em;
  padding-top: .908em;
}
.infopage #header {
  height: 6.612em;
}
#header #logo {
  background: url(/images/logo.png) left center no-repeat;
  height: 4.076em;
  width: 454px;
  margin-bottom: .272em;
}
#logo h1 {
  display: none;
}
#statusInfo {
  position: absolute;
  top: .908em;
  right: 0;
  width: 32.609em;
  text-align: right;
}
#menu {
  position: relative;
  width: 72.464em;
}
#menuSub {
  position: absolute;
  top: 2.265em;
  left: 0;
  width: 89.34em;
  padding-top: .362em;
  border-top: 1px solid;
  border-radius: 2px 2px 0 0;
}
#menuMainList, #menuSubList {
  margin: 0;
  padding: 0;
}
#menuMainList li, #menuSubList li {
  float: left;
  list-style-type: none;
}
#menuMainList li span, #menuSubList li span,
#menuMainList li a, #menuSubList li a {
  display: block;
  margin-left: .362em;
  border-radius: 2px 2px 0 0;
  border-style: solid solid none;
  border-width: 1px;
  text-decoration: none;
  padding: .453em .906em;
}
#menuMainList .current span {
  position: relative;
  z-index: 1;
}
#menuMainList li span {
  font-weight: bold;
  padding-bottom: .626em;
  margin-top: 0;
}
#menuMainList .current span {
  padding: .453em .906em;
}
#menuSubList li span {
  font-weight: bold;
  padding-bottom: .543em;
  margin-top: .09em;
}
#menuMainList li a, #menuSubList li a {
  margin-top: .09em;
}
#menuSubList li a {
  font-weight: normal;
}
#menuMainList li a:hover, #menuSubList li a:hover {
  margin-top: 0;
  padding-bottom: .543em;
}
li.current {
  margin-top: 2px;
}
#main, #helpContainer {
  position: relative;
  float: left;
}
#content {
  border-radius: 0 0 2px 2px;
  margin-bottom: 1em;
}
#main #contents {
  width: 65.536em;
  padding: .906em;
}
#main #contentsInfo {
  width: 87.471em;
  padding: .906em;
}
#main #contentsInfo div.col2l {
  float: left;
  width: 43em;
}
#main #contentsInfo div.col2r {
  float: right;
  width: 43em;
}
h2, h3 {
  padding: 4px 12px;
  line-height: 1.42857;
  letter-spacing: .123rem;
  margin: 0 0 .906em 0;
  border-radius: 2px;
  border: 1px solid;
}
.setting {
  position: relative;
  margin-bottom: .453em;
  line-height: 1.993;
  width: 100%;
}
.setting input[type] {
  margin-left: 0;
  margin-right: .362em;
}
.setting .label {
  float: left;
  width: 20em;
}
.setting .default {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 19em;
}
/* this applies to CPU Features label results and MAC Clone button */
.padding-left {
  padding-left: 13.6rem;
}
.syslog-padding {
  padding: .94em;
}
.warning {
  padding: .725em;
  text-align: center;
  border-radius: 2px;
}
fieldset {
  border-radius: 2px;
  padding: .725em;
  margin: 0;
}
fieldset legend {
  font-weight: bold;
  margin-left: -.362em;
  padding: 0 .272em;
}
table {
  margin: 0 auto;
  width: 100%;
  border-spacing: .1em;
}
table[summary='week days table'] {
  margin-left: -1.3rem;
}
table#radio_table {
  border-spacing: .1666em;
  text-align: center;
}
table#radio_table tr td {
  height: 18px;
}
table tr th {
  border: 1px solid;
  border-radius: 2px;
  font-weight: normal;
  padding: .09em .543em;
  text-align: left;
  line-height: normal;
  vertical-align: bottom;
}
table tr th[sortdir] {
  cursor: pointer;
}
#active_clients_table,
#dhcp_leases_table {
  table-layout: fixed;
}
#active_clients_table td,
#dhcp_leases_table td {
  text-overflow: ellipsis;
  overflow: hidden;
}
table[summary='ports forwarding table'] .num[size='15'] {
  max-width: 100px;
}
table[summary='ports forwarding table'] .num[size='5'] {
  max-width: 50px;
}
table[summary='ports forwarding table'] input[size='10'] {
  max-width: 79px;
}
#help {
  width: 21em;
  padding: .906em 0;
}
#help dl {
  padding: 0;
  margin: 0;
}
#help dt.term {
  margin: 0 0 .362em 0;
  font-weight: bold;
}
#help dd.definition {
  padding-bottom: .908em;
  margin: 0 0 .908em 0;
}
#help a {
  display: block;
  position: absolute;
  top: 1.399em;
  right: .901em;
  text-align: right;
  text-decoration: none;
  text-transform: lowercase;
}
#help a:hover, a[title='Geotool'] {
  text-decoration: underline;
}
#logout {
  background: none !important;
  border: 0 !important;
  position: absolute;
  margin-top: -5px !important;
  right: .1rem;
  z-index: 1;
  cursor: pointer;
}
.submitFooter {
  padding: 4px 12px;
  margin: 0;
  text-align: center;
  border-radius: 2px;
}
#mainno .submitFooter {
  margin: -1.7em .906em .906em;
}
.stick {
  position: sticky;
  bottom: 0;
}
.nostick {
  position: unset;
}
.submitFooter .button {
  padding: 0 1rem;
  margin: .362em;
  height: 1.533rem;
}
#floatKiller {
  clear: both;
  width: 1px;
  height: 1px;
  font-size: 1px;
}
.center {
  text-align: center;
}
.message {
  border-radius: 2px;
  max-width: 72.464em;
  margin: 2em auto;
  padding: 1.812em .906em .906em;
  font-weight: bold;
  text-align: center;
}
.message div input {
  padding: .362em 1.087em;
  margin: 0 .362em;
  margin-top: 1.449em;
  font-weight: normal;
}
.popup {
  padding: .906em;
}
.meter {
  border-radius: 2px;
  position: relative;
  float: right;
  margin-top: 1px;
  width: 14.49em;
  height: 1.268em;
}
.meter .bar {
  height: 1.268em;
  border-radius: 2px;
}
.meter .text {
  position: absolute;
  top: 0;
  width: 100%;
  height: 1.268em;
  text-align: center;
  line-height: 1.181;
}
td .meter {
  float: none;
  margin-top: 0;
  width: 99%;
}
.progressbar {
  visibility: visible;
  position: relative;
  overflow: hidden;
  border-radius: 2px;
  margin: 0 auto;
}
.progressbarblock {
  position: absolute;
}
/*! fix spacing between dd-wrt link above paypal and top*/
.center a[href] {
  line-height: 2.2;
}
.button {
  border: 0;
  padding: .2em .6em;
  margin: 0 .3em 0 0;
  height: 1.6rem;
  vertical-align: middle;
  cursor: pointer;
}
.button:hover, .button:focus {
  text-decoration: none;
}
[disabled], :disabled, .off {
  cursor: default;
  opacity: .6;
}
input[onclick*='bond_del'] {
  margin-top: -.3rem;
  margin-left: .325em;
}
input.button[onclick*='add_peer'] {
  margin: 0 0 -8px;
}
input.button[onclick*='gen_wg_key'],
input.button[onclick*='gen_wg_psk'] {
  margin: 0 0 6px;
}
[type='image'][src*='paypal'] {
  margin-bottom: -1rem;
  margin-top: .2rem;
  padding: 0;
  border: 0;
}
.spaceradio {
  margin-right: .4em;
}
.three_column {
  width: 10rem;
  margin-left: 0;
  margin-right: 10px;
}
.three_column_last {
  margin-right: 0;
}
.four_column {
  width: 115px;
  margin-left: 0;
  margin-right: 10px;
}
.four_column_last {
  margin-right: 0;
}
input.button[onclick*='delete'] {
  margin: -.1rem .2rem 0 .3rem;
}
input.button[onclick*='filter_remove'] {
  margin: 0 .3em 0 .1em;
}
input.button[onclick*='FilterSummary'] {
  margin-top: -.1rem;
}
div.bulle {
  position: absolute;
  visibility: hidden;
  width: auto;
  z-index: 2000;
}
table.bulle {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  text-align: justify;
}
td.bulle {
  width: auto;
  height: auto;
  padding: .09em;
  border: 0;
}
