html, body, #wrapper {
  height: 100%;
  padding: 0;
}
th {
  padding-left: 3px;
  padding-right: 3px;
}
input, select {
  margin: 2px;
  margin-left: 0.3em;
  margin-right: 0.3em;
}
#wrapper {
  margin-left: 2px;
  margin-right: 2px;
}
#content {
  padding-top: 0em;
  padding-bottom: 0em;
}
div.popup {
  margin: 3em;
}
#mess div[style="text-align: left;"] {
  text-align: center !important;
}
.message {
  border-radius: 4px;
  margin: 2em auto;
  padding: .906em;
  font-weight: bold;
  text-align: center;
  color: #fff;
}
.message div input {
  padding: .162em 1.087em;
  margin: 0 .362em;
  font-weight: normal;
}
div.setting {
  margin: 0;
  padding: 3px;
  padding-left: 0;
  clear: both;
}
.progressbar {
  visibility: visible;
  position: relative;
  overflow: hidden;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  margin: 2em auto;
}
.progressbarblock {
  position: absolute;
  font-size: .09em;
}
fieldset {
  padding-left: 10px;
}
#main {
  clear: both;
  margin-right: 20rem;
  margin-bottom: 1em;
  padding-top: 1.7em;
}
#header {
  top: 0;
  margin: 0;
  padding: 0;
}
#header div#logo {
  z-index: 30;
}
#helpContainer {
  position: absolute;
  top: 0;
  right: 10px;
  width: 300px;
  min-height: 100%;
  z-index: 3;
}
#help {
  margin-top: 7em;
  padding: .906em;
}
dt {
  margin: .4em;
}
dd {
  padding-bottom: .2em;
  border-bottom: 1px dotted;
}
#help div#logo {
  text-align: center;
  padding-right: 20px;
}
#statusInfo {
  position: absolute;
  top: 15px;
  right: 5px;
  height: 5em;
  width: 36em;
  margin: 0;
  padding: 0;
  z-index: 30;
}
.submitFooter {
  margin: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-align: center;
}
#contents {
  padding: 1.3em;
  padding-bottom: 0.1em;
  min-height: 300px;
}
#menuMain {
  position: relative;
  height: 2em;
}
#menuMain ul#menuMainList {
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: -1px;
  width: 100%;
}
#menuMain ul#menuMainList li {
  display: inline;
  list-style: none;
}
#menuMain ul#menuMainList a, #menuMain ul#menuMainList span, #menuMain ul#menuMainList a.current {
  padding: 4px 10px;
  margin: 1px 2px 0 0;
  display: block;
  float: left;
  text-align: center;
}
#menuMain ul#menuMainList span, #menuMain ul#menuMainList a.current, #menuMain ul#menuMainList a.current:hover {
  margin-top: 0;
  padding-bottom: 6px;
}
#menuMain ul#menuMainList a:hover {
  margin-top: 0;
  padding-bottom: 5px;
}
#menuMain ul#menuSubList {
  position: absolute;
  margin: 0;
  padding: 0;
  bottom: -1.3em;
  left: 1px;
}
#menuMain ul#menuSubList li a, #menuMain ul#menuSubList li span {
  padding: 0 10px;
  margin: 0;
  display: block;
  float: left;
  text-align: auto;
}
#menuMain ul#menuSubList li a:hover {
  padding: 0 10px;
}
* #contentsInfo {
  position: relative;
  z-index: 0;
  padding: .906em;
}
.meter {
  float: right;
  position: relative;
  top: -.09em;
  height: 1.268em;
  width: 14.49em;
  background: #999;
  border-style: solid;
  border-width: .09em;
  border-color: #666 #ccc #ccc #666;
}
.meter .bar {
  height: 1.268em;
}
.meter .text {
  position: absolute;
  top: 0;
  width: 100%;
  height: 1.268em;
  text-align: center;
  line-height: 1.181em;
}
td .meter {
  float: none !important;
  margin-top: 0 !important;
  width: 99% !important;
}
.progressbar {
  visibility: visible;
  position: relative;
  overflow: hidden;
  border-style: solid;
}
.progressbarblock {
  position: absolute;
}
input.spaceradio {
  margin-right: .4em;
}
#score {
  color: #000;
  font-size: 85%;
  position: absolute;
  text-align: center;
  width: 100px;
  z-index: 10;
}
#score, #rating, #standards {
  font-weight: bold;
}
#scorebarBorder {
  background: #333;
  border: 1px #000 solid;
  height: 16px;
  margin-bottom: 2px;
  width: 100px;
}
iframe[src*='/graph_if.svg'] {
  max-width: 700px;
}
iframe#syslog {
  left: 1rem;
  top: 3rem;
  max-width: 45%;
  position: relative;
}
input.button[onclick*="do_show"] {
  left: 18%;
  top: 2.3rem;
  position: relative;
}
input.button[name="refresh_button"] {
  top: 0;
  left: -30%;
  position: relative;
}
