* {
  font-family: AvantGarde, Verdana, Arial, Helvetica, sans-serif;
  font-size: 1em;
}
body {
  margin: .906em;
  font-size: 75%;
}
h1 {
  font-size: 3.5em;
  letter-spacing: -3px;
}
a {
  text-decoration: none;
}
table {
  margin-left: auto;
  margin-right: auto;
}
table.table {
  border: 1px solid;
}
table.table th {
  border: 1px solid;
}
dd {
  margin-left: 0.8em;
}
#help {
  border: 1px solid;
}
#statusInfo {
  border: 1px solid;
}
select {
  border: 1px solid;
}
input {
  padding: 1px;
  padding-right: 2px;
  padding-left: 2px;
}
input[type='radio'], input[type='checkbox'] {
  border: 0;
}
input.num {
  text-align: right;
}
.term {
  font-weight: 900;
}
.label {
  width: 20em;
  float: left;
}
.default {
  position: relative;
  right: -15em;
  width: 24em;
}
.info:first-child {
  margin-top: 0.7em;
}
.info {
  margin-left: 0.7em;
  overflow: hidden;
}
div.warning {
  margin: 30px;
  text-align: center;
  font-weight: bolder;
}
#main {
  border: 1px solid;
}
#menuMain ul#menuMainList a, #menuMain ul#menuMainList span, #menuMain ul#menuMainList a.current {
  text-align: center;
  text-decoration: none;
}
#menuMain ul#menuMainList span, #menuMain ul#menuMainList a.current, #menuMain ul#menuMainList a.current:hover {
  border: 1px solid;
  border-bottom: none;
}
#menuMain ul#menuMainList a {
  border: 1px solid;
  border-bottom: none;
}
#menuMain ul#menuSubList li a, #menuMain ul#menuSubList li span {
  border: none;
  border-right: 1px dotted;
  height: 1em
}
#menuMain ul#menuSubList li a {
  text-decoration: none;
}
#menuMain ul#menuSubList li:last-child * {
  border: none;
}
