@import url(layout.css);
@import url(colors.css);
/*! kromo */
#menuSub, #menuMainList li span {
  background: #fff3b3;
  color: #115b80;
  border-color: #115b80;
}
#menuSub li span {
  background: #ddd;
}
#menuSubList li a {
  background: #115b80;
  color: #fff;
  border-color: #115b80;
}
#menuSubList li a:hover {
  filter: brightness(1.2)
}
fieldset legend, .syslog_legend {
  color: #115b80;
}
#help a, #help a:hover {
  color: #115b80;
}
@keyframes animate-progress {
  to { background-position: -40px 0 }
}
.meter .bar {
  background-color: #fff3b3;
  background: repeating-linear-gradient(55deg,
    #fff3b3 , #fff3b3  2px,
    #ccc 2px, #ccc 3px);
  animation: animate-progress 4s linear infinite
}
.meter .text {
  color: #115b80;
}
.progressbarblock {
  background-color: #496fc7;
}
input.button, input.button[disabled]:hover {
  background: #115b80;
  color: #fff;
  filter: brightness(1)
}
input.button:hover {
  filter: brightness(1.2)
}
input:focus-visible, textarea:focus-visible,
select:focus-within {
  box-shadow: 0 0 5px 1px #115b80;
  outline: 2px solid #115b80;
}
input[name='apply_button'] {
  background: #166f2a;
  border-color: #1a6d2d;
  color: #fff;
}
input[name='apply_button']:hover {
  background: #199235;
  border-color: #199235;
  color: #fff;
}
input[name='apply_button']:focus-visible {
  box-shadow: 0 0 5px 1px #199235;
  outline: 0;
}
input[name='reset_button'] {
  background: #fff;
  border-color: #ccc;
  color: #000;
}
input[name='reset_button']:hover {
  background: #ff8400;
  border-color: #ff8400;
  color: #000;
}
input[name='reset_button']:focus-visible {
  box-shadow: 0 0 5px 1px #fff;
  outline: 0;
}
input[name='reboot_button'],
input[name='reboot_button']:disabled:hover {
  background: #c00;
  border-color: #f00;
  color: #f8f8f8;
}
input[name='reboot_button']:hover {
  background: #e00;
  border-color: #d00;
  color: #fff;
}
input[name='reboot_button']:focus-visible {
  box-shadow: 0 0 5px 1px #ff7c7c;
  outline: 0;
}
