@import url(layout.css);
@import url(colors.css);
/*! kromo */
::selection {
  background: #115b80;
  color: #fff;
}
#menuSub, #menuMainList li span {
  background: #fff3b3;
  color: #115b80;
  border-color: #115b80;
}
#menuSub li span {
  background: #ddd;
}
#menuMainList li a {
  background: #115b80;
  color: #eee;
  border-color: #115b80;
  font-weight: bold;
}
#menuMainList li a:hover {
  filter: brightness(1.2);
}
#menuSubList li a {
  background: #115b80;
  color: #fff;
  border-color: #115b80;
}
#menuSubList li a:hover {
  filter: brightness(1.2);
}
fieldset legend, .syslog_legend {
  color: #115b80;
}
#help a, #help a:hover, a[title='Geotool'] {
  color: #115b80;
}
@keyframes animate-progress {
  to { background-position: -40px 0; }
}
.meter .bar {
  background-color: #fff3b3;
  background: repeating-linear-gradient(55deg,
    #fff3b3 , #fff3b3  2px,
    #ccc 2px, #ccc 3px);
  animation: animate-progress 4s linear infinite
}
.meter .text {
  color: #115b80;
}
.progressbarblock {
  background-color: #115b80;
}
input:focus, textarea:focus,
select:focus {
  border: 1px solid #115b80;
  box-shadow: 0 0 5px 1px #115b80;
}
input:focus-visible, textarea:focus-visible,
select:focus-visible {
  border: 1px solid #115b80;
  box-shadow: 0 0 5px 1px #115b80;
  outline: 0;
}
.button:focus, .button:focus-visible {
  border: 0;
  box-shadow: 0 0 5px 1px #115b80;
  outline: 0;
}
input[type='checkbox'],
input[type='radio'] {
  accent-color: #115b80;
}
.button, .button[disabled]:hover {
  background: #115b80;
  color: #fff;
  filter: brightness(1);
}
.button:hover {
  filter: brightness(1.2);
}
.button.green_btn {
  background: #166f2a;
  color: #fff;
}
.button.green_btn:hover {
  background: #199235;
  color: #fff;
}
.button.green_btn:focus, .button.green_btn:focus-visible {
  box-shadow: 0 0 5px 1px #199235;
  outline: 0;
}
.button.brown_btn {
  background: #6f4816;
  color: #fff;
}
.button.brown_btn:hover {
  background: #925d19;
  color: #fff;
}
.button.brown_btn:focus, .button.brown_btn:focus-visible {
  box-shadow: 0 0 5px 1px #ff8400;
  outline: 0;
}
.button.red_btn,
.button.red_btn:disabled:hover {
  background: #c00;
  color: #f8f8f8;
}
.button.red_btn:hover {
  background: #e00;
  color: #fff;
}
.button.red_btn:focus, .button.red_btn:focus-visible {
  box-shadow: 0 0 5px 1px #ff7c7c;
  outline: 0;
}
div.bulle, table.bulle, td.bulle {
  background-color: #fff3b3;
  color: #000;
}
