.remove {
  background: url(/images/remove-black.svg) center no-repeat;
  cursor: pointer;
  height: 16px;
  width: 16px;
  border: 0;
}
.remove:hover, .remove:focus, .remove:focus-within, .remove:focus-visible {
  background: url(/images/remove-hover.svg) center no-repeat;
  height: 16px;
  width: 16px;
  border: 0;
  box-shadow: none;
}
.add {
  background: url(/images/add-black.svg) center no-repeat;
  cursor: pointer;
  height: 16px;
  width: 16px;
  border: 0;
}
.add:hover, .add:focus, .add:focus-within, .add:focus-visible {
  background: url(/images/add-hover.svg) center no-repeat;
  height: 16px;
  width: 16px;
  border: 0;
  box-shadow: none;
}
