.remove {
  background: url(/images/remove-white.svg) center no-repeat;
  cursor: pointer;
  height: 16px;
  width: 16px;
}
.remove:hover {
  background: url(/images/remove-white.svg) center no-repeat;
  filter: saturate(4) contrast(2);
  height: 16px;
  width: 16px;
}
.add {
  background: url(/images/add-white.svg) center no-repeat;
  cursor: pointer;
  height: 16px;
  width: 16px;
}
.add:hover {
  background: url(/images/add-white.svg) center no-repeat;
  filter: saturate(4) contrast(2);
  height: 16px;
  width: 16px;
}
