* {
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  font-size: 1em;
  text-align: justify;
}
body {
  margin: .906em;
  font-size: 75%;
}
tt {
  font-family: Courier, 'Courier New';
}
.help-bg {
  background: #f9f9f9;
}
.help-bg #content {
  background: transparent;
  border-color: transparent;
  color: #111;
}
#header {
  background: #f9f9f9;
  position: relative;
  height: 4.257em;
}
.logo {
  background: url(../help/logo-help.png) left center no-repeat;
  height: 4.076em;
  width: 314px;
  mix-blend-mode: darken;
}
a {
  text-decoration: none;
  color: #33f;
}
a:hover {
  text-decoration: underline;
  color: #33f;
}
.navig {
  position: absolute;
  top: 4.737em;
  right: .815em;
  color: #fff;
}
.navig a {
  font-weight: 900;
  text-decoration: none;
  color: #fff;
}
.navig a:hover {
  color: #5cb3ff;
}
h2 {
  background-color: #777674;
  color: #fff;
  padding: 4px 12px;
  line-height: 1.42857;
  letter-spacing: .123rem;
  margin: 0 0 .906em 0;
  border-radius: 4px;
}
dl {
  padding: 0;
  margin: 0;
}
dt {
  margin: 0 0 .362em 0;
  font-weight: 700;
}
dd {
  padding-bottom: .908em;
  border-bottom: 1px dotted #aaa;
  margin: 0 0 .908em 0;
}
ul, ol {
  padding: 0;
  margin: 0;
}
.wide li {
  margin-top: 1em;
  margin-left: 2.5em;
}
ul {
  list-style-type: '\01F81A\A0';
}
ul li {
  margin-left: 2.2em;
}
ol {
  list-style-type: decimal;
}
ol li {
  margin-left: 2.5em;
}
.also, .note {
  padding: .725em;
}
.note {
  background: #daffda;
  border-left: .5em solid #19cc19;
}
.note h4 {
  float: left;
  font-weight: 900;
  margin-top: 0;
  padding-right: .41em;
  text-transform: uppercase;
  color: #077507;
}
.note div {
  margin-left: 3.6em;
}
.also {
  background: #fffade;
  border-left: .5em solid #e0cb52;
}
.also h4 {
  float: left;
  font-weight: 900;
  margin-top: 0;
  text-transform: uppercase;
  padding-right: 1.6em;
  color: #755a07;
}
.also ul {
  margin-left: 4.4em;
}
