/*! common styling for legacy old themes;
 * Brainslayer
 * Wikar
 * Xirian 
 */
.status_red {
  background: #ff6666;
  color: #000;
  text-align: center;
  padding: 2px;
  border-radius: 2px;
}
.status_green {
  background: #35ee00;
  color: #000;
  text-align: center;
  padding: 2px;
  border-radius: 2px;
}
.status_yellow {
  background: #eec900;
  color: #000;
  text-align: center;
  padding: 2px;
  border-radius: 2px;
}
.status_orange {
  background: #fea543;
  color: #000;
  text-align: center;
  padding: 2px;
  border-radius: 2px;
}
.value_error {
  border: 1px solid #ff6666;
}
.value_error:hover {
  border-color: #f00;
}
.value_error:focus {
  border-color: #f00;
  box-shadow: 0 0 10px 0 #f00;
}
input.button {
  cursor: pointer;
}
input.button[disabled],
input[disabled], select[disabled], .off {
  cursor: default;
  opacity: .6
}
#tablePwdCheck tr th {
  background-color: transparent;
  border: 0;
  text-align: right;
  vertical-align: middle;
}
#scorebar {
  background-image: url(/images/gradient.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  width: 100px;
  z-index: 0;
}
#help a:hover, a[title='Geotool'] {
  text-decoration: underline;
  color: #04c;
}
div.bulle {
  position: absolute;
  visibility: hidden;
  width: auto;
  z-index: 2000;
}
table.bulle {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  text-align: justify;
}
td.bulle {
  width: auto;
  height: auto;
  padding: .09em;
  border: 0;
}
div.bulle, table.bulle, td.bulle {
  background-color: #eec900;
  color: #000;
}
#ip_count:hover, [title*='Search']:hover,
[title*='Chain']:hover, [title*='Monitoring']:hover {
  color: #04c;
}
.table_row_bg {
  background-color: #d1d1d1;
}
.table_row_bg:hover {
  background-color: #d9d9d9;
}
table tr:not([class]):hover {
  background-color: transparent;
}
.table_bg_br_clr_on {
  background-color: #31dd00;
  border: 1px solid #1c7b01;
}
.table_bg_br_clr_on:hover {
  background-color: #35ee00;
  border: 1px solid #1c7b01;
}
.table_bg_br_clr_off, .table_bg_br_clr_off:hover {
  background-color: #fff;
  border: 1px solid #777674;
  opacity: .5;
}
.stick {
  position: sticky;
  bottom: 0;
}
.nostick {
  position: unset;
  bottom: unset;
}
