* {
  font-family: Tahoma, Arial, sans-serif;
  font-size: 1em;
}
body {
  background: #f9f9f9;
  margin: .906em;
  font-size: 69%;
}
body.gui {
  text-align: center;
  background: #111;
  margin: 0;
}
hr {
  border: none;
  color: #ccc;
  background: #ccc;
  width: 100%;
  height: .09em;
}
textarea {
  padding: 4px;
  font-size: 12px;
  line-height: 1.42857;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
pre {
  overflow: auto;
  padding: 1em;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  background-color: #f7f7f7;
  white-space: pre-wrap;
}
form {
  margin: 0;
}
form[name='wds'] select {
  margin-right: 6px;
}
input {
  padding: 4px;
  font-size: 12px;
  line-height: 1.42857;
  border-radius: 4px;
}
input.num {
  padding-left: 1px;
  padding-right: 1px;
  text-align: center;
  vertical-align: middle;
}
select {
  padding: 4px 4px;
  font-size: 12px;
  height: 1.6rem;
  border-radius: 4px;
  vertical-align: middle;
}
#score {
  color: #000;
  font-size: 85%;
  position: absolute;
  text-align: center;
  width: 100px;
  z-index: 10;
}
#score, #rating, #standards {
  font-weight: bold;
}
#scorebar {
  background-image: url(/style/gradient.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  width: 100px;
  z-index: 0;
}
#scorebarBorder {
  background: #333;
  border: 1px #000 solid;
  height: 16px;
  margin-bottom: 2px;
  width: 100px;
}
#wrapper {
  position: relative;
  text-align: left;
  width: 89.464em;
  margin: 0 auto;
}
#content {
  background: #f9f9f9;
}
#header {
  width: 89.464em;
  height: 9.34em;
  background: #111;
  padding-top: .908em;
}
.infopage #header {
  height: 6.612em;
}
#header #logo {
  background: url(logo.png) left center no-repeat;
  height: 4.076em;
  width: 454px;
  margin-bottom: .272em;
}
#header #logo h1 {
  display: none;
}
#statusInfo {
  position: absolute;
  top: .908em;
  right: 0;
  width: 32.609em;
  text-align: right;
  color: #ccc;
}
#statusInfo a {
  color: #ccc;
  text-decoration: none;
}
#statusInfo a:hover {
  color: #fff;
  text-decoration: underline;
}
#menu {
  position: relative;
  width: 72.464em;
}
#menuSub {
  position: absolute;
  top: 2.265em;
  left: 0;
  width: 89.283em;
  padding-top: .362em;
  border-style: solid solid none solid;
  border-width: 1px;
}
#menuMainList, #menuSubList {
  margin: 0;
  padding: 0;
}
#menuMainList li, #menuSubList li {
  display: inline;
  float: left;
  list-style-type: none;
}
#menuMainList li span, #menuSubList li span,
#menuMainList li a, #menuSubList li a {
  display: block;
  margin-left: .362em;
  border-style: solid solid none solid;
  border-width: 1px;
  padding: .453em .906em;
  text-decoration: none;
}
#menuMainList li span {
  font-weight: bold;
  padding-bottom: .626em;
  margin-top: 0;
}
#menuSubList li span {
  background: #f9f9f9;
  color: #000;
  border-color: #ccc;
  font-weight: normal;
  padding-bottom: .543em;
}
#menuMainList li a, #menuSubList li a {
  margin-top: .09em;
}
#menuMainList li a {
  background: #333;
  color: #999;
  border-color: #555;
  font-weight: bold;
}
#menuSubList li a {
  font-weight: normal;
}
#menuMainList li a:hover, #menuSubList li a:hover {
  margin-top: 0;
  padding-bottom: .543em;
}
#menuMainList li a:hover {
  background: #666;
  color: #ccc;
  border-color: #888;
}
#main, #helpContainer {
  position: relative;
  float: left;
}
#main #contents {
  width: 65.536em;
  padding: .906em;
}
#main #contentsInfo {
  width: 87.471em;
  padding: .906em;
}
#main #contentsInfo div.col2l {
  float: left;
  width: 43em;
}
#main #contentsInfo div.col2r {
  float: left;
  width: 43em;
  margin-left: .906em;
}
h2, h3 {
  padding: 4px 12px;
  font-size: 12px;
  line-height: 1.42857;
  letter-spacing: .09em;
  margin: 0 0 .906em 0;
  border-radius: 4px;
}
.setting {
  position: relative;
  margin-bottom: .453em;
  line-height: 1.993em;
  width: 100%;
}
.setting .label {
  float: left;
  width: 18.931em;
}
fieldset .setting .label {
  width: 18.116em;
}
.setting .default {
  display: block;
  position: absolute;
  color: #666;
  top: 0;
  right: 0;
  width: 17em;
}
.warning {
  padding: .725em;
  text-align: center;
  border-radius: 4px;
}
fieldset {
  border-radius: 4px;
  padding: .725em;
  margin: 0;
}
fieldset legend {
  font-weight: bold;
  margin-left: -.362em;
  padding: 0 .272em;
}
table {
  margin: 0 auto;
  width: 100%;
  border-spacing: .3em;
}
table tr th {
  background: #999;
  border-style: solid;
  border-width: 1px;
  border-color: #ccc #666 #666 #ccc;
  color: #fff;
  font-weight: normal;
  padding: .09em .543em;
  text-align: left;
  vertical-align: bottom;
}
table tr:hover {
  background: #e8e8e8;
}
table tr:not([bgcolor]):hover {
  background-color: #f9f9f9;
}
table td {
  padding: 0;
}
table[summary='ports forwarding table'] .num[size='15'] {
  max-width: 100px;
}
table[summary='ports forwarding table'] .num[size='5'] {
  max-width: 50px;
}
table[summary='ports forwarding table'] input[size='10'] {
  max-width: 79px;
}
#help {
  width: 21.333em;
  padding: .906em 0;
}
#help dl {
  padding: 0;
  margin: 0;
}
#help dt.term {
  margin: 0 0 .362em 0;
  font-weight: bold;
}
#help dd.definition {
  padding-bottom: .908em;
  border-bottom: 1px dotted #ccc;
  margin: 0 0 .908em 0;
}
#help a {
  display: block;
  position: absolute;
  top: 1.478em;
  right: .901em;
  text-align: right;
  text-decoration: none;
  text-transform: lowercase;
}
#help a:hover {
  text-decoration: underline;
}
.submitFooter {
  padding: 4px 12px;
  margin: 0;
  text-align: center;
}
.submitFooter .button,
.message div input {
  padding: .362em 1.087em;
  margin: 0 .362em;
}
#floatKiller {
  clear: both;
  width: 1px;
  height: 1px;
  font-size: 1px;
}
div.center {
  text-align: center;
}
.message {
  border-radius: 6px;
  max-width: 72.464em;
  margin: 0 auto;
  padding: 1.812em;
  font-weight: bold;
  text-align: center;
}
.message div input {
  margin-top: 1.449em;
  font-weight: normal;
}
.popup {
  padding: .906em;
}
.meter {
  border-radius: 3px;
  position: relative;
  float: right;
  margin-top: 1px;
  width: 14.49em;
  height: 1.268em;
}
.meter .bar {
  height: 1.268em;
}
.meter .text {
  position: absolute;
  top: 0;
  width: 100%;
  height: 1.268em;
  text-align: center;
  line-height: 1.181em;
}
td .meter {
  float: none;
  margin-top: 0;
  width: 99%;
}
.progressbar {
  visibility: visible;
  position: relative;
  overflow: hidden;
  border-style: solid;
  font-size: .09em;
  border-width: 1px;
  border-radius: 4px;
}
.progressbarblock {
  position: absolute;
  font-size: .09em;
}
.textblink {
  text-decoration: blink;
}
.bin {
  background: url(/images/bin_bt.gif) center no-repeat;
  cursor: pointer;
}
/*! Find out where this is called from if at all extracted from of fresh.css */
button {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 12px;
  text-align: center;
  padding: 6px 12px;
  line-height: 1.42857;
  cursor: pointer;
  border-radius: 4px;
  -moz-user-select: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
input.button {
  border: 1px solid;
  padding: .2em .6em;
  margin: 0 .3em 0 0;
  height: 1.6rem;
  vertical-align: middle;
  cursor: pointer;
}
input.button:hover, input.button:focus,
button:hover, button:focus {
  text-decoration: none;
}
body input.button[disabled],
body input[disabled], body select[disabled] {
  cursor: default;
  opacity: .6
}
input.spaceradio {
  margin-right: .4em;
}
input.three_column {
  width: 150px;
  margin-left: 0;
  margin-right: 10px;
}
input.three_column_last {
  margin-right: 0;
}
input.four_column {
  width: 115px;
  margin-left: 0;
  margin-right: 10px;
}
input.four_column_last {
  margin-right: 0;
}
input.button[onclick*='delete'] {
  margin: 0 .2rem 0 .3rem;
}
input.button[name='preview_button'] {
  padding: 0 .6rem 0 .6rem;
}
div.bulle {
  background-color: #ffffe1;
  position: absolute;
  visibility: hidden;
  width: auto;
  z-index: 2000;
}
table.bulle {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  border: 1px solid #000;
  text-align: justify;
}
td.bulle {
  width: auto;
  height: auto;
  padding: .09em;
  border: 0;
}
.status_red {
  background: #ea0707;
  color: #eee;
  text-align: center;
  padding: 2px;
  border-radius: 2px;
}
.status_green {
  background: #07ef07;
  text-align: center;
  padding: 2px;
  border-radius: 2px;
}
.status_yellow {
  background: #ffed00;
  text-align: center;
  padding: 2px;
  border-radius: 2px;
}
.status_orange {
  background: #f80;
  text-align: center;
  padding: 2px;
  border-radius: 2px;
}
.off {
  opacity: .6;
}
.odd {
  background: #ccc;
  border-radius: 2px;
}
