/*! about/help */
#header .logo,
#content [src*='dd-logo.png'] {
  filter: invert(.95) hue-rotate(180deg) !important;
  mix-blend-mode: lighten !important;
}
.about-bg a {
  color: #5cb3ff !important;
}
.about-bg, .help-bg, #header {
  background: #1a1a1a !important;
  color: #eee;
}
/*! about */
.about-bg #content {
  border-color: transparent !important;
}
.about-bg #content .t-border {
  border-color: #333 !important;
}
.thc {
  background-color: #282828 !important;
}
/*! help */
a, a:hover {
  color: #5cb3ff;
}
.help-bg #content {
  background: transparent;
  border: 1px solid transparent;
  color: #eee;
}
.note {
  background: #244a24;
  border-left: .5em solid #4ee139;
}
.note h4 {
  color: #4ee139;
}
.also {
  background: #4a3f24;
  border-left: .5em solid #e1b739;
}
.also h4 {
  color: #e1b739;
}
