CPTCFG_ATH_USER_REGD=y
CPTCFG_MAC80211_RC_MINSTREL_HT=y
CPTCFG_ATH_CARDS=m
CPTCFG_WLAN_VENDOR_ATH=y
CPTCFG_ATH_COMMON=m
CPTCFG_ATH9K=m
CPTCFG_ATH9K_TX99=y
CPTCFG_ATH9K_HW=y
CPTCFG_ATH9K_COMMON=m
CPTCFG_ATH9K_DEBUGFS=y
CPTCFG_ATH9K_HTC_DEBUGFS=y
CPTCFG_ATH9K_STATION_STATISTICS=y
CPTCFG_ATH9K_DYNACK=y
