CPTCFG_WLAN_VENDOR_BROADCOM=y
CPTCFG_BRCMUTIL=m
CPTCFG_BRCMFMAC=m
CPTCFG_BRCMFMAC_PCIE=y
#CPTCFG_BRCMFMAC_USB=y
CPTCFG_BRCMFMAC_PROTO_MSGBUF=y
CPTCFG_BRCMFMAC_PROTO_BCDC=y
CPTCFG_BCMA=m
CPTCFG_BCMA_BLOCKIO=y
CPTCFG_BCMA_DRIVER_GPIO=y
CPTCFG_BCMA_DRIVER_PCI=y
CPTCFG_BCMA_HOST_PCI=y
CPTCFG_BCMA_HOST_PCI_POSSIBLE=y
CPTCFG_BCMA_HOST_SOC=y
