CPTCFG_WLAN_VENDOR_INTEL=y
CPTCFG_IPW2100=m
CPTCFG_IPW2100_MONITOR=y
CPTCFG_IPW2200=m
CPTCFG_IPW2200_MONITOR=y
CPTCFG_IPW2200_RADIOTAP=y
CPTCFG_IPW2200_PROMISCUOUS=y
CPTCFG_IWLEGACY=m
CPTCFG_IWLEGACY_DEBUGFS=y
CPTCFG_IWL4965=m
CPTCFG_IWL3945=m
CPTCFG_IWLWIFI=m
CPTCFG_IWLWIFI_LEDS=y
CPTCFG_IWLDVM=y
CPTCFG_IWLMVM=y
CPTCFG_IWLWIFI_DEBUGFS=y
