CPTCFG_WLAN_VENDOR_MEDIATEK=y
CPTCFG_MT76_CORE=m
CPTCFG_MT76_LEDS=y
CPTCFG_MT76x02_LIB=m
CPTCFG_MT76x2_COMMON=m
CPTCFG_MT76x0_COMMON=m
CPTCFG_MT76_CONNAC_LIB=m
CPTCFG_MT76x2E=m
CPTCFG_MT76x2U=m
CPTCFG_MT76x0E=m
CPTCFG_MT76x0U=m
CPTCFG_MT7603E=m
CPTCFG_MT7615E=m
CPTCFG_MT7663U=m
CPTCFG_MT7663S=m
CPTCFG_MT7915E=m
CPTCFG_MT7921E=m
CPTCFG_MT7921S=m

