CPTCFG_MWIFIEX=m
CPTCFG_MWIFIEX_SDIO=m
CPTCFG_MWLWIFI=m
CPTCFG_WLAN_VENDOR_MARVELL=y
CPTCFG_BT=m
CPTCFG_BT_RFCOMM=m
CPTCFG_BT_RFCOMM_TTY=y
CPTCFG_BT_BNEP=m
CPTCFG_BT_BNEP_MC_FILTER=y
CPTCFG_BT_BNEP_PROTO_FILTER=y
CPTCFG_BT_HCIBTSDIO=m
CPTCFG_BT_MRVL=m
CPTCFG_BT_MRVL_SDIO=m
CPTCFG_MAC80211_RC_MINSTREL_VHT=y
