CPTCFG_WLAN_VENDOR_RALINK=y
CPTCFG_RT2X00=m
CPTCFG_RT2800PCI=m
CPTCFG_RT2800PCI_RT33XX=y
CPTCFG_RT2800PCI_RT35XX=y
CPTCFG_RT2800PCI_RT53XX=y
CPTCFG_RT2800PCI_RT3290=y
CPTCFG_RT2800SOC=m
CPTCFG_RT2800_LIB=m
CPTCFG_RT2800_LIB_MMIO=m
CPTCFG_RT2X00_LIB_MMIO=m
CPTCFG_RT2X00_LIB_PCI=m
CPTCFG_RT2X00_LIB_SOC=m
CPTCFG_RT2X00_LIB=m
CPTCFG_RT2X00_LIB_FIRMWARE=y
CPTCFG_RT2X00_LIB_CRYPTO=y
CPTCFG_RT2X00_LIB_EEPROM=y
CPTCFG_RT2X00_LIB_LEDS=y
CPTCFG_RT2X00_LIB_DEBUGFS=y
