CPTCFG_RT2X00=y
CPTCFG_RT2800USB=y
CPTCFG_RT2800_LIB=y
CPTCFG_RT2X00_LIB_USB=y
CPTCFG_RT2X00_LIB_FIRMWARE=y
CPTCFG_RT2X00_LIB_CRYPTO=y
CPTCFG_RT2800USB_RT33XX=y
CPTCFG_RT2800USB_RT35XX=y
CPTCFG_RT2800USB_RT53XX=y
CPTCFG_RT2800USB_RT55XX=y
CPTCFG_RT2800USB_UNKNOWN=y
CPTCFG_RT2X00_LIB_DEBUGFS=y
CPTCFG_RT2X00_DEBUG=y
