CPTCFG_WLAN_VENDOR_REALTEK=y
CPTCFG_RTL_CARDS=y
CPTCFG_RTLWIFI=m
CPTCFG_RTLWIFI_PCI=m
CPTCFG_RTLWIFI_USB=m
CPTCFG_RTL8192C_COMMON=m
CPTCFG_RTL8192CE=m
CPTCFG_RTL8192CU=m
CPTCFG_RTL8192SE=m
CPTCFG_RTL8192DE=m
CPTCFG_RTL8723AE=m
CPTCFG_RTL8723BE=m
CPTCFG_RTL8188EE=m
CPTCFG_RTLBTCOEXIST=m
CPTCFG_RTL8723_COMMON=m
CPTCFG_RTL8821AE=m
CPTCFG_RTL8192EE=m
CPTCFG_RTW88=y
CPTCFG_RTW88_CORE=m
CPTCFG_RTW88_PCI=m
CPTCFG_RTW88_8822BE=y
CPTCFG_RTW88_8822BS=y
CPTCFG_RTW88_8822BU=y
CPTCFG_RTW88_8822CE=y
CPTCFG_RTW88_8822CS=y
CPTCFG_RTW88_8822CU=y
CPTCFG_RTW88_8723DE=y
CPTCFG_RTW88_8723DS=y
CPTCFG_RTW88_8723DU=y
CPTCFG_RTW88_8822B=y
CPTCFG_RTW88_8822C=y
CPTCFG_RTW88_8822D=y
CPTCFG_RTW88_8821C=y
CPTCFG_RTW88_8821CE=y
CPTCFG_RTW88_8821CS=y
CPTCFG_RTW88_8821CU=y
CPTCFG_RTW89=y
CPTCFG_RTW89_8851BE=y
CPTCFG_RTW89_8852AE=y
CPTCFG_RTW89_8852BE=y
CPTCFG_RTW89_8852CE=y
CPTCFG_RTW88_DEBUGFS=y

