aaaaaaaaaa  ICON "bitmaps/configtool.ico"
configtool  ICON "bitmaps/configtool.ico"

open        BITMAP "bitmaps/open.bmp"
save        BITMAP "bitmaps/save.bmp"
new         BITMAP "bitmaps/new.bmp"
copy        BITMAP "bitmaps/copy.bmp"
cut         BITMAP "bitmaps/cut.bmp"
paste       BITMAP "bitmaps/paste.bmp"
help        BITMAP "bitmaps/help.bmp"
cshelp      BITMAP "bitmaps/cshelp.bmp"

search      BITMAP "bitmaps/search.bmp"
stopbuild   BITMAP "bitmaps/stopbuild.bmp"
buildlibrary BITMAP "bitmaps/buildlibrary.bmp"
newregion   BITMAP "bitmaps/newregion.bmp"
newsection  BITMAP "bitmaps/newsection.bmp"
delete      BITMAP "bitmaps/delete.bmp"
properties  BITMAP "bitmaps/properties.bmp"
splash      BITMAP "bitmaps/splash16.bmp"

closedfolder            ICON  "bitmaps/closedfolder.ico"
closedfolder_dis        ICON  "bitmaps/closedfolder_dis.ico"
package_closed          ICON  "bitmaps/package_closed.ico"
package_closed_dis      ICON  "bitmaps/package_closed_dis.ico"
package_open            ICON  "bitmaps/package_open.ico"
package_open_dis        ICON  "bitmaps/package_open_dis.ico"
package_version         ICON  "bitmaps/package_version.ico"
checked                 ICON  "bitmaps/checked.ico"
checked_dis             ICON  "bitmaps/checked_dis.ico"
unchecked               ICON  "bitmaps/unchecked.ico"
unchecked_dis           ICON  "bitmaps/unchecked_dis.ico"
integer                 ICON  "bitmaps/integer.ico"
integer_dis             ICON  "bitmaps/integer_dis.ico"
integer2                ICON  "bitmaps/integer2.ico"
integer2_dis            ICON  "bitmaps/integer2_dis.ico"
enumerated              ICON  "bitmaps/enumerated.ico"
enumerated_dis          ICON  "bitmaps/enumerated_dis.ico"
radioon                 ICON  "bitmaps/radioon.ico"
radioon_dis             ICON  "bitmaps/radioon_dis.ico"
radiooff                ICON  "bitmaps/radiooff.ico"
radiooff_dis            ICON  "bitmaps/radiooff_dis.ico"
text                    ICON  "bitmaps/text.ico"
text_dis                ICON  "bitmaps/text_dis.ico"

#include "wx/msw/wx.rc"

