/* Styling */
table.center {
	margin-left:			auto;
	margin-right:			auto;
}
table.table {
	border:					1px solid;
}
table.table th {
	border:					1px solid;
}

dd {
	margin-left:			0.8em;
}

#help {
	border:					1px solid;
}

#statusInfo  {
	border:					1px solid;
}

#statusInfo .info {
	height:					1.2em;
	max-height:				1.2em;
	overflow:				hidden;
}

input {
	/*border:					1px solid;*/
}

select {
	border:					1px solid;
}

input {
	padding:				1px;
	padding-right:			2px;
	padding-left:			2px;
}

input[type='radio'],input[type='checkbox']  {
	border:					0px;
}

input.num  {
	text-align:				right;
}

div.message div {
	border-width:			1px;
	border-style:			solid;
}

/* Text */
body,td,th,input,select {
	font-family:			AvantGarde, Verdana, Arial, Helvetica, sans-serif;
	font-size:				.9em;
}

a {
	text-decoration:		none;
}

.section {
	font-size:				2em;
	font-family:			AvantGarde, Helvetica, Verdana, Arial, sans-serif;
}

.term {
	font-weight:			900;
}

.label {
	width:					16em;
	float:					left;
}

.info:first-child {
	margin-top:				0.7em;
}

.info {
	margin-left:			0.7em;
	overflow:				hidden;
}

div.warning {
	margin:					30px;
	text-size:				120%;
	text-align:				center;
	font-weight: bolder;
}

/* Tabs */

#main {
	border:				1px solid;
}

#menuMain ul#menuMainList a,#menuMain ul#menuMainList span,#menuMain ul#menuMainList a.current {
	text-align:			center;
	font-family:		AvantGarde, tahoma, verdana, sans-serif;
	font-size:			85%;
	text-decoration:	none;
}

#menuMain ul#menuMainList span,#menuMain ul#menuMainList a.current,#menuMain ul#menuMainList a.current:hover {
	border:				1px solid;
	border-bottom:		none;
}

#menuMain ul#menuMainList a {
	border:				1px solid;
	border-bottom:		none;
}

#menuMain ul#menuSubList li a,#menuMain ul#menuSubList li span {
	border:				none;
	border-right:		1px dotted;
}

#menuMain ul#menuSubList li a {
	text-decoration:	none;
}

#menuMain ul#menuSubList li:last-child * {
	border:				none; 
	/*border-right:		0px dotted;*/
}