Package: hostapd_s1g
Version: 1.16.4-2
Depends: libc, kmod-morse, libnl200, libopenssl3, libubus20230605
Source: feeds/morse/essentials/hostapd_s1g
SourceName: hostapd_s1g
License: BSD-3-Clause
Section: net
Require-User: network=101:network=101
SourceDateEpoch: 1760011748
Maintainer: Morse Micro <info@morsemicro.com>
Architecture: mipsel_24kc
Installed-Size: 671666
Description:  This package contains a full featured Morse Micro patched
 Authenticator.
