if ARCH_FEROCEON_MV78XX0

choice
	prompt "Discovery Duo SoC type"
	default MV78XX0

config  MV78XX0
	bool "MV78XX0 SoC"
	---help---
	Choosing this option will generate a linux kernel for the MV78XX0 SoC

config  MV78XX0_Z0	
	bool "Support for MV78XX0 Z0"
	depends on MV78XX0
	---help---
	Choosing this option will generate a linux kernel for the MV78XX0 SoC step Z0

config  MV78200
	bool "MV78200 SoC" 
	depends on MV78XX0
	---help---
	Support MV78200 SoC (Dual CPU AMP)

endchoice

config  MV78XX0_OVERRIDE_CMDLINE_ETH
	bool "Override command line definitions for SoC Networking"
	depends on MV78XX0
	---help---
	Choosing this option will override MAC address and MTU definition of kernel command line. 
        The GbE driver will use the setting from kernel config

endif

