menu "Ralink Non-volatile Device Drivers"
	depends on MTD!=n

config MTD_NAND_RALINK
	tristate "NAND Flash Support"
	select MTD_PARTITIONS
	depends on RALINK_RT3352
	help
	  support Ralink 3052 nand flash controller.

config MTD_SPI_RALINK
	tristate "SPI Flash Support"
	select MTD_PARTITIONS
	depends on RALINK_RT3352 || RALINK_RT3350 || RALINK_RT3052 || RALINK_RT5350
	help
	  supoort Ralink 3052 serial spi controller with SPI flash.

endmenu
