If you want to find the libmcrypt library in other projects
using autoconf/aclocal, put in your 

aclocal.m4:
 include(libmcrypt.m4)

configure.in:
 AM_PATH_LIBMCRYPT( 2.4.11,, AC_MSG_ERROR([[*** libmcrypt was not found]]))


these macros define LIBMCRYPT_LIBS and LIBMCRYPT_CFLAGS.
If Libmcrypt version 2.2.x is found then LIBMCRYPT22 is defined,
otherwise LIBMCRYPT24.

