.deps
INSTALL
Makefile.in
Makefile
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
install-sh
ltmain.sh
libfts.la
libtool
missing
fts.lo
fts.o
musl-fts.pc
stamp-h1
.libs/
m4/

