[Unit]
Description=Activate md array %I even though degraded
DefaultDependencies=no
ConditionPathExists=!/sys/devices/virtual/block/%i/md/sync_action

[Service]
Type=oneshot
ExecStart=BINDIR/mdadm --run /dev/%i
