/dts-v1/;

#include "rtl931x.dtsi"

#include <dt-bindings/input/input.h>
#include <dt-bindings/gpio/gpio.h>

/ {
	compatible = "edgecore,ecs4125-10p", "realtek,rtl838x-soc";
	model = "Edgecore ECS4125-10P Switch";
/*
	aliases {
		led-boot = &led_sys;
		led-failsafe = &led_sys;
		led-running = &led_sys;
		led-upgrade = &led_sys;
	};	
*/

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x10000000>;
	};

	memory@90000000 {
		device_type = "memory";
		reg = <0x90000000 0x30000000>;
	};

	chosen {
		bootargs = "console=ttyS0,115200";
	};
/*
	leds {
		compatible = "gpio-leds";

		led_sys: sys {
			label = "ecs4125_15:green:sys";
			gpios = <&gpio0 15 GPIO_ACTIVE_HIGH>;
		};
	}; */

	i2c0: i2c-rtl9310 {
		compatible = "realtek,rtl9310-i2c";
		reg = <0x1b001004 0x3c>;
		#address-cells = <1>;
		#size-cells = <0>;
		sda-pin = <4>;
		scl-pin = <13>;
		clock-frequency = <100000>;
	};

	i2cmux {
		compatible = "realtek,i2c-mux-rtl9310";
		#address-cells = <1>;
		#size-cells = <0>;
		i2c-parent = <&i2c0>;

		i2c01: i2c-rtl9310-1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;
			sda-pin = <4>;
			scl-pin = <13>;
		};

		i2c02: i2c-rtl9310-2 {
			reg = <2>;
			#address-cells = <1>;
			#size-cells = <0>;
			sda-pin = <5>;
			scl-pin = <13>;
		};

		i2c03: i2c-rtl9310-3 {
			reg = <3>;
			#address-cells = <1>;
			#size-cells = <0>;
			sda-pin = <0>;
			scl-pin = <14>;

			lm75a@4f {
				compatible = "national,lm75a";
				reg = <0x4f>;
			};

		};
	};

	sfp0: sfp-p9 {
		compatible = "sff,sfp";
		i2c-bus = <&i2c01>;
		los-gpio = <&gpio0 29 GPIO_ACTIVE_HIGH>;
		tx-fault-gpio = <&gpio0 30 GPIO_ACTIVE_HIGH>;
		mod-def0-gpio = <&gpio0 28 GPIO_ACTIVE_LOW>;
//		tx-disable-gpio = <&gpio0 31 GPIO_ACTIVE_HIGH>;
	};

	sfp1: sfp-p10 {
		compatible = "sff,sfp";
		i2c-bus = <&i2c02>;
		los-gpio = <&gpio0 25 GPIO_ACTIVE_HIGH>;
		tx-fault-gpio = <&gpio0 26 GPIO_ACTIVE_HIGH>;
		mod-def0-gpio = <&gpio0 24 GPIO_ACTIVE_LOW>;
//		tx-disable-gpio = <&gpio0 27 GPIO_ACTIVE_HIGH>;
	};

/*
&gpio0 {
	indirect-access-bus-id = <0>;
	};
*/
};

&spi0 {
	status = "okay";
	flash@0 {
		compatible = "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <10000000>;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			partition@0 {
				label = "u-boot";
				reg = <0x0 0x100000>;
			};
			partition@100000 {
				label = "u-boot-env";
				reg = <0x100000 0x10000>;
			};
			partition@120000 {
				label = "jffs";
				reg = <0x120000 0x100000>;
			};
			partition@220000 {
				label = "jffs2";
				reg = <0x220000 0x100000>;
			};
			partition@320000 {
				label = "linux";
				reg = <0x320000 0x1e60000>;
				compatible = "openwrt,uimage", "denx,uimage";
			};
			partition@2180000 {
				label = "nvram";
				reg = <0x2180000 0x20000>;
			};
			partition@2200000 {
				label = "runtime2";
				reg = <0x2200000 0x1e00000>;
			};
		};
	};
};

&ethernet0 {
	mdio: mdio-bus {
		compatible = "realtek,rtl838x-mdio";
		regmap = <&ethernet0>;
		#address-cells = <1>;
		#size-cells = <0>;
		
		phy0: ethernet-phy@0 {
			reg = <8>;
			compatible = "ethernet-phy-ieee802.3-c45";
			rtl9300,smi-address = <0 2>;
			sds = < 3 >;
		};
		phy1: ethernet-phy@1 {
			reg = <0>;
			compatible = "ethernet-phy-ieee802.3-c45";
			rtl9300,smi-address = <0 4>;
			sds = < 2 >;
		};
		phy2: ethernet-phy@2 {
			reg = <24>;
			compatible = "ethernet-phy-ieee802.3-c45";
			rtl9300,smi-address = <0 1>;
			sds = < 5 >;
		};
		phy3: ethernet-phy@3 {
			reg = <16>;
			compatible = "ethernet-phy-ieee802.3-c45";
			rtl9300,smi-address = <0 6>;
			sds = < 4 >;
		};
		phy4: ethernet-phy@4 {
			reg = <32>;
			compatible = "ethernet-phy-ieee802.3-c45";
			rtl9300,smi-address = <1 4>;
			sds = < 6 >;
		};
		phy5: ethernet-phy@5 {
			reg = <40>;
			compatible = "ethernet-phy-ieee802.3-c45";
			rtl9300,smi-address = <1 2>;
			sds = < 7 >;
		};
		phy6: ethernet-phy@6 {
			reg = <48>;
			compatible = "ethernet-phy-ieee802.3-c45";
			rtl9300,smi-address = <1 6>;
			sds = < 8 >;
		};
		phy7: ethernet-phy@7 {
			reg = <50>;
			compatible = "ethernet-phy-ieee802.3-c45";
			rtl9300,smi-address = <1 1>;
			sds = < 9 >;
		};

		/* RTL9313 Internal Serdes */
		phy54: ethernet-phy@54 {
			compatible = "ethernet-phy-ieee802.3-c45";
			phy-is-integrated;
			reg = <54>;
			sds = < 12 >;
		};

		phy55: ethernet-phy@55 {
			compatible = "ethernet-phy-ieee802.3-c45";
			phy-is-integrated;
			reg = <55>;
			sds = < 13 >;
		};
	};
};

&switch0 {
	ports {
		#address-cells = <1>;
	
	
	
		#size-cells = <0>;

		port@0 {
			reg = <8>;
			label = "lan01";
			phy-handle = <&phy0>;
			phy-mode = "hsgmii";
		};
		port@8 {
			reg = <0>;
			label = "lan02";
			phy-handle = <&phy1>;
			phy-mode = "hsgmii";
		};
		port@16 {
			reg = <24>;
			label = "lan03";
			phy-handle = <&phy2>;
			phy-mode = "hsgmii";
		};
		port@24 {
			reg = <16>;
			label = "lan04";
			phy-handle = <&phy3>;
			phy-mode = "hsgmii";
		};
		port@32 {
			reg = <32>;
			label = "lan05";
			phy-handle = <&phy4>;
			phy-mode = "hsgmii";
		};
		port@40 {
			reg = <40>;
			label = "lan06";
			phy-handle = <&phy5>;
			phy-mode = "hsgmii";
		};
		port@48 {
			reg = <48>;
			label = "lan07";
			phy-handle = <&phy6>;
			phy-mode = "hsgmii";
		};
		port@50 {
			reg = <50>;
			label = "lan08";
			phy-handle = <&phy7>;
			phy-mode = "hsgmii";
		};

		/* RTL9313 Internal SerDes */
		port@54 {
			reg = <54>;
			label = "lan09";
			phy-mode = "10gbase-r";
			pseudo-phy-handle = <&phy54>;
			sfp = <&sfp0>;
//			led-set = <2>;
			managed = "in-band-status";
		};

		port@55 {
			reg = <55>;
			label = "lan10";
			phy-mode = "10gbase-r";
			pseudo-phy-handle = <&phy55>;
			sfp = <&sfp1>;
//			led-set = <2>;
			managed = "in-band-status";
		};

 
		/* CPU-Port */
		port@56 {
			ethernet = <&ethernet0>;
			reg = <56>;
			phy-mode = "qsgmii";
			fixed-link {
				speed = <1000>;
				full-duplex;
			};
		};
	};
};
