*~
.gdb_history
ABOUT-NLS
GPATH
GRTAGS
GSYMS
GTAGS
ID
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status
configure
confuse-config
libconfuse.pc
libconfuse.spec
libtool
libtool.patch
Makefile
Makefile.in
stamp-h1
support/
