menu "CNS3XXX Gigabit Switch Support"
	depends on ARCH_CNS3XXX

config CNS3XXX_GSW
	tristate "CNS3XXX Gigabit Switch Driver Support"
	help
	  CNS3XXX Gigabit Switch.

config CNS3XXX_SPPE
	bool "CNS3XXX Smart PPE(Packet Processing Engine) Support"
	depends on CNS3XXX_GSW
	help
	  PPE(Packet Processing Engine) is a hardware accelerator hook on a port of 
	  CNS3XXX Gigabit Switch.
	  
	  This option is used for Smart PPE hook. 

	  Say Y if you want to enable Smart PPE function.

config CNS3XXX_HCIE_TEST
	bool "CNS3XXX HCIE(Hardware Content Inspection Engine) Support"
#	depends on CNS3XXX_GSW
	help
	  HCIE is patent-protected layer-7 packet processing engine.
	  
	  This option is used for fundamental HCIE functional test . 
	  Say Y if you want to do HCIE functional test.
		

#config CNS3XXX_SHNAT_PCI_FASTPATH
#	bool "FastPath(From PCI to WAN) Support"
#	depends on CNS3XXX_SHNAT
#	help
#	  Add FastPath Support for Smart HNAT.

comment "NOTE: 'Validation Board' depends on"
comment "GPIO_CNS3XXX and SPI_CNS3XXX"
choice
	prompt "CNS3XXX Board"
	depends on CNS3XXX_GSW
	default FPGA

config FPGA
	bool "Fpga"

config VB
	bool "Validation Board"
	help
	  MAC0 and MAC1 connect to BCM53115M. It need enable CNS3XXX SPI and CNS3XXX GPIO option.
	  MAC2 use ICPLUS IP1001 phy.

#config LEO
#	bool "Leo"

endchoice

endmenu

