#include "qcom-ipq8064-v2.0-smb208.dtsi"

#include <dt-bindings/input/input.h>

/ {
	model = "Netgear R7500v2 Nighthawk X4";
	compatible = "netgear,r7500v2", "qcom,ipq8064";


	/delete-node/ memory;
	memory {
		device_type = "memory";
		linux,useable-memory = <0x40000000 0x1e000000>;
	};

	memory@0 {
		reg = <0x42000000 0x1e000000>;
		device_type = "memory";
	};

	reserved-memory {
		rsvd@5fe00000 {
			reg = <0x5fe00000 0x200000>;
			reusable;
		};
	};

	aliases {
		mdio-gpio0 = &mdio0;
	};

	chosen {
		bootargs = "console=ttyMSM0,115200n8 nohz_full=all rootfstype=squashfs noinitrd root=/dev/mtdblock6";
	};

	keys {
		compatible = "gpio-keys";
		pinctrl-0 = <&button_pins>;
		pinctrl-names = "default";

		wifi {
			label = "wifi";
			gpios = <&qcom_pinmux 6 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_RFKILL>;
			debounce-interval = <60>;
			wakeup-source;
		};

		reset {
			label = "reset";
			gpios = <&qcom_pinmux 54 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_RESTART>;
			debounce-interval = <60>;
			wakeup-source;
		};

		wps {
			label = "wps";
			gpios = <&qcom_pinmux 65 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_WPS_BUTTON>;
			debounce-interval = <60>;
			wakeup-source;
		};
	};

	gpio-leds {
		compatible = "gpio-leds";
		pinctrl-0 = <&led_pins>;
		pinctrl-names = "default";

		usb1 {
			label = "r7X00:amber:usb1";
			gpios = <&qcom_pinmux 7 0>;
		};

		usb3 {
			label = "r7X00:amber:usb3";
			gpios = <&qcom_pinmux 8 0>;
		};

		status {
			label = "r7X00:amber:status";
			gpios = <&qcom_pinmux 9 0>;
		};

		internet {
			label = "r7X00:white:internet";
			gpios = <&qcom_pinmux 22 0>;
		};

		wan {
			label = "r7X00:white:wan";
			gpios = <&qcom_pinmux 23 0>;
		};

		wps {
			label = "r7X00:white:wps";
			gpios = <&qcom_pinmux 24 0>;
		};

		esata {
			label = "r7X00:white:esata";
			gpios = <&qcom_pinmux 26 0>;
		};

		power {
			label = "r7X00:white:power";
			gpios = <&qcom_pinmux 53 0>;
			default-state = "on";
		};

		rfkill {
			label = "r7X00:white:rfkill";
			gpios = <&qcom_pinmux 64 0>;
		};

		wifi5g {
			label = "r7X00:white:wifi5g";
			gpios = <&qcom_pinmux 67 0>;
		};
	};

};


&adm_dma {
	status = "okay";
};

&qcom_pinmux {
	button_pins: button_pins {
		mux {
			pins = "gpio6", "gpio54", "gpio65";
			function = "gpio";
			drive-strength = <2>;
			bias-pull-up;
		};
	};

	led_pins: led_pins {
		mux {
			pins = "gpio7", "gpio8", "gpio9", "gpio22", "gpio23",
				"gpio24","gpio26", "gpio53", "gpio64";
			function = "gpio";
			drive-strength = <2>;
			bias-pull-up;
		};
	};

	usb0_pwr_en_pins: usb0_pwr_en_pins {
		mux {
			pins = "gpio15";
			function = "gpio";
			drive-strength = <12>;
			bias-pull-down;
			output-high;
		};
	};

	usb1_pwr_en_pins: usb1_pwr_en_pins {
		mux {
			pins = "gpio16", "gpio68";
			function = "gpio";
			drive-strength = <12>;
			bias-pull-down;
			output-high;
		};
	};
};

&sata_phy {
	status = "okay";
};

&sata {
	status = "okay";
};

&hs_phy_0 {
	status = "okay";
};

&ss_phy_0 {
	status = "okay";
};

&usb3_0 {
	status = "okay";

	pinctrl-0 = <&usb0_pwr_en_pins>;
	pinctrl-names = "default";
};

&hs_phy_1 {
	status = "okay";
};

&ss_phy_1 {
	status = "okay";
};

&usb3_1 {
	status = "okay";

	pinctrl-0 = <&usb1_pwr_en_pins>;
	pinctrl-names = "default";
};

&pcie0 {
	status = "okay";
	reset-gpio = <&qcom_pinmux 3 GPIO_ACTIVE_LOW>;
	pinctrl-0 = <&pcie0_pins>;
	pinctrl-names = "default";

	bridge@0,0 {
		reg = <0x00000000 0 0 0 0>;
		#address-cells = <3>;
		#size-cells = <2>;
		ranges;

		wifi@1,0 {
			compatible = "pci168c,0040";
			reg = <0x00010000 0 0 0 0>;
		};
	};
};

&pcie1 {
	status = "okay";
	reset-gpio = <&qcom_pinmux 48 GPIO_ACTIVE_LOW>;
	pinctrl-0 = <&pcie1_pins>;
	pinctrl-names = "default";
	max-link-speed = <1>;

	bridge@0,0 {
		reg = <0x00000000 0 0 0 0>;
		#address-cells = <3>;
		#size-cells = <2>;
		ranges;

		wifi@1,0 {
			compatible = "pci168c,0040";
			reg = <0x00010000 0 0 0 0>;
		};
	};
};

&nand {
	status = "okay";

	nand@0 {
		reg = <0>;
		compatible = "qcom,nandcs";

		nand-ecc-strength = <4>;
		nand-bus-width = <8>;
		nand-ecc-step-size = <512>;

		nand-is-boot-medium;
		qcom,boot-partitions = <0x0 0x1180000>;

				partitions {
					compatible = "fixed-partitions";
					#address-cells = <1>;
					#size-cells = <1>;


			qcadata@0 {
				label = "qcadata";
				reg = <0x0000000 0x0c80000>;
				read-only;
			};

			APPSBL@c80000 {
				label = "APPSBL";
				reg = <0x0c80000 0x0500000>;
				read-only;
			};

			APPSBLENV@1180000 {
				label = "APPSBLENV";
				reg = <0x1180000 0x0080000>;
				read-only;
			};

			art: art@1200000 {
				label = "art";
				reg = <0x1200000 0x0140000>;
			};
			
			artbak@1340000 {
				label = "artbak";
				reg = <0x1340000 0x0140000>;
				read-only;
			};

			linux@1480000 {
				label = "linux";
				reg = <0x1480000 0x1fe0000>;
			};
			
			nvram@3460000 {
				label = "nvram";
				reg = <0x3460000 0x0020000>;
			};

			ddwrt@3480000 {
				label = "ddwrt";
				reg = <0x3480000 0x4880000>;
			};

			dnidata@7d00000 {
				label = "dnidata";
				reg = <0x7d00000 0x0300000>;
			};
		};

	};
};

&mdio0 {
	status = "okay";

	pinctrl-0 = <&mdio0_pins>;
	pinctrl-names = "default";

			phy0: ethernet-phy@0 {
				device_type = "ethernet-phy";
				reg = <0>;
				qca,ar8327-initvals = <
					0x00004 0x7600000   /* PAD0_MODE */
					0x00008 0x1000000   /* PAD5_MODE */
					0x0000c 0x80        /* PAD6_MODE */
					0x000e4 0xaa545     /* MAC_POWER_SEL */
					0x000e0 0xc74164de  /* SGMII_CTRL */
					0x0007c 0x4e        /* PORT0_STATUS */
					0x00094 0x4e        /* PORT6_STATUS */
					>;
			};

			phy4: ethernet-phy@4 {
				device_type = "ethernet-phy";
				reg = <4>;
			};
};

&gmac1 {
	status = "okay";
	qcom,phy-mdio-addr = <4>;
	qcom,poll-required = <0>;
	qcom,rgmii-delay = <1>;
	phy-mode = "rgmii";
	qcom,id = <1>;

	pinctrl-0 = <&rgmii2_pins>;
	pinctrl-names = "default";

	mtd-mac-address = <&art 6>;

	fixed-link {
		speed = <1000>;
		full-duplex;
	};
};

&gmac2 {
	status = "okay";
	qcom,phy-mdio-addr = <0>;
	qcom,poll-required = <0>;	
	qcom,rgmii-delay = <0>;
	phy-mode = "sgmii";
	qcom,id = <2>;

	mtd-mac-address = <&art 0>;

	fixed-link {
		speed = <1000>;
		full-duplex;
	};
};
