/dts-v1/;

#include "ipq5018.dtsi"
/*#include "ipq5018-ess.dtsi"*/

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/leds/common.h>
#include <dt-bindings/phy/qcom-eth-uniphy.h>

/ {
	model = "Linksys MX5500";
	compatible = "linksys,mx5500", "qcom,ipq5018";

    aliases {
		ethernet0 = "/soc/dp1";
		ethernet1 = "/soc/dp2";
		led-boot = &led_system_blue;
		led-failsafe = &led_system_red;
		led-running = &led_system_blue;
		led-upgrade = &led_system_red;
		serial0 = &blsp1_uart1;
	};

    chosen {
        bootargs-append = "coherent_pool=2M swiotlb=noforce mitigations=off root=/dev/ubiblock0_0";
		stdout-path = "serial0:115200n8";
	};

/*	keys {
		compatible = "gpio-keys";
		pinctrl-0 = <&button_pins>;
		pinctrl-names = "default";

		wps-button {
			label = "wps";
			gpios = <&tlmm 27 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_WPS_BUTTON>;
		};

		reset-button {
			label = "reset";
			gpios = <&tlmm 28 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_RESTART>;
		};
	};*/

	leds {
		compatible = "pwm-leds";

		led_system_red: red {
			label = "red:system";
			pwms = <&pwm 3 1250000>;
			max-brightness = <255>;
		};

		green {
			label = "green:system";
			pwms = <&pwm 0 1250000>;
			max-brightness = <255>;
		};

		led_system_blue: blue {
			label = "blue:system";
			pwms = <&pwm 1 1250000>;
			max-brightness = <255>;
		};
	};

	reserved-memory {
		q6_region: wcnss@4b000000 {
			no-map;
			reg = <0x0 0x4b000000 0x0 0x01800000>;
		};

		m3_dump@4c800000 {
			no-map;
			reg = <0x0 0x4c800000 0x0 0x100000>;
		};

		q6_etr_region:q6_etr_dump@4c900000 {
			no-map;
			reg = <0x0 0x4c900000 0x0 0x100000>;
		};

		q6_caldb_region:q6_caldb_region@4cd00000 {
			no-map;
			reg = <0x0 0x4ca00000 0x0 0x200000>;
		};
		
		mhi_region1: dma_pool1@4ea00000 {
			compatible = "shared-dma-pool";
			no-map;
			reg = <0x0 0x4ea00000 0x0 0x01000000>;
		};

	};


};


&soc {

		nss-common {
			compatible = "qcom,nss-common";
			reg = <0x01868010 0x01>;
			reg-names = "nss-misc-reset";
			memory-region = <&nss_region>;
		};

		nss0: nss@40000000 {
			compatible = "qcom,nss";
			interrupts = <0 402 0x1>, <0 401 0x1>, <0 400 0x1>,
				     <0 399 0x1>, <0 398 0x1>, <0 397 0x1>,
				     <0 396 0x1>, <0 395 0x1>;
			reg = <0x07a00000 0x100>, <0x0b111000 0x1000>;
			reg-names = "nphys", "qgic-phys";
			clocks = <&gcc GCC_UBI0_CFG_CLK>,
				 <&gcc GCC_UBI0_DBG_CLK>,
				 <&gcc GCC_UBI0_CORE_CLK>,
				 <&gcc GCC_UBI0_UTCM_CLK>,
				 <&gcc GCC_UBI0_AXI_CLK>,
				 <&gcc GCC_SNOC_UBI0_AXI_CLK>,
				 <&gcc GCC_UBI0_NC_AXI_CLK>;
			clock-names = "nss-cfg-clk", "nss-dbg-clk",
				      "nss-core-clk", "nss-utcm-clk",
				      "nss-axi-clk",
				      "nss-snoc-axi-clk",
				      "nss-nc-axi-clk";
			qcom,id = <0>;
			qcom,num-queue = <4>;
			qcom,num-irq = <8>;
			qcom,num-pri = <4>;
			qcom,load-addr = <0x40000000>;
			qcom,low-frequency = <850000000>;
			qcom,mid-frequency = <850000000>;
			qcom,max-frequency = <1000000000>;
			qcom,bridge-enabled;
			qcom,ipv4-enabled;
			qcom,ipv6-enabled;
			qcom,wlanredirect-enabled;
			qcom,tun6rd-enabled;
			qcom,l2tpv2-enabled;
			qcom,gre-enabled;
			qcom,gre-redir-enabled;
			qcom,gre-redir-mark-enabled;
			qcom,map-t-enabled;
			qcom,portid-enabled;
			qcom,pppoe-enabled;
			qcom,pptp-enabled;
			qcom,tunipip6-enabled;
			qcom,shaping-enabled;
			qcom,wlan-dataplane-offload-enabled;
			qcom,vlan-enabled;
			qcom,capwap-enabled;
			qcom,crypto-enabled;
			qcom,ipsec-enabled;
			qcom,qvpn-enabled;
			qcom,pvxlan-enabled;
			qcom,clmap-enabled;
			qcom,vxlan-enabled;
			qcom,match-enabled;
			qcom,mirror-enabled;
		};

		nss-dp-common {
			compatible = "qcom,nss-dp-common";
			qcom,tcsr-base = <0x01937000>;
		};

		nss_crypto: qcom,nss_crypto {
			compatible = "qcom,nss-crypto";
			#address-cells = <1>;
			#size-cells = <1>;
			qcom,max-contexts = <64>;
			qcom,max-context-size = <144>;
			ranges;
			ce5_node {
				compatible = "qcom,ce5";
				reg-names = "crypto_pbase", "bam_base";
				reg = <0x0073a000 0x6000>,
				    <0x00704000 0x20000>;
				qcom,dma-mask = <0x0c>;
				qcom,transform-enabled;
				qcom,aes128-cbc;
				qcom,aes256-cbc;
				qcom,aes128-ctr;
				qcom,aes256-ctr;
				qcom,aes128-ecb;
				qcom,aes256-ecb;
				qcom,3des-cbc;
				qcom,sha160-hash;
				qcom,sha256-hash;
				qcom,sha160-hmac;
				qcom,sha256-hmac;
				qcom,aes128-cbc-sha160-hmac;
				qcom,aes256-cbc-sha160-hmac;
				qcom,aes128-ctr-sha160-hmac;
				qcom,aes256-ctr-sha160-hmac;
				qcom,3des-cbc-sha160-hmac;
				qcom,3des-cbc-sha256-hmac;
				qcom,aes128-cbc-sha256-hmac;
				qcom,aes256-cbc-sha256-hmac;
				qcom,aes128-ctr-sha256-hmac;
				qcom,aes256-ctr-sha256-hmac;
				engine0 {
					qcom,ee = <2 3>;
				};
			};
		};

		ess-instance {
			num_devices = <0x2>;
			ess-switch@39c00000 {
				compatible = "qcom,ess-switch-ipq50xx";
				device_id = <0>;
				switch_mac_mode = <0xf>; /* mac mode for uniphy instance*/
				cmnblk_clk = "internal_96MHz"; /* cmnblk clk*/
				qcom,port_phyinfo {
					port@0 {
						port_id = <1>;
						phy_address = <7>;
					};
					port@1 {
						port_id = <2>;
						forced-speed = <1000>;
						forced-duplex = <1>;
					};
				};
				led_source@0 {
					source = <0>;
					mode = "normal";
					speed = "all";
					blink_en = "enable";
					active = "high";
				};
			};
			ess-switch1@1 {
				compatible = "qcom,ess-switch-qca83xx";
				device_id = <1>;
				switch_access_mode = "mdio";
				mdio-bus = <&mdio1>;
				reset_gpio = <0x227>;
				switch_cpu_bmp = <0x40>;  /* cpu port bitmap (Port 6 GMAC) */
				switch_lan_bmp = <0x38>;  /* lan port bitmap (Port 5..3 GMAC) */
				switch_wan_bmp = <0x04>;  /* wan port bitmap (Port 2 GMAC) */
				qca,ar8327-initvals = <
						0x00004 0x7600000   /* PAD0_MODE */
						0x00008 0x1000000   /* PAD5_MODE */
						0x0000c 0x80        /* PAD6_MODE */
						0x00010 0x2613a0    /* PORT6 FORCE MODE*/
						0x000e4 0xaa545     /* MAC_POWER_SEL */
						0x000e0 0xc74164de  /* SGMII_CTRL */
						0x0007c 0x4e        /* PORT0_STATUS */
						0x00094 0x4e        /* PORT6_STATUS */
				>;

				qcom,port_phyinfo {
					port@0 {
						port_id = <1>;
						phy_address = <0>;
					};
					port@1 {
						port_id = <2>;
						phy_address = <1>;
					};
					port@2 {
						port_id = <3>;
						phy_address = <2>;
					};
					port@3 {
						port_id = <4>;
						phy_address = <3>;
					};
					port@4 {
						port_id = <5>;
						phy_address = <3>;
					};
				};
			};
		};

		ess-uniphy@98000 {
			status = "disabled";
		};


/*		dp1 {
			device_type = "network";
			compatible = "qcom,nss-dp";
			clocks = <&gcc GCC_SNOC_GMAC0_AXI_CLK>;
			clock-names = "nss-snoc-gmac-axi-clk";

			qcom,id = <1>;
			reg = <0x39C00000 0x10000>;
			interrupts = <GIC_SPI 101 IRQ_TYPE_LEVEL_HIGH>;

			qcom,mactype = <2>;
			qcom,link-poll = <1>;
			qcom,phy-mdio-addr = <7>;
			mdio-bus = <&mdio0>;
			local-mac-address = [000000000000];
			phy-mode = "sgmii";
		}; */

		dp1: dp1 {
			device_type = "network";
			compatible = "qcom,nss-dp";
			clocks = <&gcc GCC_SNOC_GMAC1_AXI_CLK>;
			clock-names = "nss-snoc-gmac-axi-clk";
			qcom,id = <2>;
			reg = <0x39D00000 0x10000>;
			interrupts = <GIC_SPI 109 IRQ_TYPE_LEVEL_HIGH>;
			qcom,mactype = <2>;
			local-mac-address = [000000000000];
			phy-mode = "sgmii";
			qcom,rx-page-mode = <0>;
		};

	};



&uniphy0 {
	mode = <QCOM_ETH_UNIPHY_MODE_SGMII>;
	clkout-frequency = <QCOM_ETH_UNIPHY_CLKOUT_FREQ_25M>;
	clkout-drive-strength = <QCOM_ETH_UNIPHY_CLKOUT_DS_1_5V>;

	status = "okay";
};

&mdio0 {
			status = "ok";
			ethernet-phy@0 {
				reg = <7>;
			};
};

&mdio1 {
			status = "ok";
			pinctrl-0 = <&mdio1_pins>;
			pinctrl-names = "default";
			reset-gpios = <&tlmm 39 GPIO_ACTIVE_LOW>;

			qca8337_0: ethernet-phy@0 {
				reg = <0>;
			};

			qca8337_1: ethernet-phy@1 {
				reg = <1>;
			};

			qca8337_2: ethernet-phy@2 {
				reg = <2>;
			};

			qca8337_3: ethernet-phy@3 {
				reg = <3>;
			};

			qca8337_4: ethernet-phy@4 {
				reg = <4>;
			};


	phy6: ethernet-phy@6 {
		reg = <6>;
		phy-mode = "sgmii";
		qca,ar8327-initvals = <
				0x00004 0x7600000   /* PAD0_MODE */
				0x00008 0x1000000   /* PAD5_MODE */
				0x0000c 0x80        /* PAD6_MODE */
				0x00010 0x2613a0    /* PORT6 FORCE MODE*/
				0x000e4 0xaa545     /* MAC_POWER_SEL */
				0x000e0 0xc74164de  /* SGMII_CTRL */
				0x0007c 0x4e        /* PORT0_STATUS */
				0x00094 0x4e        /* PORT6_STATUS */
		>;
	};

	// QCA8337 switch
	switch1: ethernet-switch@10 {
		compatible = "qca,qca8337";
		#address-cells = <1>;
		#size-cells = <0>;

		reg = <10>;

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			
/*			port@1 {
				reg = <1>;
				label = "lan1";
				phy-handle = <&qca8337_0>;
			}; */
			
			port@2 {
				reg = <2>;
				label = "wan";
				phy-handle = <&qca8337_1>;
			};

			port@3 {
				reg = <3>;
				label = "lan1";
				phy-handle = <&qca8337_2>;
			};

			port@4 {
				reg = <4>;
				label = "lan2";
				phy-handle = <&qca8337_3>;
			};

			port@5 {
				reg = <5>;
				label = "lan3";
				phy-handle = <&qca8337_4>;
			};

			port@6 {
				reg = <6>;
				label = "cpu";
				phy-mode = "sgmii";
				ethernet = <&dp1>;
				qca,sgmii-enable-pll;

				fixed-link {
					speed = <1000>;
					full-duplex;
				};
			};
		};
	};

};



/*&gmac1 {
	phy-mode = "sgmii";
	status = "okay";

	fixed-link {
		speed = <1000>;
		full-duplex;
	};
};*/

&blsp1_uart1 {
	status = "okay";

	pinctrl-0 = <&serial_0_pins>;
	pinctrl-names = "default";
};

&bt {
	firmware-name = "qca/bt_fw_patch.mdt";
	status = "okay";
};

&crypto {
	status = "okay";
};

&cryptobam {
	status = "okay";
};

&prng {
	status = "okay";
};

&pwm {
	status = "okay";

	#pwm-cells = <2>;

	pinctrl-0 = <&pwm_pins>;
	pinctrl-names = "default";
};

&qfprom {
	status = "okay";
};

&qpic_bam {
	status = "okay";
};

&qpic_nand {
	pinctrl-0 = <&qpic_pins>;
	pinctrl-names = "default";
    status = "okay";

    nand@0 {
        compatible = "qcom,nandcs";
        reg = <0>;
        #address-cells = <1>;
        #size-cells = <1>;

        nand-ecc-strength = <4>;
        nand-ecc-step-size = <512>;
        nand-bus-width = <8>;

        partitions {
            compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			partition@0 {
				label = "sbl1";
				reg = <0x00000000 0x80000>;
				read-only;
			};

            partition@80000 {
				label = "mibmib";
				reg = <0x00080000 0x20000>;
				read-only;
			};

            partition@100000 {
				label = "qsee";
				reg = <0x00100000 0x100000>;
				read-only;
			};

            partition@200000 {
				label = "devcfg";
				reg = <0x00200000 0x40000>;
				read-only;
			};

            partition@240000 {
				label = "cdt";
				reg = <0x00240000 0x40000>;
				read-only;
			};

            partition@280000 {
				label = "appsblenv";
				reg = <0x00280000 0x20000>;
			};

            partition@300000 {
				label = "appsbl";
				reg = <0x00300000 0x140000>;
				read-only;
			};

            partition@440000 {
				compatible = "nvmem-cells";
				label = "art";
				reg = <0x00440000 0x100000>;
				#address-cells = <1>;
				#size-cells = <1>;
				read-only;
			};

            partition@540000 {
				label = "training";
				reg = <0x00540000 0x80000>;
				read-only;
			};

            partition@5c0000 {
				label = "u_env";
				reg = <0x005c0000 0x80000>;
			};

            partition@640000 {
				label = "s_env";
				reg = <0x00640000 0x40000>;
			};

            partition@680000 {
				label = "devinfo";
				reg = <0x00680000 0x40000>;
				read-only;
			};

            partition@6c0000 {
				label = "linux";
				reg = <0x006c0000 0x5200000>;
			};

            partition@ec0000 {
				label = "rootfs";
				reg = <0x0ec0000 0x4a00000>;
			};

            partition@58c0000 {
				label = "linux2";
				reg = <0x058c0000 0x5100000>;
			};

            partition@60c0000 {
				label = "alt_rootfs";
				reg = <0x060c0000 0x4900000>;
			};

            partition@a9c0000 {
        		    	label = "nvram";
				reg = <0x0a9c0000 0x100000>;
			};

            partition@aac0000 {
				label = "sysdiag";
				reg = <0x0aac0000 0x200000>;
				read-only;
			};

            partition@acc0000 {
				label = "ddwrt";
				reg = <0x0acc0000 0x4400000>;
			};
        };
    };
};

&tlmm {
/*	button_pins: button-state {
        pins = "gpio27", "gpio28";
        function = "gpio";
        drive-strength = <8>;
        bias-pull-up;
	};*/

	mdio1_pins: mdio-state {
		mdc-pins {
			pins = "gpio36";
			function = "mdc";
			drive-strength = <8>;
			bias-pull-up;
		};

		mdio-pins {
			pins = "gpio37";
			function = "mdio";
			drive-strength = <8>;
			bias-pull-up;
		};
	};

	pwm_pins: pwm-state {
		mux_1 {
			pins = "gpio1";
			function = "_";
			drive-strength = <8>;
		};

		mux_2 {
			pins = "gpio30";
			function = "pwm3";
			drive-strength = <8>;
		};

		mux_3 {
			pins = "gpio46";
			function = "pwm0";
			drive-strength = <8>;
		};
	};

	qpic_pins: qpic-state {
		pins = "gpio9", "gpio8", "gpio7", "gpio6", "gpio5", "gpio4";
		function = "qpic";
		drive-strength = <8>;
		bias-disable;
	};

	serial_0_pins: uart0-state {
		pins = "gpio20", "gpio21";
		function = "blsp0_uart0";
		bias-disable;
	};
};

&tsens {
	status = "okay";
};

&usb {
	status = "okay";
};

&usbphy0 {
	status = "okay";
};

&usbphy1 {
	status = "okay";
};

&pcie_x2phy {
	status = "okay";
};

&pcie_x2 {
	status = "okay";

	perst-gpios = <&tlmm 15 GPIO_ACTIVE_LOW>;

	bridge@0,0 {
		reg = <0x00000000 0 0 0 0>;
		#address-cells = <3>;
		#size-cells = <2>;
		ranges;

		wifi@1,0 {
			status = "okay";

			/* QCN9074: ath11k lacks DT compatible for PCI cards */
			compatible = "pci17cb,1104";
			reg = <0x00010000 0 0 0 0>;

			qcom,ath11k-calibration-variant = "Linksys-MX5500";
		};
	};
};

/*&q6v5_wcss {
	status = "okay";

	memory-region = <&q6_mem_regions>;
	firmware-name = "ath11k/IPQ5018/hw1.0/q6_fw.mdt",
					"ath11k/IPQ5018/hw1.0/m3_fw.mdt";
	
	// IPQ5018
	q6_wcss_pd1: pd-1 {
		compatible = "qcom,ipq5018-wcss-ahb-mpd";
		firmware-name = "ath11k/IPQ5018/hw1.0/q6_fw.mdt";
		qca,extended-intc;

		interrupts-extended =
			<&wcss_smp2p_in 8 0>,
			<&wcss_smp2p_in 9 0>,
			<&wcss_smp2p_in 12 0>,
			<&wcss_smp2p_in 11 0>;
		interrupt-names =
			"fatal",
			"ready",
			"spawn-ack",
			"stop-ack";

		qcom,smem-states =
			<&wcss_smp2p_out 8>,
			<&wcss_smp2p_out 9>,
			<&wcss_smp2p_out 10>;
		qcom,smem-state-names =
			"shutdown",
			"stop",
			"spawn";
		status = "okay";
		qca,asid = <1>;
		qca,auto-restart;
		qca,int_radio;
	};
};
*/
&wifi0 {
	// IPQ5018
/*	qcom,rproc = <&q6_wcss_pd1>; */
	qcom,rproc = <&q6v5_wcss>;

	qcom,ath11k-calibration-variant = "Linksys-MX5500";
	qcom,ath11k-fw-memory-mode = <1>;
	qcom,bdf-addr = <0x4ba00000>;
	qcom,caldb-addr = <0x4ca00000>;
	qcom,caldb-size = <0x200000>;
	qcom,m3-dump-addr = <0x4c800000>;

	status = "okay";
};