menu "Sata options"
	depends on SCSI_MVSATA
	
config  MV_SATA_SUPPORT_ATAPI
        bool "Support ATAPI (CR-ROM/DVD-ROM) devices"
        default n

config  MV_SATA_ENABLE_1MB_IOS
        bool "Enable 1 MByte requests"
        default n
        help
          Set the maximum io request size to 1 MByte for HDD's the support LBA48 feature,
          say No if you want to keep the maximum limit on 128KBytes.
choice
	prompt "Debug level"
	default SATA_NO_DEBUG

config SATA_NO_DEBUG
	bool "No Debug"

config SATA_DEBUG_ON_ERROR
	bool "Debug on errors"
	help
	  print debug messages when EDMA/System/HDD errors occur.

config SATA_FULL_DEBUG
	bool "Full debug"

endchoice

endmenu


