HTTP/1.0 200 OK
Server: sispm_http
Date: Sat, 04 Feb 2006 16:03:35 +0100
Content-Type: text/css
Connection: close

body {
	font-family:Verdana,Helvetica,sans-serif;
	font-size:12px;
	font-style:normal;
	color:#86CFFF;
	background-color:#FFFFFF;
	margin:0px;
}

a:visited, a:link, a:active {
	text-decoration:none;
    	color:#9DC9FF;
}

a img {
	border:0px solid #000000;
}

table {
	font:inherit;
	border:0px solid #FFFFFF;
	background-color:#FFFFFF;
}

th {
	border:0px solid #86CFFF;
	background-color:#FFFFFF;
	font-size:24px;
	text-align:center;
}

td {
	border:0px solid #86CFFF;
	background-color:#FFFFFF;
	padding:8px;
}

th.title1, th.title3, td.gif1, td.gif3 {
	background-color:#DDDDDD;
}

th.title2, th.title4, td.gif2, td.gif4 {
	background-color:#EEEEEE;
}
