{lan_mac::<% nvram_get("lan_hwaddr"); %>}
{wan_mac::<% nvram_get("wan_hwaddr"); %>}
{wl_mac::<% show_wl_mac(); %>}
{lan_ip::<% nvram_get("lan_ipaddr"); %>}
{wl_channel::<% get_curchannel(); %>}
{wl_radio::<% get_radio_state(); %>}
{wl_xmit::<% get_txpower(); %>}
{wl_rate::<% get_currate(); %>}
{packet_info::<% wl_packet_get(); %>}
{wl_mode_short::<% nvram_get("wl0_mode"); %>}
{lan_proto::<% nvram_get("lan_proto"); %>}
{mem_info::<% dumpmeminfo(); %>}
{active_wireless::<% active_wireless(1); %>}
{active_wds::<% active_wds(1); %>}
{dhcp_leases::<% dumpleases(1); %>}
{uptime::<% get_uptime(); %>}
{ipinfo::<% show_wanipinfo(); %>}
{wan_ipaddr::<% nvram_status_get("wan_ipaddr"); %>}
{gps_text::<% nvram_get("gps_status_text"); %>}
{gps_lat::<% nvram_get("gps_lat_text"); %>}
{gps_lon::<% nvram_get("gps_lon_text"); %>}
{gps_alt::<% nvram_get("gps_alt"); %>}
{gps_sat::<% nvram_get("gps_sat"); %>}
