<% do_pagehead("info.titl"); %>
		<script type="text/javascript">//
//<![CDATA[

function setWirelessTable() {
	var table = document.getElementById("wireless_table");
	var val = arguments;
	cleanTable(table);
	if(!val.length) {
		var cell = table.insertRow(-1).insertCell(-1);
		cell.colSpan = 8;
		cell.align = "center";
		cell.innerHTML = "- " + share.none + " -";
		return;
	}
	for(var i = 0; i < val.length; i = i + 8) {
		var row = table.insertRow(-1);
		
		var mac = val[i];
		if ("<% nvram_get("maskmac"); %>" != "1") {
		  var cellmac = row.insertCell(-1);
		  cellmac.title = share.oui;
		  cellmac.style.cursor = "pointer";
		  cellmac.style.textDecoration = "underline";
		  eval("addEvent(cellmac, 'click', function() { getOUIFromMAC('" + mac + "') })");
		  cellmac.innerHTML = mac;
		} else {
		  row.insertCell(-1).innerHTML = mac;		 
		}

		row.insertCell(-1).innerHTML = val[i + 1];
		row.insertCell(-1).innerHTML = val[i + 2];
		row.insertCell(-1).innerHTML = val[i + 3];
		row.insertCell(-1).innerHTML = val[i + 4];		
		row.insertCell(-1).innerHTML = val[i + 5];		
		row.insertCell(-1).innerHTML = val[i + 6];		
		row.insertCell(-1).innerHTML = val[i + 7];		
		setMeterBar(row.insertCell(-1), (val[i + 5] == "0" ? 0 : parseInt(val[i + 5]) * 1.24 + 116), "");
	}
}

function setWDSTable() {
	var table = document.getElementById("wds_table");
	var val = arguments;
	cleanTable(table);
	if(!val.length) {
		setElementVisible("wds", false);
		return;
	}
	for(var i = 0; i < val.length; i = i + 5) {
		var row = table.insertRow(-1);
		
		var mac = val[i];
		if ("<% nvram_get("maskmac"); %>" != "1") {
		  var cellmac = row.insertCell(-1);
		  cellmac.title = share.oui;
		  cellmac.style.cursor = "pointer";
		  cellmac.style.textDecoration = "underline";
		  eval("addEvent(cellmac, 'click', function() { getOUIFromMAC('" + mac + "') })");
		  cellmac.innerHTML = mac;
		} else {
		  row.insertCell(-1).innerHTML = mac;		 
		}
		
		row.insertCell(-1).innerHTML = val[i + 1];
		row.insertCell(-1).innerHTML = val[i + 2];
		row.insertCell(-1).innerHTML = val[i + 3];
		row.insertCell(-1).innerHTML = val[i + 4];
		setMeterBar(row.insertCell(-1), (val[i + 2] == "0" ? 0 : parseInt(val[i + 2]) * 1.24 + 116), "");
	}
	setElementVisible("wds", true);
}

function setDHCPTable() {
	var table = document.getElementById("dhcp_leases_table");
	var val = arguments;
	cleanTable(table);
	if(!val.length) {
		var cell = table.insertRow(-1).insertCell(-1);
		cell.colSpan = 4;
		cell.align = "center";
		cell.innerHTML = "- " + share.none + " -";
		return;
	}
	for(var i = 0; i < val.length; i = i + 5) {
		
		var row = table.insertRow(-1);
		row.insertCell(-1).innerHTML = val[i];
		row.insertCell(-1).innerHTML = val[i + 1];
		
		var mac = val[i + 2];
		if ("<% nvram_get("maskmac"); %>" != "1") {
		  var cellmac = row.insertCell(-1);
		  cellmac.title = share.oui;
		  cellmac.style.cursor = "pointer";
		  cellmac.style.textDecoration = "underline";
		  eval("addEvent(cellmac, 'click', function() { getOUIFromMAC('" + mac + "') })");
		  cellmac.innerHTML = mac;
		} else {
		  row.insertCell(-1).innerHTML = mac;		 
		}

		row.insertCell(-1).innerHTML = val[i + 3];
	}
}

function setPacketInfo(val) {
	var packet = val.replace(/[A-Za-z=]/g, "").split(";");
	setElementContent("packet_rx", packet[0] + " OK, " + (packet[1] > 0 ? packet[1] + " " + share.errs : share.none2 + " " + share.err) );
	setElementContent("packet_tx", packet[2] + " OK, " + (packet[3] > 0 ? packet[3] + " " + share.errs : share.none2 + " " + share.err) );
}

function setMemoryValues(val) {
	var mem = val.replace(/'/g, "").split(",");
	var memTotal = parseInt(mem[19]) / 1024;
	var memSystem = Math.pow(2, Math.ceil(Math.log(memTotal) / Math.LN2));
	var memFree = parseInt(mem[22]) / 1024;
	var memUsed = memTotal - memFree;
	var memBuffer = parseInt(mem[28]) / 1024;
	var memCached = parseInt(mem[31]) / 1024;
	var memActive = parseInt(mem[37]) / 1024;
	var memInactive = parseInt(mem[40]) / 1024;
	setElementContent("mem_total", memTotal.toFixed(1) + " MB / " + memSystem.toFixed(1) + " MB");
	setElementContent("mem_free", memFree.toFixed(1) + " MB / " + memTotal.toFixed(1) + " MB");
	setElementContent("mem_used", memUsed.toFixed(1) + " MB / " + memTotal.toFixed(1) + " MB");
	setElementContent("mem_buffer", memBuffer.toFixed(1) + " MB / " + memUsed.toFixed(1) + " MB");
	setElementContent("mem_cached", memCached.toFixed(1) + " MB / " + memUsed.toFixed(1) + " MB");
	setElementContent("mem_active", memActive.toFixed(1) + " MB / " + memUsed.toFixed(1) + " MB");
	setElementContent("mem_inactive", memInactive.toFixed(1) + " MB / " + memUsed.toFixed(1) + " MB");
<% nvram_invmatch("show_hidden","1","/"); %><% nvram_invmatch("show_hidden","1","/"); %>	setElementContent("mem_hidden", "32 MB / 32 MB");
}

var update;

addEvent(window, "load", function() {
	setPacketInfo("<% wl_packet_get(); %>");
	setMemoryValues("<% dumpmeminfo(); %>");
<% ifndef("HASWIFI", "/"); %><% ifndef("HASWIFI", "/"); %>	setWirelessTable(<% active_wireless(1); %>);
<% ifndef("HASWIFI", "/"); %><% ifndef("HASWIFI", "/"); %>	setWDSTable(<% active_wds(1); %>);
	setDHCPTable(<% dumpleases(1); %>);
	setElementVisible("dhcp", "<% nvram_get("lan_proto"); %>" == "dhcp");

	update = new StatusUpdate("Info.live.htm", <% nvram_get("refresh_time"); %>);
	update.onUpdate("packet_info", function(u) {
		setPacketInfo(u.packet_info);
	});
	update.onUpdate("mem_info", function(u) {
		setMemoryValues(u.mem_info);
	});
	update.onUpdate("active_wireless", function(u) {
		eval('setWirelessTable(' + u.active_wireless + ')');
	});
	update.onUpdate("active_wds", function(u) {
		eval('setWDSTable(' + u.active_wds + ')');
	});
	update.onUpdate("dhcp_leases", function(u) {
		eval('setDHCPTable(' + u.dhcp_leases + ')');
	});
	update.onUpdate("lan_proto", function(u) {
		setElementVisible("dhcp", u.lan_proto == "dhcp");
	});
	update.start();
});

addEvent(window, "unload", function() {
	update.stop();
});

function refresh(F)
{
	F.submit();
}

//]]>
</script>
	</head>

	<body class="gui">
		<% showad(); %>
		<div id="wrapper">
			<div id="content" class="infopage">
				<div id="header">
					<div id="logo"><h1><% show_control(); %></h1></div>
					<div id="menu">
						<div id="menuMain">
							<ul id="menuMainList">
								<li><a href="index.asp"><% tran("bmenu.setup"); %></a></li>
								<% ifndef("HASWIFI", "<!--"); %>
								<li><a href="Wireless_Basic.asp"><% tran("bmenu.wireless"); %></a></li>
								<% ifndef("HASWIFI", "-->"); %>
								<li><a href="Services.asp"><% tran("bmenu.services"); %></a></li>
								<li><a href="Firewall.asp"><% tran("bmenu.security"); %></a></li>
								<li><a href="Filters.asp"><% tran("bmenu.accrestriction"); %></a></li>
								<li><a href="ForwardSpec.asp"><% tran("bmenu.applications"); %></a></li>
								<li><a href="Management.asp"><% tran("bmenu.admin"); %></a></li>
								<li><a href="Status_Router.asp"><% tran("bmenu.statu"); %></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div id="main">
					<div id="contentsInfo">
						<form name="Info" action="apply.cgi" method="post">
							<input type="hidden" name="submit_button" value="Info" />
							<input type="hidden" name="next_page" value="Info.htm" />
							<input type="hidden" name="change_action" value="gozila_cgi" />
							<input type="hidden" name="submit_type" value="refresh" />
							
							<h2><% tran("info.h2"); %></h2>
							<div class="col2l">
								<fieldset>
									<legend><% tran("share.router"); %></legend>
									<div class="setting">
										<div class="label"><% tran("share.routername"); %></div>
										<% nvram_get("router_name"); %>&nbsp;
									</div>
									<div class="setting">
										<div class="label"><% tran("status_router.sys_model"); %></div>
										<% nvram_get("DD_BOARD"); %>&nbsp;
									</div>
									<div class="setting">
										<div class="label">LAN MAC</div>
										<script type="text/javascript">
										//<![CDATA[
										document.write("<span id=\"lan_mac\" style=\"cursor:pointer; text-decoration:underline;\" title=\"" + share.oui + "\" onclick=\"getOUIFromMAC('<% nvram_get("lan_hwaddr"); %>')\" >");
										document.write("<% nvram_get("lan_hwaddr"); %>");
										document.write("</span>");
										//]]>
										</script>&nbsp;
									</div>
									<div class="setting">
										<div class="label">WAN MAC</div>
										<script type="text/javascript">
										//<![CDATA[
										document.write("<span id=\"wan_mac\" style=\"cursor:pointer; text-decoration:underline;\" title=\"" + share.oui + "\" onclick=\"getOUIFromMAC('<% nvram_get("wan_hwaddr"); %>')\" >");
										document.write("<% nvram_get("wan_hwaddr"); %>");
										document.write("</span>");
										//]]>
										</script>&nbsp;
									</div>
									<% ifndef("HASWIFI", "<!--"); %>
									<div class="setting">
										<div class="label"><% tran("info.wlanmac"); %></div>
										<script type="text/javascript">
										//<![CDATA[
										document.write("<span id=\"wl_mac\" style=\"cursor:pointer; text-decoration:underline;\" title=\"" + share.oui + "\" onclick=\"getOUIFromMAC('<% show_wl_mac(); %>')\" >");
										document.write("<% show_wl_mac(); %>");
										document.write("</span>");
										//]]>
										</script>&nbsp;
									</div>
									<% ifndef("HASWIFI", "-->"); %>
									<div class="setting">
										<div class="label">WAN IP</div>
										<% nvram_match("wl0_mode","wet","<script type="text/javascript">Capture(share.disabled)</script><!--"); %><% nvram_match("wl0_mode","apstawet","<script type="text/javascript">Capture(share.disabled)</script><!--"); %><% nvram_match("wan_proto","disabled","<script type="text/javascript">Capture(share.disabled)</script><!--"); %><% nvram_status_get("wan_ipaddr"); %><% nvram_match("wan_proto","disabled","-->"); %><% nvram_match("wl0_mode","apstawet","-->"); %><% nvram_match("wl0_mode","wet","-->"); %>&nbsp;
									</div>
									<div class="setting">
										<div class="label">LAN IP</div>
										<span id="lan_ip"><% nvram_get("lan_ipaddr"); %></span>&nbsp;
									</div>
								</fieldset><br />
	<% ifndef("HASWIFI", "<!--"); %>
								
								<fieldset>
									<legend><% tran("share.wireless"); %></legend>
									<% show_wifiselect(); %>
									<div class="setting">
										<div class="label"><% tran("wl_basic.radio"); %></div>
										<span id="wl_radio"><% get_radio_state(); %></span>&nbsp;
									</div>
									<div class="setting">
										<div class="label"><% tran("share.mode"); %></div>
										<% getwirelessmode(); %>&nbsp;
									</div>
									<div class="setting">
										<div class="label"><% tran("status_wireless.net"); %></div>
										<% getwirelessnetmode(); %>&nbsp;								
									</div>
									<div class="setting">
										<div class="label"><% tran("share.ssid"); %></div>
										<% getwirelessssid(); %>&nbsp;
									</div>
									<div class="setting">
										<div class="label"><% tran("share.channel"); %></div>
										<span id="wl_channel"><% get_curchannel(); %></span>&nbsp;
									</div>
									<div class="setting">
										<div class="label"><% tran("wl_basic.TXpower"); %></div>
										<span id="wl_xmit"><% get_txpower(); %></span>&nbsp;
									</div>
									<div class="setting">
										<div class="label"><% tran("share.rates"); %></div>
										<span id="wl_rate"><% get_currate(); %></span>&nbsp;
									</div>
								</fieldset><br />
								
								<fieldset>
									<legend><% tran("status_wireless.legend2"); %></legend>
									<div class="setting">
										<div class="label"><% tran("status_wireless.rx"); %></div>
										<span id="packet_rx"></span>&nbsp;
									</div>
									<div class="setting">
										<div class="label"><% tran("status_wireless.tx"); %></div>
										<span id="packet_tx"></span>&nbsp;
									</div>
								</fieldset><br />
	<% ifndef("HASWIFI", "-->"); %>
							</div>
	
							<div class="col2r">
								<fieldset>
									<legend><% tran("info.srv"); %></legend>
									<div class="setting">
										<div class="label"><% tran("service.dhcp_legend2"); %></div>
										<% nvram_match("lan_proto", "dhcp", "<script type="text/javascript">Capture(share.enabled)</script>"); %><% nvram_match("lan_proto", "static", "<script type="text/javascript">Capture(share.disabled)</script>"); %>&nbsp;
									</div>
									<div class="setting">
										<div class="label">WRT-radauth</div>
									<% nvram_invmatch("wl0_mode", "ap", "<script type="text/javascript">Capture(wl_basic.ap)</script><!--"); %><% nvram_match("wl0_radauth","0","<script type="text/javascript">Capture(share.disabled)</script>"); %><% nvram_match("wl0_radauth","1","<script type="text/javascript">Capture(share.enabled)</script>"); %><% nvram_invmatch("wl0_mode", "ap", "-->"); %>&nbsp;
									</div>
									<% ifndef("RFLOW", "<!--"); %>
									<div class="setting">
										<div class="label">WRT-rflow</div>
										<% nvram_match("rflow_enable","0","<script type="text/javascript">Capture(share.disabled)</script>"); %><% nvram_match("rflow_enable","1","<script type="text/javascript">Capture(share.enabled)</script>"); %>&nbsp;
									</div>
									<div class="setting">
										<div class="label">MAC-upd</div>
										<% nvram_match("macupd_enable","0","<script type="text/javascript">Capture(share.disabled)</script>"); %><% nvram_match("macupd_enable","1","<script type="text/javascript">Capture(share.enabled)</script>"); %>&nbsp;
									</div>
									<% ifndef("RFLOW", "-->"); %>
									<% ifndef("SAMBA", "<!--"); %>
									<div class="setting">
										<div class="label"><% tran("management.samba_legend"); %></div>
										<% nvram_match("samba_mount","0","<script type="text/javascript">Capture(share.disabled)</script>"); %><% nvram_match("samba_mount","1","<script type="text/javascript">Capture(share.enabled)</script>"); %>&nbsp;
									</div>
									<% ifndef("SAMBA", "-->"); %>
									<% ifndef("SPUTNIK_APD", "<!--"); %>
									<div class="setting">
										<div class="label"><% tran("bmenu.statuSputnik"); %></div>
										<% nvram_match("apd_enable","0","<script type="text/javascript">Capture(share.disabled)</script>"); %><% nvram_match("apd_enable","1","<script type="text/javascript">Capture(share.enabled)</script>"); %>&nbsp;
									</div>
									<% ifndef("SPUTNIK_APD", "-->"); %>
									<% ifndef("USB", "<!--"); %>
									<div class="setting">
										<div class="label"><% tran("usb.usb_legend"); %></div>
										<% nvram_match("usb_enable","0","<script type="text/javascript">Capture(share.disabled)</script>"); %><% nvram_match("usb_enable","1","<script type="text/javascript">Capture(share.enabled)</script>"); %>&nbsp;
									</div>
									<% ifndef("USB", "-->"); %>
								</fieldset><br />
								
								<fieldset>
									<legend><% tran("status_router.legend3"); %></legend>
									<div class="setting">
										<div class="label"><% tran("status_router.mem_tot"); %></div>
										<span id="mem_total"></span>&nbsp;
									</div>
									<div class="setting">
										<div class="label"><% tran("status_router.mem_free"); %></div>
										<span id="mem_free"></span>&nbsp;
									</div>
									<div class="setting">
										<div class="label"><% tran("status_router.mem_used"); %></div>
										<span id="mem_used"></span>&nbsp;
									</div>
									<div class="setting">
										<div class="label"><% tran("status_router.mem_buf"); %></div>
										<span id="mem_buffer"></span>&nbsp;
									</div>
									<div class="setting">
										<div class="label"><% tran("status_router.mem_cached"); %></div>
										<span id="mem_cached"></span>&nbsp;
									</div>
									<div class="setting">
										<div class="label"><% tran("status_router.mem_active"); %></div>
										<span id="mem_active"></span>&nbsp;
									</div>
									<div class="setting">
										<div class="label"><% tran("status_router.mem_inactive"); %></div>
										<span id="mem_inactive"></span>&nbsp;
									</div>
	<% nvram_invmatch("show_hidden","1","<!--"); %>
									<div class="setting">
										<div class="label"><% tran("status_router.mem_hidden"); %></div>
										<span id="mem_hidden"></span>&nbsp;
									</div>
	<% nvram_invmatch("show_hidden","1","-->"); %>
								</fieldset><br />
								
								<fieldset>
									<legend><% tran("status_router.legend6"); %></legend>
					<% ifndef("SAMBA", "<!--"); %>
										<div class="setting">
											<div class="label">CIFS</div>
											<script type="text/javascript">
											//<![CDATA[
											<% statfs("/tmp/smbshare", "samba"); %>
											document.write( ((<% nvram_get("samba_mount"); %>) && (samba.size)) ? (scaleSize(samba.size) + ' / ' + scaleSize(samba.free)) : '<span style="color:#999999;"><em>(' + share.nmounted + ')</em></span>' );
											//]]>
											</script>
										</div>
					<% ifndef("SAMBA", "-->"); %>
					<% ifndef("JFFS2", "<!--"); %>
									<div class="setting">
										<div class="label">JFFS2</div>
										<script type="text/javascript">
										//<![CDATA[
										<% statfs("/jffs", "my_jffs"); %>
										document.write( ((<% nvram_get("enable_jffs2"); %>) && (my_jffs.size)) ? (scaleSize(my_jffs.size) + ' / ' + scaleSize(my_jffs.free)) : '<span style="color:#999999;"><em>(' + share.nmounted + ')</em></span>' );
										//]]>
										</script>
									</div>
					<% ifndef("JFFS2", "-->"); %>
					<% ifndef("MMC", "<!--"); %>
									<div class="setting">
										<div class="label">MMC</div>
										<script type="text/javascript">
										//<![CDATA[
										<% statfs("/mmc", "mmc"); %>
										document.write( ((<% nvram_get("mmc_enable0"); %>) && (mmc.size)) ? (scaleSize(mmc.size) + ' / ' + scaleSize(mmc.free)) : '<span style="color:#999999;"><em>(' + share.nmounted + ')</em></span>' );
										//]]>
										</script>
									</div>
					<% ifndef("MMC", "-->"); %>
								</fieldset><br />
					<% ifndef("GPSI", "<!--"); %>
								<fieldset>
									<legend><% tran("status_gpsi.legend"); %></legend>
									<div class="setting">
										<div class="label"><% tran("status_gpsi.status"); %></div>
										<span id="gps_text"></span>&nbsp;
									</div>
									<div class="setting">
										<div class="label"><% tran("status_gpsi.lon"); %></div>
										<span id="gps_lon"></span>&nbsp;
									</div>
									<div class="setting">
										<div class="label"><% tran("status_gpsi.lat"); %></div>
										<span id="gps_lat"></span>&nbsp;
									</div>
									<div class="setting">
										<div class="label"><% tran("status_gpsi.alt"); %></div>
										<span id="gps_alt"></span>&nbsp;
									</div>
									<div class="setting">
										<div class="label"><% tran("status_gpsi.sat"); %></div>
										<span id="gps_sat"></span>&nbsp;
									</div>
								</fieldset><br />
					<% ifndef("GPSI", "-->"); %>
								
							</div><br clear="all" />
	<% ifndef("HASWIFI", "<!--"); %>
							<h2><% tran("share.wireless"); %></h2>
							<fieldset>
								<legend><% getwirelessstatus(); %></legend>
								<table class="table center" cellspacing="5" id="wireless_table" summary="wireless clients table">
									<tr>
										<th width="18%"><% tran("share.mac"); %></th>
										<th width="16%"><% tran("share.intrface"); %></th>
										<th width="10%"><% tran("status_router.sys_up"); %></th>
										<th width="8%"><% tran("share.txrate"); %></th>
										<th width="8%"><% tran("share.rxrate"); %></th>
										<th width="8%"><% tran("share.signal"); %></th>
										<th width="8%"><% tran("share.noise"); %></th>
										<th width="8%">SNR</th>
										<th width="24%"><% tran("status_wireless.signal_qual"); %></th>
									</tr>
								</table>
							</fieldset><br />
							
							<div id="wds" style="display:none">
								<fieldset>
									<legend><% tran("status_wireless.wds"); %></legend>
									<table class="table center" cellspacing="5" id="wds_table" summary="wds clients table">
										<tr>
											<th width="28%"><% tran("share.mac"); %></th>
											<th width="24%"><% tran("share.descr"); %></th>
											<th width="8%"><% tran("share.signal"); %></th>
											<th width="8%"><% tran("share.noise"); %></th>
											<th width="8%">SNR</th>
											<th width="24%"><% tran("status_wireless.signal_qual"); %></th>
										</tr>
									</table>
								</fieldset><br />
								
							</div>
	<% ifndef("HASWIFI", "-->"); %>
	
							<div id="dhcp" style="display:none">
								<h2><% tran("share.dhcp"); %></h2>
								<fieldset>
									<legend><% tran("status_lan.legend3"); %></legend>
									<table class="table center" cellspacing="5" id="dhcp_leases_table" summary="dhcp leases table">
										<tr>
											<th width="25%"><% tran("share.hostname"); %></th>
											<th width="25%"><% tran("share.ip"); %></th>
											<th width="25%"><% tran("share.mac"); %></th>
											<th width="25%"><script type="text/javascript">Capture(<% nvram_else_match("dhcp_dnsmasq","1","idx.dhcp_lease","share.expires"); %>)</script></th>
										</tr>
									</table>
								</fieldset><br />
							</div>
	
							<div class="submitFooter">
								<script type="text/javascript">
								 //<![CDATA[
								 var autoref = <% nvram_else_match("refresh_time","0","sbutton.refres","sbutton.autorefresh"); %>;
								 submitFooterButton(0,0,0,autoref);
								 //]]>
								 </script>
							</div>
					    </form>
							<div class="center">
								<% show_paypal(); %>
							</div><br />
					</div>
				</div>
				<div id="floatKiller"></div>
				<div id="statusInfo">
				<div class="info"><% tran("share.firmware"); %>: 
					<script type="text/javascript">
					//<![CDATA[
					document.write("<a title=\"" + share.about + "\" href=\"javascript:openAboutWindow()\"><% get_firmware_version(); %></a>");
					//]]>
					</script>
				</div>
				<div class="info"><% tran("share.time"); %>:  <span id="uptime"><% get_uptime(); %></span></div>
				<div class="info">WAN<span id="ipinfo"><% show_wanipinfo(); %></span></div>
				</div>
			</div>
		</div>
	</body>
</html>
