{lan_mac::<% nvg("lan_hwaddr"); %>}
{wan_mac::<% nvg("wan_hwaddr"); %>}
{wl_mac::<% show_wl_mac(); %>}
{lan_ip::<% nvg("lan_ipaddr"); %>}
{wl_channel::<% get_curchannel(); %>}
{wl_radio::<% get_radio_state(); %>}
{wl_xmit::<% get_txpower(); %>}
{wl_rate::<% get_currate(); %>}
{packet_info::<% wl_packet_get(); %>}
{lan_proto::<% nvg("lan_proto"); %>}
{mem_info::<% dumpmeminfo(); %>}
{active_wireless::<% active_wireless(1); %>}
{active_wds::<% active_wds(1); %>}
{dhcp_leases::<% dumpleases(1); %>}
{uptime::<% get_uptime(); %>}
{ipinfo::<% show_wanipinfo(); %>}
{wan_ipaddr::<% nvram_status_get("wan_ipaddr"); %>}
{wan_ipv6addr::<% nvram_status_get("wan_ipv6addr","0"); %>}
{gps_text::<% gps_status(); %>}
{gps_lat::<% nvg("gps_lat_text"); %>}
{gps_lon::<% nvg("gps_lon_text"); %>}
{gps_alt::<% nvg("gps_alt"); %>}
{gps_sat::<% nvg("gps_sat"); %>}
{gps_latdec::<% getlatidude(); %>}
{gps_londec::<% getlongitude(); %>}
{gps_link::<% getgpslink(); %>}
{nvram::<% statnv(); %>}