<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
	<META http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
	<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=iso-8859-1"/>
	<title><% nvram_get("router_name"); %> - Info</title>
	<link type="text/css" rel="stylesheet" href="style.css"/>
	<script type="text/JavaScript" src="common.js">{}</script>
	<script language="JavaScript">

function replace_list(list,target,replacement) {
	var result = list.search(target);
	while(result != -1) {
		list = list.replace(target,replacement);
		result = list.search(target);
	}

	return list;
}
		</script>
	</head>

	<body class="gui"> <% showad(); %>
		<div id="wrapper">
			<div id="content">
				<div id="header">
					<div id="logo"><h1><% show_control(); %></h1></div>
						<div id="menu">
							<div id="menuMain">
								<ul id="menuMainList">
									<li><a href="index.asp">Setup</a></li>
									<li><a href="Wireless_Basic.asp">Wireless</a></li>
									<% nvram_invmatch("sipgate","1","<!--"); %>
									<li><a href="Sipath.asp">SIPatH</a></li>
									<% nvram_invmatch("sipgate","1","-->"); %>
									<li><a href="Firewall.asp">Security</a></li>
									<li><a href='<% support_elsematch("PARENTAL_CONTROL_SUPPORT", "1", "Parental_Control.asp", "Filters.asp"); %>'>Access Restrictions</a></li>
									<li><a href="Forward.asp">Applications&nbsp;&amp;&nbsp;Gaming</a></li>
									<li><a href="Management.asp">Administration</a></li>
									<li><a href="Status_Router.asp">Status</a></li>
								</ul>
							</div>
						</div>
					</div>
				    <div id="main">
						<div id="contents">
							<h2>Sys-Info</h2>
							<fieldset>
								<legend>Info</legend>
								<div class="setting">
									<div class="label">Router Name</div><% nvram_get("router_name"); %>
								</div>
								<div class="setting">
									<div class="label">Router Model</div><% nvram_get("DD_BOARD"); %>
								</div>
								<div class="setting">
									<div class="label">LAN MAC</div><% nvram_get("lan_hwaddr"); %>
								</div>
								<div class="setting">
									<div class="label">WAN MAC</div><% nvram_get("wan_hwaddr"); %>
								</div>
								<div class="setting">
									<div class="label">Wireless MAC</div><% nvram_get("wl0_hwaddr"); %>
								</div>
							</fieldset>
							<br/>
							<fieldset>
								<legend>Wireless Info</legend>
								<div class="setting">
									<div class="label">SSID</div><% nvram_get("wl_ssid"); %>
								</div>
								<div class="setting">
								<div class="label">Mode</div>
									<% nvram_match("wl_mode", "wet", "Client Bridge"); %><% nvram_match("wl_mode", "ap", "AP"); %><% nvram_match("wl_mode", "sta", "Client"); %><% nvram_match("wl_mode", "infra", "Adhoc"); %>
								</div>
								<div class="setting">
									<div class="label">Xmit</div><% nvram_get("txpwr"); %> mW
								</div>
								<div class="setting">
									<div class="label">Network</div><% nvram_match("wl_net_mode", "mixed", "Mixed"); %><% nvram_match("wl_net_mode", "g-only", "G-Only"); %><% nvram_match("wl_net_mode", "disabled","Disabled"); %><% nvram_match("wl_net_mode", "b-only", "B-Only"); %>
								</div>
								<div class="setting">
									<div class="label">DHCP Server</div><% nvram_match("lan_proto", "dhcp", "Enabled"); %><% nvram_match("lan_proto", "static", "Disabled"); %>
								</div>
								<div class="setting">
									<div class="label">Channel</div><% get_curchannel(); %>
								</div>
								<div class="setting">
									<div class="label">Rate (Mbps)</div><% get_currate(); %>
								</div>
							</fieldset>
							<br/>
							<fieldset>
								<legend>IP Info</legend>
								<div class="setting">
									<div class="label">WAN IP</div>
									<% nvram_match("wan_proto","disabled","Disabled"); %>
									<% nvram_match("wan_proto","disabled","<!--"); %>
									<% nvram_status_get("wan_ipaddr"); %>
									<% nvram_match("wan_proto","disabled","-->"); %>
								</div>
								<div class="setting">
									<div class="label">LAN IP</div><% nvram_get("lan_ipaddr"); %>
								</div>
								<div class="setting">
									<div class="label">WRT-radauth</div>
									<% nvram_invmatch("wl_mode", "ap", "<nobr>only AP Mode</nobr><!--"); %>
                        			<% nvram_match("wl_radauth","0","Disabled"); %><% nvram_match("wl_radauth","1","Active"); %>                        
                        			<% nvram_invmatch("wl_mode", "ap", "-->"); %>
								</div>
								<div class="setting">
									<div class="label">WRT-rflow</div><% nvram_match("rflow_enable","0","Disabled"); %> <% nvram_match("rflow_enable","1","Active"); %>
								</div>
								<div class="setting">
									<div class="label">MAC-udp</div><% nvram_match("macupd_enable","0","Disabled"); %> <% nvram_match("macupd_enable","1","Active"); %>
								</div>
								<div class="setting">
									<div class="label">Samba Mount</div><% nvram_match("samba_mount","0","Disabled"); %><% nvram_match("samba_mount","1","Active"); %>
								</div>
							</fieldset>
							<br/>
							<form name="Eingabe">
								<input type="hidden" name="FeldMEM" value='<% wl_packet_get(); %>' />
								<% active_wireless(1); %>
								<% active_wds(1); %>
								<% nvram_invmatch("wl_mode", "ap", "<!--"); %>
								<h2>DHCP</h2>
								<fieldset>
									<legend>Clients List</legend>
									<div class="setting">
										<table class="table">
											<tr>
												<th>PC</th>
												<th>IP</th>
												<th>MAC</th>
												<th>Duration</th>
											</tr>
<script language="JavaScript">

var table = new Array( <% dumpleases(1); %> );
var i = 0;
var count = 0;

for(;;) {
	if(!table[i]) {
		if(i == 0){
			document.write("<tr>");
			document.write("<td>None</td>");
			document.write("<td>None</td>");
			document.write("<td>None</td>");
			document.write("<td>None</td>");
			document.write("<td>&nbsp;</td></tr>");
		}
		break;
	}
	document.write("<tr>");
	document.write("<td>"+table[i]+"</td>");
	document.write("<td>"+table[i+1]+"</td>");
	document.write("<td>"+table[i+2]+"</td>");
	document.write("<td>"+table[i+3]+"</td>");
	document.write("<td>&nbsp;</td></tr>");
	count ++;
	i = i + 5;
}
</script>
									</table>
								</div>
							</fieldset>
							<br/>
							<% nvram_invmatch("wl_mode", "ap", "-->"); %>
							<div class="setting">
								<div class="label">Packet Info</div>
<script language="JavaScript">

var clients = this.document.Eingabe.FeldMEM.value;
clients=replace_list(clients,';',' ');
clients=replace_list(clients,'SWRXgoodPacket=',' RXg=');
clients=replace_list(clients,'SWRXerrorPacket=','RXe=');
clients=replace_list(clients,'SWTXgoodPacket=',' TXg=');
clients=replace_list(clients,'SWTXerrorPacket=','TXe=');
this.document.write(clients);

</script>
						  	</div>
						</form>
						<div class="setting">
							<div class="label">Mem Info</div><% show_meminfo(); %>
						</div>
						<% show_paypal(); %>
					</div>
				</div>
				<div id="statusInfo">
					<div class="info">Firmware: <% get_firmware_version(); %></div>
					<div class="info">Time: <% get_uptime(); %></div>
					<% nvram_match("wan_proto","disabled","<!--"); %>
					<div class="info">WAN IP: <% nvram_status_get("wan_ipaddr"); %></div>
					<% nvram_match("wan_proto","disabled","-->"); %>
					<div class="info"><% nvram_match("wan_proto","disabled","WAN disabled"); %></div>
				</div>
				<div id="helpContainer">
					<div id="help">
						<div id="logo"><h2>Help</h2></div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>