.overlay_ddwrt {
	background-color: #dddddd;
	filter:alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
}
.ddwrt_sizer {
	width:0px;
	height:0px;
	display:none;
}
.ddwrt_close {
	width:0px;
	height:0px;
	display:none;
}
.ddwrt_minimize {
	width:0px;
	height:0px;
	display:none;
}
.ddwrt_maximize {
	width:0px;
	height:0px;
	display:none;
}
.ddwrt_title {
	width:0px;
	height:0px;
	display:none;
}
.ddwrt_content {
	overflow:auto;
	color: #000;
	font-family: Tahoma, Arial, sans-serif;
	font-size: 10px;
	background: #FFF;
}

/* For alert/confirm dialog */
.ddwrt_window {
	border:1px solid #F00;	
	background: #FFF;
	padding:20px;
	margin-left:auto;
	margin-right:auto;
	width:400px;
}
.ddwrt_message {
	font-size:16px;
	text-align:center;
	width:100%;
	color:#000000;
	padding-bottom:10px;
}
.ddwrt_buttons {
	text-align:center;
	width:100%;
}
.ddwrt_buttons input {
	width:20%;
	margin:10px;
}
.ddwrt_progress {
	float:left;
	margin:auto;
	text-align:center;
	width:100%;
	height:16px;
	background: #FFF url('alert/progress.gif') no-repeat center center
}
table.ddwrt_header  {
  border:1px solid #F00;
  background:#FFF
}
