// SPDX-License-Identifier: GPL-2.0-or-later OR MIT

#include <dt-bindings/leds/common.h>

#include "qcom-ipq4019-xx8300.dtsi"

/ {
	model = "Linksys MR9000 (Dallas)";
	compatible = "linksys,ea9000", "qcom,ipq4019";

	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		ramoops@87500000 {
			compatible = "ramoops";
			reg = <0x87500000 0x600000>;
			console-size = <0x200000>;
			pmsg-size    = <0x200000>;
			record-size  = <0x200000>;
			ecc-size = <16>;
		};
	};

	aliases {
		serial0 = &blsp1_uart1;
	};


	leds {
		compatible = "gpio-leds";

		// Retain node names from running OEM on EA8300

		// Front panel LEDs, top to bottom

/*		led_plug: diag {
			label = "amber:plug";
			gpios = <&tlmm 47 GPIO_ACTIVE_HIGH>;
		};*/

/*		led_world: internet {
			label = "amber:world";
			gpios = <&tlmm 49 GPIO_ACTIVE_HIGH>;
		};*/

/*		led_wps: wps {
			label = "white:wps";
			gpios = <&tlmm 46 GPIO_ACTIVE_HIGH>;
		};*/

/*		led_wps_amber: wps_amber {
			label = "amber:wps";
			gpios = <&tlmm 22 GPIO_ACTIVE_HIGH>;
		};*/

/*		led_linksys: pwr {
			label = "white:linksys";
			gpios = <&tlmm 45 GPIO_ACTIVE_HIGH>;
		};*/

		// On back panel, above USB socket

		led_usb: usb {
			label = "green:usb";
			gpios = <&tlmm 61 GPIO_ACTIVE_LOW>;
		};
	};

	keys {
		compatible = "gpio-keys";

		reset {
			label = "reset";
			linux,code = <KEY_RESTART>;
			gpios = <&tlmm 50 GPIO_ACTIVE_LOW>;
		};

		wps {
			label = "wps";
			linux,code = <KEY_WPS_BUTTON>;
			gpios = <&tlmm 18 GPIO_ACTIVE_LOW>;
		};
	};
};

&mdio {
	status = "okay";
	pinctrl-0 = <&mdio_pins>;
	pinctrl-names = "default";
	reset-gpios = <&tlmm 54 GPIO_ACTIVE_LOW>;
	reset-delay-us = <2000>;
	reset-post-delay-us = <1000>;
};

&tlmm {
	status = "okay";
	mdio_pins: mdio_pinmux {
		mux_1 {
			pins = "gpio6";
			function = "mdio";
			bias-pull-up;
		};
		mux_2 {
			pins = "gpio7";
			function = "mdc";
			bias-pull-up;
		};
	};
};

&wifi0 {
	status = "okay";
	qcom,ath10k-calibration-variant = "linksys-ea8300-fcc";
};

&wifi1 {
	status = "okay";
	ieee80211-freq-limit = <4800000 5490000>;
	qcom,ath10k-calibration-variant = "linksys-ea8300-fcc";
};

&wifi2 {
	status = "okay";
	ieee80211-freq-limit = <5490000 6115000>;
	qcom,ath10k-calibration-variant = "linksys-mr9000-fcc";
};
