*.o

*.diff
*.patch
*.rej
*.orig

.gdb_history
.gdbinit
core
*.gdb

/config.h
/config.make
/config.status

/net-tools-*.tar*

/lib/libnet-tools.a

/po/*.mo

/version.h

/arp
/hostname
/ifconfig
/ipmaddr
/iptunnel
/mii-tool
/nameif
/netstat
/plipconfig
/rarp
/route
/slattach
