.overlay_ddwrt {
	background-color: #dddddd;
	filter:alpha(opacity=60);
	opacity: 0.6;
}
.ddwrt_close {
	width: 23px;
	height: 23px;
	background: transparent url(ddwrt/button-close-focus.png) no-repeat 0 0;
	position: absolute;
	top: 0px;
	right: 11px;
	cursor: pointer;
	z-index: 1000;
}
.ddwrt_minimize {
	width: 23px;
	height: 23px;
	background: transparent url(ddwrt/button-min-focus.png) no-repeat 0 0;
	position: absolute;
	top: 0px;
	right: 55px;
	cursor: pointer;
	z-index: 1000;
}
.ddwrt_maximize {
	width: 23px;
	height: 23px;
	background: transparent url(ddwrt/button-max-focus.png) no-repeat 0 0;
	position:absolute;
	top:0px;
	right:33px;
	cursor:pointer;
	z-index:1000;
}
.ddwrt_title {
	float:left;
	height:14px;
	font-family: Tahoma, Arial, sans-serif;
	font-size:14px;
	text-align:center;
	margin-top:2px;
	width:100%;
	color:#123456;
}
.ddwrt_content {
	overflow:auto;
	color: #000000;
	font-family: Tahoma, Arial, sans-serif;
 	font: 12px arial;
	background:#fdfdfd;
}
.ddwrt_nw {
	background: transparent url(ddwrt/left-top.png) no-repeat 0 0;
	width:10px;
	height:25px;
}
.ddwrt_n {
	background: transparent url(ddwrt/top-middle.png) repeat-x 0 0;
	height:25px;
}
.ddwrt_ne {
	background: transparent url(ddwrt/right-top.png) no-repeat 0 0;
	width:10px;
	height:25px;
}
.ddwrt_w {
	background: transparent url(ddwrt/frame-left.gif) repeat-y top left;
	width:7px;
}
.ddwrt_e {
	background: transparent url(ddwrt/frame-right.gif) repeat-y top right;
	width:7px;
}
.ddwrt_sw {
	background: transparent url(ddwrt/bottom-left-c.gif) no-repeat 0 0;
	width:7px;
	height:7px;
}
.ddwrt_s {
	background: transparent url(ddwrt/bottom-middle.gif) repeat-x 0 0;
	height:7px;
}
.ddwrt_se, .ddwrt_sizer {
	background: transparent url(ddwrt/bottom-right-c.gif) no-repeat 0 0;
	width:7px;
	height:7px;
}
.ddwrt_sizer {
	cursor: se-resize;
}


/* For alert/confirm dialog */
.ddwrt_window {
	border:1px solid #F00;
	background: #FFFFFF;
	padding:20px;
	margin-left:auto;
	margin-right:auto;
	width:400px;
}
.ddwrt_message {
	font: 14px arial;
	text-align:center;
	width:100%;
	padding-bottom:10px;
}
.ddwrt_buttons {
	text-align:center;
	width:100%;
}
.ddwrt_buttons input {
	width:20%;
	margin:10px;
}
.ddwrt_progress {
	float:left;
	margin:auto;
	text-align:center;
	width:100%;
	height:30px;
	background: transparent url('ddwrt/progress.gif') no-repeat center center;
}
.ddwrt_wired_frame {
	background: #FFF;
	filter:alpha(opacity=60);
	opacity: 0.6;	
}
