.overlay_ddwrt {
  background-color: #ddd;
  filter: alpha(opacity=60);
  opacity: .6;
}
.ddwrt_content {
  background: #fdfdfd;
  color: #000;
  border-radius: 4px;
  height: 8rem !important;
  font-family: Tahoma, Arial, sans-serif;
  font: 12px arial;
  overflow: hidden;
}
.ddwrt_message {
  font: 14px Arial;
  text-align: center;
  width: 100%;
  padding-bottom: 10px;
  padding-top: 1.5rem;
}
.ddwrt_progress {
  float: left;
  margin: auto;
  margin-top: 8px;
  text-align: center;
  width: 100%;
  height: 30px;
  background: transparent url('ddwrt/progress.svg') no-repeat center center;
}
.ddwrt_window, .ddwrt_title {
  display: none;
}
