/*.pc
/.ccache/
/Doxyfile
/build/
/bus/tmpfiles.d/dbus.conf
/ci-build*/
/*-prefix/
*.zst*
file*.lst
/cmake/DBus1Config*.cmake
/dbus-1.*-coverage.info
/dbus-1.*-coverage.info.tmp
/dbus-1.*-coverage/
/dbus-1.*.tar.*
/dbus-1.*/
/src-from-dist/
*.bb
*.bbg
*.da
*.gcda
*.gcno
*.gcov
*.o
*.orig
*.rej
*~
.*.sw?
.deps/
.libs/
Makefile
__pycache__/
cscope.out
tags
