config CRYPTO_DEV_OTA_CRYPTO
	tristate "OTA Crypto module"
	help
	  This driver supports QTI OTA Crypto in the FSM9xxx.
	  To compile this driver as a module, choose M here: the
	  module will be called ota_crypto.

config CRYPTO_DEV_QCE50
	bool

config CRYPTO_DEV_QCEDEV
	tristate "QCEDEV Interface to CE module"
	default n
	help
	  This driver supports QTI QCEDEV Crypto in MSM7x30, MSM8660,
	  MSM8960, MSM9615, APQ8064, MSM8974, MSM8916, MSM8994, MSM8996
	  and APQ8084. This exposes the interface to the QCE hardware
	  accelerator via IOCTLs.

	  To compile this driver as a module, choose M here: the
	  module will be called qcedev.

config CRYPTO_DEV_QCOM_ICE
	tristate "Inline Crypto Module"
	default n
	depends on BLK_DEV_DM
	help
	  This driver supports Inline Crypto Engine for QTI chipsets, MSM8994
	  and later, to accelerate crypto operations for storage needs.
	  To compile this driver as a module, choose M here: the
	  module will be called ice.

config CRYPTO_DEV_QCOM_MSM_QCE
	tristate "Qualcomm Technologies,Inc (QTI)  module"
	select  CRYPTO_DEV_QCE50 if ARCH_APQ8084 || ARCH_MSM8916 || ARCH_MSM8994 || ARCH_MSM8996 || ARCH_MSM8992 || ARCH_MSMTITANIUM || ARCH_QCOM
	default n
	help
	  This driver supports QTI Crypto Engine in MSM7x30, MSM8660
	  MSM8x55, MSM8960, MSM9615, MSM8916, MSM8994, MSM8996, FSM9900,
	  MSMTITANINUM and APQ8084.

	  To compile this driver as a module, choose M here: the
	  For MSM7x30 MSM8660 and MSM8x55 the module is called qce
	  For MSM8960, APQ8064 and MSM9615 the module is called qce40
	  For MSM8974, MSM8916, MSM8994, MSM8996, MSM8992, MSMTITANIUM
	  and APQ8084 the module is called qce50.

config CRYPTO_DEV_QCRYPTO
	tristate "QTI Crypto accelerator"
	select CRYPTO_DES
	select CRYPTO_ALGAPI
	select CRYPTO_AUTHENC
	select CRYPTO_BLKCIPHER
	default n
	help
	  This driver supports QTI crypto acceleration.
	  To compile this driver as a module, choose M here: the
	  module will be called qcrypto.
