.dir-locals.el
.gdbinit
ChangeLog
Makefile
Makefile.in
*.orig
*.rej
core
config.h
config.h.in
config.log
config.status
stamp-h1
.emacs*
*.o
*~
*.bak
configure
config.guess 
config.h.in 
config.sub
aclocal.m4
autom4te.cache
.deps/
/build-aux
*.tar.gz
*.patch
*.diff
TAGS
\#*
/tmp
INSTALL
README
