Makefile
Makefile.in
install-sh
*.orig
*.rej
core
config.h
config.h.in
config.log
config.status
stamp-h1
.emacs*
*.o
*~
dh.h
dh2048.h
dh512.h
pound
poundctl
configure
config.guess 
config.h.in 
config.sub
aclocal.m4
autom4te.cache
.deps/
compile
depcomp
missing
*.tar.gz
