/*! Yellow */
:root {
  --ac-0: #f6be00;
  --ac-1: #ffd700;
  --ac-2: #fedf00;
  --ac-3: #ee3;
  --ac-4: #ee7;
  --ac-5: #ff9;
  --tx-c: #000;
  --lg-c: #ccb016;
  --it-c: #a89118;
  --lo-h: #6f4816;
}