@import url(../common.css);
/*! Yellow */
::selection {
  background: #eec900;
  color: #000;
}
#menuSub, #menuMainList li span, #help h2 {
  background: #eec900;
  color: #000;
  border-color: #ee3;
}
#menuSubList li a {
  background: #ffd700;
  color: #000;
  border-color: #ee7;
}
#menuSubList li a:hover {
  background: #eec900;
  color: #000;
  border-color: #ff9;
}
fieldset legend, .syslog_legend {
  color: #eec900;
}
#help a, #help a:hover, .meter .text {
  color: #000;
}
.meter .bar {
  background-color: #eec900;
}
.progressbarblock {
  background-color: #eec900;
}
input[type] {
  accent-color: #eec900;  
}
input.button, input.button[disabled]:hover {
  background: #eec900;
  border: 1px solid #eec900;
  color: #000;
}
input.button:hover {
  background: #ffd700;
  border: 1px solid #fdd700;
  color: #000;
}
input.button:focus-visible {
  box-shadow: 0 0 5px 1px #ffd700;
}
input:focus-visible, textarea:focus-visible,
select:focus-within {
  box-shadow: 0 0 5px 1px #ffd700;
  border: 1px solid #ffd700;
  outline: 0;
}
input:focus, textarea:focus {
  border: 1px solid #ffd700;
  box-shadow: 0 0 5px 1px #ffd700;
}
