*.log
*.trs
/data/dbus-installed-tests.aaprofile
/data/systemd-activation/com.example.ReceiveDeniedByAppArmorLabel.service
/data/systemd-activation/com.example.SendDeniedByAppArmorLabel.service
/data/systemd-activation/com.example.SendDeniedByNonexistentAppArmorLabel.service
/data/systemd-activation/com.example.SystemdActivatable3.service
/data/valid-config-files-system/system.conf
/manual-authz
/manual-backtrace
/manual-dir-iter
/manual-tcp
/manual-test-thread-blocking
/test-apparmor-activation
/test-assertions
/test-bus
/test-containers
/test-corrupt
/test-dbus-daemon
/test-dbus-daemon-eavesdrop
/test-desktop-file
/test-exit
/test-fdpass
/test-header-fields
/test-loopback
/test-marshal
/test-message
/test-monitor
/test-names
/test-printf
/test-privserver
/test-refs
/test-relay
/test-sd-activation
/test-segfault
/test-server-oom
/test-service
/test-shell
/test-shell-service
/test-sleep-forever
/test-spawn
/test-syntax
/test-sysdeps
/test-syslog
/test-uid-permissions
/test-variant
