@import url(/style/common_legacy.css);
@import url(/style/buttons.css);
body {
  color: #000;
  background: #eeeae4;
}
input, select, option {
  color: #a57b46;
}
h1 {
  color: #955322;
}
h2, legend {
  color: #ec361d;
}
h3, label {
  color: #b26c38;
}
:link {
  color: #554fa0;
}
:visited {
  color: #090051;
}
:link:hover, :visited:hover {
  color: #5b52cb;
}
fieldset {
  border: 1px solid #8f8f9d;
}
#main {
  background-color: #fff;
}
#header {
  color: #955322;
  background: #f1d496 url(../../images/dd-wrt.png) bottom right no-repeat;
}
th {
  background-color: #e9e9ed;
}
#menuMain {
  border-color: #fff;
}
#menuSubList > li > span > strong, .current span strong {
  color: #f00;
}
#menuMainList :link, #menuMainList :visited, #menuMainList span {
  color: #955322;
  background: transparent;
  border-color: #eeeae4;
}
#menuMainList :link:hover, #menuMainList :visited:hover {
  color: #ec361d;
  background: #f4f4f4;
}
#menuMainList :link:active, #menuMainList :visited:active {
  background: #fff;
}
#menuMainList ul {
  background-color: #f5f2ef;
  border-color: #fff;
}
.meter .bar {
  background-color: #e3ddd5;
}
.meter .text {
  color: #955322;
}
.progressbar {
  background-color: #fff;
  border: 1px solid #999;
}
.progressbarblock {
  background-color: #e3ddd5;
}
.warning {
  color: #f00;
}
textarea {
  border: 1px solid #999;
}
.submitFooter {
  background: repeating-linear-gradient(55deg,
    #eeeae4 , #eeeae4  2px,
    #f1d496 1px, #f1d496 3px);
  border: 1px solid #bb9273;
}
