/* Properties */
html {
	background:				#EEEAE4;
}

body{
	color:					#000;
}

input, select, option, button {
	color:					#A57B46;
}

h1 {
	color:					#955322;
}

h2, legend { 
	color:					#EC361D;
}

h3, label { 
	color:					#B26C38;
}

:link {
	color:					#554FA0;
}
:visited {
	color:					#090051;
}

:link:hover, :visited:hover {
	color:					#5B52CB;
}

/*structure*/

#mBody {
	background-color:		#EEEAE4;
}

.nomenu #mBody {
	background-color:		#fff;
}

#side {
	background:				#EEEAE4;
}

#buttons {
	border-bottom-color:	#ff0000;
}

#main {
	background-color:		#fff;
}
#header {
	color:					#955322;
	background:				#F1D496 URL(../../images/dd-wrt.png) bottom right no-repeat;
}
.submitFooter {
	float:					left;
}
#menu {
	border-top-color:		#f00;
}
#menuMain {
	border-color:			#fff;
}
#menuMainList :link, #menuMainList :visited, #menuMainList span {
	color:					#955322;
	background:				transparent;
	border-color:			#EEEAE4;
}
#menuMainList :link:hover, #menuMainList :visited:hover {
	color:					#EC361D;
	border-color:			#DDD9D4;
	border-top-color:		#F5F3F0;
	border-left-color:		#F5F3F0;
	background:				#F3F0EC;
}
#menuMainList :link:active, #menuMainList :visited:active {
	background:				#fff;
}
#menuMainList ul {
	background-color:		#F5F2EF;
	border-color:			#fff;
}
#menuMainList ul :link, #menuMainList ul :visited, #menuMainList ul span {
	background-image:		none;
}
#menuMainList ul :link:hover, #menuMainList ul :visited:hover {
	background-image:		none;
}
.meter .bar {
background-color: #E3DDD5;
}
.meter .text {
color:#955322;
}

.progressbar {
  background-color: #fff;
  border-color: #999;
  font-size:.09em;
  border-width:.09em;
}
.progressbarblock {
  background-color: #E3DDD5;
  font-size:.09em;
}
.textblink {
  text-decoration:blink;
}
