@import url(/style/common_legacy.css);
@import url(/style/buttons.css);
::selection {
  background-color: #955322;
  color: #fff;
}
:focus-visible, .button:focus-visible {
  border: 1px solid #955322;
  box-shadow: 0 0 5px 1px #955322;
  outline: 0;
}
body {
  color: #000;
  background: #eeeae4;
}
input, select, option {
  color: #a57b46;
}
input {
  border: 1px solid #999;
}
input[type='checkbox'],
input[type='radio'] {
  accent-color: #f00;
}
#ip_count:hover, [title*='Search']:hover,
[title*='Chain']:hover, [title*='Monitoring']:hover {
  color: #f00;
}
.popup_bg {
  background-color: #fff
}
pre {
  background-color: #000;
  color: #0f0;
}
h1 {
  color: #955322;
  background-image: radial-gradient(#ffeabfcc, transparent);
  background-size: 320px;
  background-repeat: no-repeat;
  background-position: left
}
h2, legend {
  color: #ec361d;
}
h3 {
  color: #b26c38;
}
h2, h3 {
  background-color: #e3ddd5;
  border: 1px solid #eeeae4;
}
:link {
  color: #554fa0;
}
:visited {
  color: #090051;
}
:link:hover, :visited:hover {
  color: #5b52cb;
}
fieldset {
  background-color: #f6f6f6;
  border: 1px solid #8f8f9d;
}
#main {
  background-color: #f9f9f9;
}
#header {
  background: url(../../images/dd-wrt.png) bottom right no-repeat,
    repeating-linear-gradient(-45deg, #fed9ae, #fed9ae 1px, #f1d496 2px, #f1d496 3px);
  border-bottom: 1px inset #bb9273;
}
th {
  background-color: #e9e9ed;
  border: 1px solid #ccc;
}
#menuMainList :link, #menuMainList :visited, #menuMainList span {
  color: #955322;
  border-left: 3px solid transparent;
}
.current span strong {
  color: #f00;
}
.current span {
  content: '';
  border-left: 3px solid #955322 !important;
  background-color: #f9f9e9;
}
#menuMainList :link:hover, #menuMainList :visited:hover {
  color: #ec361d;
  background: #f9f9e9;
  border-left: 3px solid #955322;
}
.meter {
  background: #e3ddd5;
  border: solid 1px #999;
}
.meter .bar {
  background: #f5f2ef;
}
.meter .text {
  color: #955322;
}
.progressbar {
  background-color: #fff;
  border: 1px solid #999;
}
.progressbarblock {
  background-color: #e3ddd5;
}
.warning {
  background: #fcc;
  border: 2px dashed #f99;
  color: #f00;
  font-weight: bold;
}
textarea {
  border: 1px solid #999;
}
.submitFooter {
  background: repeating-linear-gradient(-45deg,
    #fed9ae, #fed9ae 1px,
    #f1d496 2px, #f1d496 3px);
  border: 1px solid #bb9273;
}
.submitFooter .button {
  background-color: #e9e9ed;
  border: 1px solid #8f8f9d;
  border-radius: 4px;
}
.message {
  background-color: #f6f6f6;
}
#tablePwdCheck tr th, #score {
  color: #000;
}
