@import url(colors.css);
* {
  font-family: Tahoma, Arial, sans-serif;
  font-size: 1em;
}
body {
  margin: .906em;
  font-size: 75%;
}
.popup_bg {
  background-color: #fff
}
form {
  margin: 0;
  display: inline;
}
input, select,
option, .button {
  font-weight: bold;
}
input.button, select {
  padding: .05em .5em;
  margin: 0 .4em 0 0;
}
input.num {
  padding-left: 2px;
  padding-right: 2px;
  vertical-align: middle;
}
input.num[maxlength="3"] {
  width: 5%
}
input.num[name*="lease"][size="10"] {
  margin-right: 4px;
  width: 52%
}
input.three_column {
  width: 150px;
  margin-left: 0;
  margin-right: 10px;
}
input.four_column {
  margin-left: 0;
  margin-right: 10px;
}
input.three_column_last, input.four_column_last {
  margin-right: 0;
}
h1, h4, legend, label {
  margin: 1em 0 .5em 0;
}
h2, h3 {
  padding: 4px 12px;
  line-height: 1.42857;
  letter-spacing: .123rem;
  margin: 0 0 .906em 0;
  border-radius: 3px;
}
legend, label {
  font-weight: bold;
}
:link {
  font-weight: bold;
}
:visited {
  font-weight: bold;
}
hr {
  padding: 0;
  height: 4px;
  border: 0;
  margin: 2em 0;
}
table {
  width: 100%;
}
#radio_table {
  width: 100%;
  text-align: center;
}
#radio_table td {
  height: 18px;
  border-radius: 2px;
}
[summary="edca ap parameters"], [summary="edca sta parameters"],
[summary="WMM Tx retry limits"] {
  width: 100%;
}
#wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
}
#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  margin: 0;
  padding: 0;
}
#header h1 {
  font-size: 2.3em
}
#header div.logo {
  margin-left: 30px;
}
form[name="macfilter"] #main {
  height: initial
}
form[name="macfilter"] .button[name="table_button"] {
  margin-left: 1em;
}
form[name="macfilter"] td[align="left"] {
  white-space: nowrap
}
#main {
  height: 100%;
  margin: 0;
  margin-left: 220px;
  padding: 1.5em;
  padding-top: 90px;
}
[name="macfilter"] #main {
  margin-left: 0
}
[name="macfilter"] #contentsInfo {
  margin-top: -5.5rem
}
#content, #contentInfo {
  margin: 0;
  padding: 0;
}
#helpContainer {
  display: none;
}
#statusInfo {
  position: absolute;
  top: 1.4em;
  right: 2em;
  width: 32.609em;
  text-align: left;
  color: #222;
}
#statusInfo a:hover {
  text-decoration: underline;
}
.submitFooter {
   position: sticky;
   bottom: 1em;
   padding: 8px 12px;
   margin-top: 0;
   text-align: center;
   border-radius: 4px;
 }
.nostick {
  position: unset;
}
#mainno .submitFooter {
  position: unset;
  margin: 2.5rem auto 0 223px;
  width: 77%
}
.submitFooter .button {
  padding: 0 1rem;
  height: 1.433rem;
}
fieldset {
  border-radius: 4px;
  padding: 0 .725em .725em .725em;
  margin: 0;
  border-radius: 3px;
}
div.setting {
  margin: 1px;
  margin-top: 6px;
  padding: 1px;
  padding-left: 0;
  clear: both;
}
.label {
  width: 20em;
  float: left;
}
.default {
  position: absolute;
  right: 0;
  width: 24em;
}
#menu {
  position: absolute;
  top: 60px;
  left: 10px;
  height: 2px;
  padding-top: 1em;
}
#menu, #menuMain, #menuMainList {
  width: 200px;
  max-width: 200px;
}
#menu * {
  padding: 0;
  margin-top: 2em
}
#menuMainList li {
  list-style: none;
  margin: 0;
  padding: 0 0 1px 0;
  line-height: 1;
}
#menuMainList :link, #menuMainList :visited, #menuMainList span {
  font-weight: normal;
  line-height: 1;
  display: block;
  text-decoration: none;
  margin: 0;
  padding: 5px 10px 5px .5em;
}
#menuMainList ul {
  margin: -1.8em 0 1rem;
  padding: 0;
}
#menuMainList ul :link, #menuMainList ul :visited, #menuMainList ul span {
  padding: 4px 10px 4px 1.5em;
}
.meter {
  float: right;
  position: relative;
  height: 16px;
  width: 220px;
  border-radius: 2px
}
.meter .bar {
  height: 16px;
  border-radius: 2px
}
.meter .text {
  position: absolute;
  top: 0;
  width: 100%;
  height: 16px;
  text-align: center;
  line-height: 15px;
}
td .meter {
  float: none !important;
  margin-top: 0 !important;
  width: 99% !important;
}
.progressbar {
  visibility: visible;
  position: relative;
  overflow: hidden;
  border-style: solid;
}
.progressbarblock {
  position: absolute;
}
input.spaceradio {
  margin-right: .4em;
}
#tablePwdCheck tr th {
  background-color: transparent;
  border: 0;
  color: #000;
  text-align: left;
  vertical-align: middle;
}
#score {
  color: #000;
  font-size: 85%;
  position: absolute;
  text-align: center;
  width: 100px;
  z-index: 10;
}
#score, #rating {
  font-weight: bold;
}
#scorebarBorder {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 2px;
  height: 12px;
  margin-bottom: 2px;
  width: 100px;
}
#logo {
  margin-top: -.4rem;
  margin-left: .6rem;
}
td.center, .warning {
  text-align: center;
}
div.center .button {
  margin-left: .3em;
  margin-top: .9em
}
iframe[src*='/graph_if.svg'] {
  max-width: 700px;
}
iframe#syslog {
  left: 14rem;
  top: 4.5rem;
  max-width: 77.888%;
  position: relative;
  height: 811px;
}
input.button[onclick*="do_show"]:not([value*="Month"]) {
  top: 3.2em;
  left: 1.2rem;
  position: relative;
}
.progressbar {
  visibility: visible;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  margin: 0 auto;
}
.progressbarblock {
  position: absolute;
}
.message {
  width: 70%;
  padding: .906em;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
}
textarea {
  padding: 4px;
  font-size: 12px;
  line-height: 1.42857;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
  resize: vertical;
}
