@import url(../common.css);
/*! brainslayer */
#header {
	background: #f1d496;
}
#header #logo {
  mix-blend-mode: exclusion;
  filter: hue-rotate(180deg) contrast(3) brightness(2)
}
#menuSub, #menuMainList li span, #help h2 {
  background: #eeeae4;
  color: #ec361d;
  border-color: #955322;
}
#menuSubList li a {
  background: #eee;
  color: #955322;
  border-color: #6384cf;
}
#menuSubList li a:hover {
  background: #fff;
  color: #ec361d;
  border-color: #849dd9;
}
fieldset legend, .syslog_legend {
  color: #ec361d;
}
#help a, #help a:hover {
  color: #fff;
}
.meter .bar {
  background-color: #496fc7;
}
.meter .text {
  color: #fff;
}
.progressbarblock {
  background-color: #496fc7;
}
input.button, input.button[disabled]:hover {
  background: #30519c;
  border: 1px solid #30519c;
  color: #fff;
}
input.button:hover {
  background: #6384cf;
  border: 1px solid #6384cf;
  color: #fff;
}
input:focus-visible, textarea:focus-visible,
select:focus-within {
  box-shadow: 0 0 5px 1px #6384cf;
  outline: 2px solid #6384cf;
}
