@import url(colors.css);
* {
  font-family: Tahoma, Arial, sans-serif;
  font-size: 1em;
}
body {
  margin: .906em;
  font-size: 75%;
}
.popup_bg {
  background-color: #fff
}
form {
  margin: 0;
  display: inline;
}
input, select,
option, .button {
  font-weight: bold;
}
select {
  min-width: 6rem;
}
select[name='time_zone'] {
  min-width: 17.7rem;
}
.button, select {
  padding: .05em .5em;
  margin: 0 .4em 0 0;
}
input.num {
  padding-left: 2px;
  padding-right: 2px;
  vertical-align: middle;
}
input.num[maxlength="3"] {
  width: 5%
}
input.num[name*="lease"][size="10"] {
  margin-right: 4px;
  width: 52%
}
.three_column, .four_column {
  width: 200px;
  margin-left: 0;
  margin-right: 10px;
}
input.three_column_last, input.four_column_last {
  margin-right: 0;
}
legend {
  font-weight: bold;
  margin-left: -.362em;
  padding: 0 .272em;
}
h1, h4 {
  margin: 1em 0 .5em 0;
}
h1 {
  padding-left: .4em;
}
h2, h3 {
  padding: 4px 12px;
  line-height: 1.42857;
  letter-spacing: .123rem;
  margin: 0 0 .906em 0;
  border-radius: 3px;
}
legend, :link, :visited {
  font-weight: bold;
}
hr {
  padding: 0;
  height: 4px;
  border: 0;
  margin: 2em 0;
}
table, .table {
  width: 100%;
}
#radio_table {
  width: 100%;
  text-align: center;
}
#radio_table td {
  height: 18px;
  border-radius: 2px;
}
[summary="edca ap parameters"], [summary="edca sta parameters"],
[summary="WMM Tx retry limits"] {
  width: 100%;
}
#wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
}
#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  margin: 0;
  padding: 0;
}
#header h1 {
  font-size: 2.3em
}
form[name="macfilter"] #main {
  height: initial
}
form[name="macfilter"] .button[name="table_button"] {
  margin-left: 1em;
}
form[name="macfilter"] td[align="left"] {
  white-space: nowrap
}
#main {
  height: 100%;
  margin: 0;
  margin-left: 230px;
  padding: 1.5em;
  padding-top: 90px;
}
[name="macfilter"] #main {
  margin-left: 0
}
[name="macfilter"] #contentsInfo {
  margin-top: -5.5rem
}
#content, #contentInfo {
  margin: 0;
  padding: 0;
}
#helpContainer {
  display: none;
}
#statusInfo {
  position: absolute;
  top: 1.4em;
  right: 2em;
  width: 32.609em;
  text-align: left;
  color: #222;
}
#statusInfo a:hover {
  text-decoration: underline;
}
.submitFooter {
   padding: 8px 12px;
   margin-top: 0;
   text-align: center;
   border-radius: 4px;
 }
.submitFooter .button {
  padding: 0 1rem;
  height: 1.433rem;
}
fieldset {
  padding: .725em;
  margin: 0;
  border-radius: 3px;
}
.setting {
  margin: 1px;
  margin-top: 3px;
  padding: 1px;
  padding-left: 0;
  clear: both;
}
.label {
  width: 20em;
  float: left;
}
.default {
  position: absolute;
  right: 0;
  width: 24em;
}
#menu {
  position: absolute;
  top: 60px;
  left: 0;
  padding-top: 1em;
}
#menu, #menuMain {
  width: 215px;
  max-width: 215px;
  font-size: 14px;
}
#menuMainList li {
  list-style: none;
}
#menuMainList :link, #menuMainList :visited, #menuMainList span {
  line-height: 1.2;
  display: block;
  text-decoration: none;
  margin-left: -2em;
  padding: 5px 0 4px .5em;
  transition: all 0.2s cubic-bezier(0.3, 0, 0.5, 1);
}
#menuSubList {
  margin-left: -1.5rem;
  margin-top: .5em;
}
.meter {
  float: right;
  position: relative;
  height: 16px;
  width: 220px;
  border-radius: 2px
}
.meter .bar {
  height: 16px;
  border-radius: 2px
}
.meter .text {
  position: absolute;
  top: 0;
  width: 100%;
  height: 16px;
  text-align: center;
  line-height: 15px;
}
td .meter {
  float: none !important;
  margin-top: 0 !important;
  width: 99% !important;
}
.progressbar {
  visibility: visible;
  position: relative;
  overflow: hidden;
  border-style: solid;
}
.progressbarblock {
  position: absolute;
}
.spaceradio {
  margin-right: .4em;
}
#score {
  font-size: 85%;
  position: absolute;
  text-align: center;
  width: 100px;
  z-index: 10;
}
#score, #rating {
  font-weight: bold;
}
#scorebarBorder {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 2px;
  height: 12px;
  margin-bottom: 2px;
  width: 100px;
}
#logo {
  margin-top: -.4rem;
  margin-left: .6rem;
}
div.center .button {
  margin-left: .3em;
  margin-top: .9em;
  float: left;
}
form[name='eop'] div.center .button {
  float: unset;
  margin-top: inherit;
}
.setting.center {
  text-align: left;
}
.center, .warning {
  text-align: center;
}
iframe[src*='/graph_if.svg'] {
  max-width: 700px;
}
iframe#syslog {
  left: 13.55rem;
  top: 5rem;
  max-width: 82%;
  position: relative;
  height: 811px;
}
#mainno .submitFooter {
  margin: 4.2rem 18em;
  min-width: 79.888%;
  max-width: 80.999%;
}
input.button[onclick*="do_show"]:not([value*='Month']) {
  margin: 2.8em .5em;
  position: relative;
  left: 2em
}
.progressbar {
  visibility: visible;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  margin: 0 auto;
}
.progressbarblock {
  position: absolute;
}
.message {
  width: 70%;
  padding: .906em;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
}
textarea {
  padding: 4px;
  font-size: 12px;
  line-height: 1.42857;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
  resize: vertical;
}
pre {
  overflow: auto;
  padding: .8em;
  margin-top: .2em;
  margin-left: .321em;
  margin-right: .2em;
  font-family: monospace;
  font-size: 13px;
  white-space: pre-wrap;
  border-radius: 4px;
}
.pre_label {
  margin-bottom: .2em;
  margin-left: .321em;
}
#main #contentsInfo div.col2l {
  float: left;
  width: 42.2em;
}
#main #contentsInfo div.col2r {
  float: right;
  width: 42.2em;
}
#contentsInfo [name="Info"] div.col2l {
  float: left;
  min-width: 100%;
}
#contentsInfo [name="Info"] div.col2r {
  float: left;
  min-width: 100%;
}
[type='image'][src*='paypal'] {
  margin-bottom: -1.3rem;
  margin-top: .2rem;
  padding: 0;
  border: 0
}
.center a[href] {
  line-height: 2.2;
}
