config RLT_WIFI
	tristate "RLT WIFI Driver"
	select WIFI_BASIC_FUNC if RLT_WIFI

if RLT_WIFI
menu "WiFi Generic Feature Options"

choice
	prompt "Choose First WiFi Interface"
	config FIRST_IF_NONE
	bool "None"

	config FIRST_IF_RT2860
	bool "RT2860"
	select RTMP_MAC
	select RALINK_RT2860
	
	config FIRST_IF_MT7620
	bool "MT7620"
	select RTMP_MAC
	select RALINK_RT6352

	config FIRST_IF_MT7612E
	bool "MT7612E"
	select RLT_MAC
	select RALINK_MT7612E

endchoice


choice
        prompt "EEPROM Type of 1st Card"
        depends on ! FIRST_IF_NONE

        config FIRST_IF_EEPROM_PROM
        bool "EEPROM"

        config FIRST_IF_EEPROM_EFUSE
        bool "EFUSE"

        config FIRST_IF_EEPROM_FLASH
        bool "FLASH"
endchoice

config RT_FIRST_CARD_EEPROM
        string
        depends on ! FIRST_IF_NONE
        default "prom" if FIRST_IF_EEPROM_PROM
        default "efuse" if FIRST_IF_EEPROM_EFUSE
        default "flash" if FIRST_IF_EEPROM_FLASH

choice
	prompt "Choose Second WiFi Interface"
	config SECOND_IF_NONE
	bool "None"

	config SECOND_IF_RT3092
	bool "RT3092"
	select RTMP_MAC
	select RALINK_RT3092
    
	config SECOND_IF_RT5392
	bool "RT5392"
	select RTMP_MAC
	select RALINK_RT5392
    	
	config SECOND_IF_RT5592
	bool "RT5592"
	select RTMP_MAC
	select RALINK_RT5592
	
	config SECOND_IF_RT3593
	bool "RT3593"
	select RTMP_MAC
	select RALINK_RT5392
    
	config SECOND_IF_RT3572
	bool "RT3572"
	select RTMP_MAC
	select RALINK_RT3572

	config SECOND_IF_RT5572
	bool "RT5572"
	select RTMP_MAC
	select RALINK_RT5572
    
	config SECOND_IF_MT7620
	bool "MT7620"
	select RTMP_MAC
	select RALINK_RT6352
    
	config SECOND_IF_MT7610U
	bool "MT7610U"
	select RLT_MAC
	select RALINK_MT7610U
    
	config SECOND_IF_MT7610E
	bool "MT7610E"
	select RLT_MAC
	select RALINK_MT7610E
    
	config SECOND_IF_RT8592
	bool "RT85592"
	select RLT_MAC
	select RALINK_RT8592
	
	config SECOND_IF_MT7612U
	bool "MT7612U"
	select RLT_MAC
	select RALINK_MT7612U
    
	config SECOND_IF_MT7612E
	bool "MT7612E"
	select RLT_MAC
	select RALINK_MT7612E

endchoice



choice
        prompt "EEPROM Type of 2nd Card"
        depends on ! SECOND_IF_NONE

        config SECOND_IF_EEPROM_PROM
        bool "EEPROM"

        config SECOND_IF_EEPROM_EFUSE
        bool "EFUSE"

        config SECOND_IF_EEPROM_FLASH
        bool "FLASH"
endchoice

config RT_SECOND_CARD_EEPROM
        string
        depends on ! SECOND_IF_NONE
        default "prom" if SECOND_IF_EEPROM_PROM
        default "efuse" if SECOND_IF_EEPROM_EFUSE
        default "flash" if SECOND_IF_EEPROM_FLASH
		
config MULTI_INF_SUPPORT
        bool
        default y if !FIRST_IF_NONE && !SECOND_IF_NONE
		
config WIFI_BASIC_FUNC
	bool "Basic Functions"
	select WIRELESS_EXT
	select WEXT_SPY
	select WEXT_PRIV
        
config WSC_INCLUDED
	bool "WSC (WiFi Simple Config)"
	depends on WIFI_DRIVER
    default y

config WSC_V2_SUPPORT
	bool "WSC V2(WiFi Simple Config Version 2.0)"
	depends on WIFI_DRIVER
    default y

config DOT11N_DRAFT3
	bool "802.11n Draft3"
    default y
    
config DOT11_VHT_AC
	bool "802.11 ac"
    default y
    
config DOT11W_PMF_SUPPORT
	bool "PMF"
	depends on WIFI_DRIVER
    default n

#config WMM_ACM_SUPPORT
#	bool "WMM ACM"
#	depends on WIFI_DRIVER
#   default n
	
config LLTD_SUPPORT
	bool "LLTD (Link Layer Topology Discovery Protocol)"
	depends on WIFI_DRIVER
    default n

config QOS_DLS_SUPPORT
	bool "802.11e DLS ((Direct-Link Setup) Support"
	depends on WIFI_DRIVER
    default n

#config WAPI_SUPPORT
#	bool "WAPI Support"
#	depends on WIFI_DRIVER
#    default n

config CARRIER_DETECTION_SUPPORT
	bool "Carrier Detect"
	depends on WIFI_DRIVER
    default n

config IGMP_SNOOP_SUPPORT
	bool "IGMP snooping"
	depends on WIFI_DRIVER
    default n

config BLOCK_NET_IF
	bool "NETIF Block"
	depends on WIFI_DRIVER
    default n
	help
	Support Net interface block while Tx-Sw queue full

config TXBF_SUPPORT
    bool "Tx Bean Forming Support"
    depends on WIFI_DRIVER
    default n

#config VIDEO_TURBINE_SUPPORT
#	bool "Video Turbine support"
#	depends on WIFI_DRIVER
#   default n

#config RA_CLASSIFIER
#	tristate "Ralink Flow Classifier"
#	depends on WIFI_DRIVER
#	default n

config RATE_ADAPTION
    bool "New Rate Adaptation support"
    default n

config NEW_RATE_ADAPT_SUPPORT
    bool "Intelligent Rate Adaption"
    depends on RATE_ADAPTION
    default y

config AGS_SUPPORT
	bool "Adaptive Group Switching"
	depends on RATE_ADAPTION
    default n
    
config IDS_SUPPORT
	bool "IDS (Intrusion Detection System) Support"
    default n

config WIFI_WORK_QUEUE
	bool "Work Queue"
	depends on WIFI_DRIVER
    default n

config WIFI_SKB_RECYCLE
    bool "SKB Recycle(Linux)"
    depends on WIFI_DRIVER
    default n

config RTMP_FLASH_SUPPORT
	bool "Flash Support"
    default y

config LED_CONTROL_SUPPORT
	bool "LED Support"
	depends on WIFI_DRIVER
    default n

#config SINGLE_SKU
#	bool "Single SKU"
#	depends on WIFI_DRIVER
#    default n

#config SINGLE_SKU_V2
#    bool "Single SKU V2"
#    depends on SINGLE_SKU && RALINK_RT6352
#    default n

config HW_ANTENNA_DIVERSITY
	bool "Antenna Diversity Support"
	depends on RLT_AP_SUPPORT || RLT_STA_SUPPORT
	depends on RALINK_RT5350
    default n

config ATE_SUPPORT
	bool "ATE/QA Support"
	depends on WIFI_DRIVER
    default n

config RT2860V2_AP_V24_DATA_STRUCTURE
	bool
	depends on WIFI_DRIVER
	default y

config  RT2860V2_AP_32B_DESC
	bool "32 Byte Descriptor Support"
	depends on WIFI_DRIVER
	depends on RALINK_RT6352 || RALINK_MT7620
	default n

config MEMORY_OPTIMIZATION
	bool "Memory Optimization"
	depends on WIFI_DRIVER
    default n

config RTMP_INTERNAL_TX_ALC
    bool "TSSI Compensation"
    depends on WIFI_DRIVER
    depends on RALINK_RT3350 || RALINK_RT3352 || RALINK_RT5350 || RALINK_RT6352
	default n
    
config RTMP_TEMPERATURE_CALIBRATION
    bool "Temperature Calibration"
    depends on WIFI_DRIVER
    depends on RALINK_RT6352
    default n

config HOTSPOT
	bool "Passpoint-R1"
	depends on WIFI_DRIVER
    default n
#
# Section for chip architectures
#
# "RLT MAC Support"
config RLT_MAC
	bool
	default y

config RLT_BBP
	bool

config RLT_RF
	bool

# "RTMP MAC Support"
config RTMP_MAC
	bool
	depends on WIFI_DRIVER
	default n

config RTMP_BBP
    	bool

config RTMP_RF
    	bool

#
# Section for interfaces
#
config RTMP_PCI_SUPPORT
    	bool

config RTMP_USB_SUPPORT
	bool

config RTMP_RBUS_SUPPORT
    	bool

endmenu

menu "WiFi Operation Modes"
    choice
        prompt "Main Mode"
        default WIFI_MODE_AP

        config WIFI_MODE_AP
                bool "AP"

        config WIFI_MODE_STA
                bool "STA"

        config WIFI_MODE_BOTH
                bool "APSTA"
    endchoice

    if WIFI_MODE_AP || WIFI_MODE_BOTH
        source "drivers/net/wireless/rt7612/rlt_wifi_ap/Kconfig"
    endif

    #if WIFI_MODE_STA || WIFI_MODE_BOTH
     #   source "drivers/net/wireless/rt7612/rlt_wifi_sta/Kconfig"
    #endif
endmenu	

#"RT2860 series"
config RALINK_RT28XX
        bool
        default n
        select RTMP_PCI_SUPPORT

#"RT3092"
config RALINK_RT3092
        bool
        default n
        select RTMP_PCI_SUPPORT

#"RT3572"
config RALINK_RT3572
        bool
        default n
        select RTMP_USB_SUPPORT

#"RT5392"
config RALINK_RT5392
        bool
        default n
        select RTMP_PCI_SUPPORT

#"RT5572"
config RALINK_RT5572
        bool
        default n
        select RTMP_USB_SUPPORT

#"RT5592"
config RALINK_RT5592
        bool
        default n
        select RTMP_PCI_SUPPORT

#"MT7620/RT6352"
config RALINK_RT6352
        bool
        default n
        select RTMP_RBUS_SUPPORT
#        select RTMP_TEMPERATURE_CALIBRATION
#        select RTMP_INTERNAL_TX_ALC

#"MT7610E"
config RALINK_MT7610E
        bool
        default n
        select RTMP_PCI_SUPPORT

#"MT7610U"
config RALINK_MT7610U
        bool
        default n
        select RTMP_USB_SUPPORT

#"RT8592"
config RALINK_RT8592
        bool
        default n
        select RTMP_PCI_SUPPORT

#"MT7612E"
config RALINK_MT7612E
        bool
        default y
        select RTMP_PCI_SUPPORT

config SECOND_IF_NONE
        bool "no secondary interface"
        default y

#"MT7612U"
config RALINK_MT7612U
        bool
        default n
        select RTMP_USB_SUPPORT

config  RT_FIRST_IF_RF_OFFSET
        hex "first if rf offset"
        depends on ! FIRST_IF_NONE
        default 0x8000

config  RT_SECOND_IF_RF_OFFSET
        hex "second if rf offset"
        depends on ! SECOND_IF_NONE
        default 0x48000


config  RT_FIRST_CARD
        string
        depends on ! FIRST_IF_NONE
        default 2860 if FIRST_IF_RT2860
        default 7620 if FIRST_IF_MT7620
	default 7612e if FIRST_IF_MT7612E
        
config  RT_SECOND_CARD
        string
        depends on ! SECOND_IF_NONE
        default 3090 if SECOND_IF_RT3092
        default 5392 if SECOND_IF_RT5392
        default 5592 if SECOND_IF_RT5592
        default 3593 if SECOND_IF_RT3593
        default 7610 if SECOND_IF_MT7610E
        default 8592 if SECOND_IF_RT8592
        default 3572 if SECOND_IF_RT3572
        default 5572 if SECOND_IF_RT5572
	default 7612e if SECOND_IF_MT7612E
	default 7612u if SECOND_IF_MT7612U

endif
