$include /etc/hotplug2-ddwrt.rules
$include /etc/hotplug2-common.rules

SUBSYSTEM ~~ (net|button|usb|platform|ieee1394|block|atm) {
	exec /sbin/hotplug %SUBSYSTEM%
}
