diff -urN SDK_3_1_0_0/RT288x_SDK/source/linux-2.6.21.x/drivers/flash/Kconfig SDK_3_2_0_0/RT288x_SDK/source/linux-2.6.21.x//drivers/flash/Kconfig
--- SDK_3_1_0_0/RT288x_SDK/source/linux-2.6.21.x/drivers/flash/Kconfig	2008-08-06 05:27:41.000000000 +0200
+++ SDK_3_2_0_0/RT288x_SDK/source/linux-2.6.21.x//drivers/flash/Kconfig	2008-10-24 08:20:14.000000000 +0200
@@ -13,10 +13,9 @@
 	bool "Mxic     MX29LV160"
 	depends on RALINK_FLASH_API
 
-#config FLASH_S29AL016X
-#	bool "Spansion S29AL016X"
-#	depends on RALINK_FLASH_API
-#
+config FLASH_S29AL016X
+	bool "Spansion S29AL016X"
+	depends on RALINK_FLASH_API
 config FLASH_K8D3X16U
 	bool "Samsung  K8D3X16U"
 	depends on RALINK_FLASH_API
@@ -31,17 +30,21 @@
 	bool "EON      EN29LV320"
 	depends on RALINK_FLASH_API
 
-config FLASH_SST39VF320X
-	bool "SST      SST39VF320X"
+#config FLASH_SST39VF320X
+#	bool "SST      SST39VF320X"
+#	depends on RALINK_FLASH_API
+
+config FLASH_S29AL032X
+	bool "Spansion S29AL032X"
 	depends on RALINK_FLASH_API
 
-#config FLASH_S29AL032X
-#	bool "Spansion S29AL032X"
-#	depends on RALINK_FLASH_API
+config FLASH_S29GL032N
+	bool "Spansion S29GL032N"
+	depends on RALINK_FLASH_API
 
-#config FLASH_S29GL032N
-#	bool "Spansion S29GL032N"
-#	depends on RALINK_FLASH_API
+config FLASH_F49L320
+	bool "ESMT F49L320X"
+	depends on RALINK_FLASH_API
 
 comment "8MB Flash"
 
@@ -49,9 +52,9 @@
 	bool "Mxic     MX29LV640"
 	depends on RALINK_FLASH_API
 
-#config FLASH_S29GL064N
-#	bool "Spansion S29GL064N"
-#	depends on RALINK_FLASH_API
+config FLASH_S29GL064N
+	bool "Spansion S29GL064N"
+	depends on RALINK_FLASH_API
 
 comment "16MB Flash"
 	
@@ -59,11 +62,11 @@
 	bool "Mxic     MX29LV128"
 	depends on RALINK_FLASH_API
 
-#comment "32MB Flash"
+comment "32MB Flash"
 	
-#config FLASH_S29GL256
-#	bool "Spansion S29GL256"
-#	depends on RALINK_FLASH_API
+config FLASH_S29GL256
+	bool "Spansion S29GL256"
+	depends on RALINK_FLASH_API
 
 endmenu
 
