.dialog {
  display: block;
  position: absolute;
  opacity: 1 !important;
}
.dialog table.table_window  { 
  border-collapse: collapse; 
  border-spacing: 0; 
  width: 100%;
  margin: 0;
  padding: 0;
}
.dialog table.table_window td,
.dialog table.table_window th { 
  padding: 0; 
}
.top.table_window, .bot.table_window {
  display: none;
}
.dialog .title_window {
  user-select: none;
}
