/dts-v1/;

/include/ "mt7620a.dtsi"

/ {
	compatible = "ralink,mt7620a-eval-board", "ralink,mt7620a-soc";
	model = "Ralink MT7620a + MT7610e evaluation board";

	palmbus@10000000 {
		spi@b00 {
			status = "okay";

			m25p80@0 {
				#address-cells = <1>;
				#size-cells = <1>;
				compatible = "w25q128", "mx25l6405d";
				reg = <0 0>;
				linux,modalias = "m25p80";
				spi-max-frequency = <10000000>;

				partition@0 {
					label = "u-boot";
					reg = <0x0 0x30000>;
				};

				partition@30000 {
					label = "u-boot-env";
					reg = <0x30000 0x10000>;
				};

				factory: partition@40000 {
					label = "factory";
					reg = <0x40000 0x10000>;
					read-only;
				};

				partition@50000 {
					label = "linux";
					reg = <0x50000 0xea0000>;
				};

				partition@f00000 {
					label = "User_CFG";
					reg = <0xf00000 0x100000>;
				};

				partition@ef0000 {
					label = "nvram";
					reg = <0xef0000 0x10000>;
				};

			};
		};
	};

	pinctrl {
		state_default: pinctrl0 {
			gpio {
				ralink,group = "i2c", "uartf", "wled", "nd_sd";
				ralink,function = "gpio";
			};
		};
	};

	ethernet@10100000 {
		pinctrl-names = "default";
		pinctrl-0 = <&rgmii1_pins &mdio_pins>;

		port@5 {
			status = "okay";
			phy-handle = <&phy5>;
			phy-mode = "rgmii";
		};

		mdio-bus {
			status = "okay";

			phy5: ethernet-phy@5 {
				reg = <5>;
				phy-mode = "rgmii";
			};
		};
	};

	gsw@10110000 {
		ralink,port4 = "ephy";
	};


	sdhci@10130000 {
		status = "okay";
	};

	pcie@10140000 {
		status = "okay";
	};

	gpio-keys-polled {
		compatible = "gpio-keys";
		#address-cells = <1>;
		#size-cells = <0>;
		poll-interval = <20>;
		s2 {
			label = "S2";
			gpios = <&gpio0 1 1>;
			linux,code = <0x100>;
		};
		s3 {
			label = "S3";
			gpios = <&gpio0 2 1>;
			linux,code = <0x101>;
		};
	};

	ehci@101c0000 {
		status = "okay";
	};

	ohci@101c1000 {
		status = "okay";
	};
};
