config SMB_SERVER
	tristate "SMB server support"
	depends on INET
	select NLS
	select NLS_UTF8
	select CRYPTO
	select CRYPTO_MD4
	select CRYPTO_MD5
	select CRYPTO_HMAC
	select CRYPTO_ARC4
	select CRYPTO_ECB
	select CRYPTO_LIB_DES
	select CRYPTO_SHA256
	select CRYPTO_CMAC
	select CRYPTO_SHA512
	select CRYPTO_AEAD2
	select CRYPTO_CCM
	select CRYPTO_GCM
	help
	  This config provides support for in-kernel CIFS/SMB3 server.

config SMB_INSECURE_SERVER
        bool "Support for insecure SMB1/CIFS and SMB2.0 protocols"
        depends on SMB_SERVER && INET
        select NLS
	default n

        help
	  This enables deprecated insecure protocols dialects: SMB1/CIFS
	  and SMB2.0

config SMB_SERVER_SMBDIRECT
	bool "Support for SMB Direct protocol"
	depends on SMB_SERVER && INFINIBAND && INFINIBAND_ADDR_TRANS
	default n

	help
	  This enables SMB direct protocol for SMB 3.x

config SMB_SERVER_DEBUGGING
	bool "Enable verbose debugging code"
	depends on SMB_SERVER
	default n

	help
	  This adds a lot of debugging code, which is compiled out
	  otherwise. Verbose debugging code increases the size of
	  the kernel module quite considerably.
