Source: rtpproxy
Section: net
Priority: optional
Maintainer: Jan Janak <jan@iptel.org>
Build-Depends: debhelper (>= 4.0.0), autotools-dev
Standards-Version: 3.6.1

Package: rtpproxy
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: RTP Proxy for SER
 RTP (Realtime Transport Protocol) proxy is an application that can be used
 to relay RTP media streams through a server in the public internet. That
 is often necessary when dealing with SIP (Session Initiation Protocol)
 user agents that are behind NAT (Network Address Translator).
 .
 This rtpproxy can be used in conjunction with nathelper module of SER
 (SIP Express Router). When nathelper module of SER detects that a user
 agent will need to relay media through a host in the public internet,
 it will contact rtpproxy and ask it to allocate a public IP and port
 the user agent can send it's RTP streams to. That information will
 then be communicated to the user agent in SDP (Session Description
 Document).
